backup-2025/09/hDhfJu3sn8lwfDuH.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T17:19:21.023Z",
  "id": "hDhfJu3sn8lwfDuH",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "path": "monday-map",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "aa9ba41a-0505-4671-abdc-78ea18c5490d",
      "name": "Webhook",
      "webhookId": "ce253f71-7412-41b2-a8a2-41ab53513e20"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Monday.com Patch PM System Map - Draw.io Compatible</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            padding: 20px;\n        }\n        \n        .container {\n            max-width: 1920px;\n            margin: 0 auto;\n        }\n        \n        .header {\n            background: rgba(255, 255, 255, 0.95);\n            backdrop-filter: blur(10px);\n            border-radius: 12px;\n            padding: 25px;\n            margin-bottom: 20px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);\n        }\n        \n        h1 {\n            color: #2d3748;\n            font-size: 28px;\n            margin-bottom: 15px;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .instructions {\n            color: #4a5568;\n            font-size: 14px;\n            line-height: 1.8;\n            margin-bottom: 20px;\n        }\n        \n        .legend {\n            display: flex;\n            gap: 25px;\n            flex-wrap: wrap;\n            padding-top: 20px;\n            border-top: 1px solid #e2e8f0;\n        }\n        \n        .legend-item {\n            display: flex;\n            align-items: center;\n            gap: 10px;\n            font-size: 13px;\n            color: #2d3748;\n        }\n        \n        .legend-box {\n            width: 24px;\n            height: 24px;\n            border-radius: 4px;\n            border: 2px solid;\n        }\n        \n        .controls {\n            display: flex;\n            gap: 10px;\n            margin-bottom: 20px;\n            flex-wrap: wrap;\n        }\n        \n        button {\n            background: #667eea;\n            color: white;\n            border: none;\n            padding: 12px 24px;\n            border-radius: 8px;\n            font-size: 14px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            font-weight: 500;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        \n        button:hover {\n            background: #5a67d8;\n            transform: translateY(-2px);\n            box-shadow: 0 5px 15px rgba(102, 126, 234, 0.3);\n        }\n        \n        button:active {\n            transform: translateY(0);\n        }\n        \n        .diagram-container {\n            background: white;\n            border-radius: 12px;\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);\n            overflow: auto;\n            position: relative;\n            height: 75vh;\n            min-height: 600px;\n        }\n        \n        svg {\n            display: block;\n            width: 100%;\n            height: 100%;\n            min-width: 2400px;\n            min-height: 2000px;\n        }\n        \n        .tooltip {\n            position: absolute;\n            background: rgba(0, 0, 0, 0.9);\n            color: white;\n            padding: 8px 12px;\n            border-radius: 6px;\n            font-size: 12px;\n            pointer-events: none;\n            z-index: 1000;\n            display: none;\n        }\n        \n        .board-node {\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n        \n        .board-node:hover {\n            filter: brightness(1.1);\n        }\n        \n        .download-info {\n            background: #f0f9ff;\n            border: 2px solid #0ea5e9;\n            border-radius: 8px;\n            padding: 15px;\n            margin-top: 20px;\n            color: #0c4a6e;\n        }\n        \n        .download-info h3 {\n            margin-bottom: 10px;\n            color: #0c4a6e;\n        }\n        \n        .download-info ol {\n            margin-left: 20px;\n            line-height: 1.8;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📊 Monday.com Patch PM Workspace - System Map</h1>\n            <div class=\"instructions\">\n                <strong>Comprehensive System Overview:</strong> This diagram visualizes your entire Monday.com workspace structure, \n                including board relationships, column types, formulas, mirrors, automations, and team ownership. \n                The diagram is optimized for export to draw.io for further editing.\n            </div>\n            <div class=\"legend\">\n                <div class=\"legend-item\">\n                    <div class=\"legend-box\" style=\"background: #FF6B6B; border-color: #FF6B6B;\"></div>\n                    <span><strong>High Criticality</strong> - Core Operations</span>\n                </div>\n                <div class=\"legend-item\">\n                    <div class=\"legend-box\" style=\"background: #FFE66D; border-color: #FFE66D;\"></div>\n                    <span><strong>Medium Criticality</strong> - Build Processes</span>\n                </div>\n                <div class=\"legend-item\">\n                    <div class=\"legend-box\" style=\"background: #4ECDC4; border-color: #4ECDC4;\"></div>\n                    <span><strong>Marketing</strong> - Campaigns & Ads</span>\n                </div>\n                <div class=\"legend-item\">\n                    <div class=\"legend-box\" style=\"background: #95E1D3; border-color: #95E1D3;\"></div>\n                    <span><strong>Low Criticality</strong> - SEO & Support</span>\n                </div>\n                <div class=\"legend-item\">\n                    <div class=\"legend-box\" style=\"background: none; border-color: #667eea; border-style: dashed;\"></div>\n                    <span><strong>Mirror/Formula</strong> - Data Dependencies</span>\n                </div>\n                <div class=\"legend-item\">\n                    <div class=\"legend-box\" style=\"background: none; border-color: #FF6B6B; border-width: 3px;\"></div>\n                    <span><strong>Board Relation</strong> - Direct Links</span>\n                </div>\n            </div>\n        </div>\n        \n        <div class=\"controls\">\n            <button onclick=\"downloadDrawIO()\">\n                <span>📥</span> Download for Draw.io\n            </button>\n            <button onclick=\"zoomIn()\">\n                <span>🔍</span> Zoom In\n            </button>\n            <button onclick=\"zoomOut()\">\n                <span>🔍</span> Zoom Out\n            </button>\n            <button onclick=\"resetView()\">\n                <span>🔄</span> Reset View\n            </button>\n        </div>\n        \n        <div class=\"diagram-container\" id=\"diagramContainer\">\n            <svg id=\"systemMap\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 2400 2000\">\n                <!-- Define markers for arrows -->\n                <defs>\n                    <marker id=\"arrowhead\" markerWidth=\"10\" markerHeight=\"10\" refX=\"9\" refY=\"3\" orient=\"auto\">\n                        <polygon points=\"0 0, 10 3, 0 6\" fill=\"#FF6B6B\" />\n                    </marker>\n                    <marker id=\"arrowhead-mirror\" markerWidth=\"10\" markerHeight=\"10\" refX=\"9\" refY=\"3\" orient=\"auto\">\n                        <polygon points=\"0 0, 10 3, 0 6\" fill=\"#667eea\" />\n                    </marker>\n                    <marker id=\"arrowhead-marketing\" markerWidth=\"10\" markerHeight=\"10\" refX=\"9\" refY=\"3\" orient=\"auto\">\n                        <polygon points=\"0 0, 10 3, 0 6\" fill=\"#4ECDC4\" />\n                    </marker>\n                </defs>\n                \n                <!-- TEAM DATABASES & DASHBOARDS Section -->\n                <g id=\"databases-section\">\n                    <rect x=\"50\" y=\"50\" width=\"1700\" height=\"400\" rx=\"10\" fill=\"#FFF5F5\" stroke=\"#FF6B6B\" stroke-width=\"3\"/>\n                    <text x=\"70\" y=\"85\" font-size=\"18\" font-weight=\"bold\" fill=\"#FF6B6B\">TEAM DATABASES &amp; DASHBOARDS</text>\n                    \n                    <!-- Company Database - Central Hub -->\n                    <rect x=\"100\" y=\"120\" width=\"320\" height=\"280\" rx=\"8\" fill=\"#FF6B6B\" stroke=\"#C53030\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"120\" y=\"150\" font-size=\"16\" font-weight=\"bold\" fill=\"white\">Company Database</text>\n                    <text x=\"120\" y=\"170\" font-size=\"12\" fill=\"white\">ID: 7851624642</text>\n                    <text x=\"120\" y=\"190\" font-size=\"11\" font-style=\"italic\" fill=\"white\">Owner: Ally Mills</text>\n                    <text x=\"120\" y=\"210\" font-size=\"12\" fill=\"white\">Items: 392 clients</text>\n                    <text x=\"120\" y=\"230\" font-size=\"12\" fill=\"white\">Criticality: HIGH (Business Risk)</text>\n                    \n                    <!-- Key Fields Box -->\n                    <rect x=\"120\" y=\"250\" width=\"280\" height=\"130\" rx=\"4\" fill=\"white\" stroke=\"#C53030\" stroke-width=\"1\"/>\n                    <text x=\"130\" y=\"270\" font-size=\"11\" font-weight=\"bold\" fill=\"#2D3748\">Key Fields:</text>\n                    <text x=\"130\" y=\"290\" font-size=\"10\" fill=\"#4A5568\">• Status (dropdown) - Active/Deactivated</text>\n                    <text x=\"130\" y=\"305\" font-size=\"10\" fill=\"#4A5568\">• Stage (formula) - M1-M6+ lifecycle</text>\n                    <text x=\"130\" y=\"320\" font-size=\"10\" fill=\"#4A5568\">• Patch Level (dropdown) - Service tier</text>\n                    <text x=\"130\" y=\"335\" font-size=\"10\" fill=\"#4A5568\">• Campaigns Built (board_relation)</text>\n                    <text x=\"130\" y=\"350\" font-size=\"10\" fill=\"#4A5568\">• Google Ads Status (mirror)</text>\n                    <text x=\"130\" y=\"365\" font-size=\"10\" fill=\"#4A5568\">• Reporting Flag (formula)</text>\n                    \n                    <!-- Stage Formula Detail -->\n                    <rect x=\"450\" y=\"120\" width=\"350\" height=\"100\" rx=\"8\" fill=\"#FFE5E5\" stroke=\"#FF6B6B\" stroke-width=\"2\" stroke-dasharray=\"5,5\"/>\n                    <text x=\"470\" y=\"145\" font-size=\"12\" font-weight=\"bold\" fill=\"#C53030\">Stage Formula (Critical):</text>\n                    <text x=\"470\" y=\"165\" font-size=\"10\" fill=\"#4A5568\">IF(DAYS(Today(),{Start Date})≤30,\"M1\",</text>\n                    <text x=\"470\" y=\"180\" font-size=\"10\" fill=\"#4A5568\">IF(DAYS(Today(),{Start Date})≤60,\"M2\",...))</text>\n                    <text x=\"470\" y=\"200\" font-size=\"10\" font-weight=\"bold\" fill=\"#FF0000\">⚠️ Drives all lifecycle stages &amp; automations</text>\n                    \n                    <!-- Reporting Flag Formula -->\n                    <rect x=\"450\" y=\"240\" width=\"350\" height=\"120\" rx=\"8\" fill=\"#FFE5E5\" stroke=\"#FF6B6B\" stroke-width=\"2\" stroke-dasharray=\"5,5\"/>\n                    <text x=\"470\" y=\"265\" font-size=\"12\" font-weight=\"bold\" fill=\"#C53030\">Reporting Flag Formula:</text>\n                    <text x=\"470\" y=\"285\" font-size=\"10\" fill=\"#4A5568\">Checks: Status=\"Customer\" AND</text>\n                    <text x=\"470\" y=\"300\" font-size=\"10\" fill=\"#4A5568\">• Patch Level=\"CMO\" OR</text>\n                    <text x=\"470\" y=\"315\" font-size=\"10\" fill=\"#4A5568\">• Has SEO OR</text>\n                    <text x=\"470\" y=\"330\" font-size=\"10\" fill=\"#4A5568\">• Google Ads Running 90+ days</text>\n                    <text x=\"470\" y=\"350\" font-size=\"10\" font-weight=\"bold\" fill=\"#FF0000\">⚠️ Triggers monthly reporting workflow</text>\n                </g>\n                \n                <!-- CRM BUILD BOARDS Section -->\n                <g id=\"crm-build-section\">\n                    <rect x=\"50\" y=\"500\" width=\"900\" height=\"600\" rx=\"10\" fill=\"#FFF9E6\" stroke=\"#FFD93D\" stroke-width=\"3\"/>\n                    <text x=\"70\" y=\"535\" font-size=\"18\" font-weight=\"bold\" fill=\"#F9C74F\">CRM BUILD BOARDS</text>\n                    \n                    <!-- Marketing Pro Build -->\n                    <rect x=\"100\" y=\"570\" width=\"250\" height=\"150\" rx=\"8\" fill=\"#FFE66D\" stroke=\"#F9C74F\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"120\" y=\"600\" font-size=\"14\" font-weight=\"bold\" fill=\"#2D3748\">Marketing Pro Build (M1)</text>\n                    <text x=\"120\" y=\"620\" font-size=\"11\" fill=\"#4A5568\">ID: 5743378103</text>\n                    <text x=\"120\" y=\"640\" font-size=\"11\" fill=\"#4A5568\">Owner: Ally Mills</text>\n                    <text x=\"120\" y=\"660\" font-size=\"11\" fill=\"#4A5568\">Items: 78 builds</text>\n                    <text x=\"120\" y=\"680\" font-size=\"11\" fill=\"#4A5568\">Groups: TO BE ASSIGNED, JASTER,</text>\n                    <text x=\"120\" y=\"695\" font-size=\"11\" fill=\"#4A5568\">CHA, CUSTOM, COMPLETED</text>\n                    <text x=\"120\" y=\"710\" font-size=\"11\" font-weight=\"bold\" fill=\"#F9C74F\">Criticality: MEDIUM</text>\n                    \n                    <!-- Starter Build -->\n                    <rect x=\"380\" y=\"570\" width=\"250\" height=\"150\" rx=\"8\" fill=\"#FFE66D\" stroke=\"#F9C74F\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"400\" y=\"600\" font-size=\"14\" font-weight=\"bold\" fill=\"#2D3748\">Starter Build (M1)</text>\n                    <text x=\"400\" y=\"620\" font-size=\"11\" fill=\"#4A5568\">ID: 5757393528</text>\n                    <text x=\"400\" y=\"640\" font-size=\"11\" fill=\"#4A5568\">Teams: CRM Solutions</text>\n                    <text x=\"400\" y=\"660\" font-size=\"11\" fill=\"#4A5568\">Items: 23 tasks</text>\n                    <text x=\"400\" y=\"680\" font-size=\"11\" fill=\"#4A5568\">Subitems: 5757393583</text>\n                    <text x=\"400\" y=\"710\" font-size=\"11\" font-weight=\"bold\" fill=\"#F9C74F\">Criticality: MEDIUM</text>\n                    \n                    <!-- Sales Pro Build -->\n                    <rect x=\"660\" y=\"570\" width=\"250\" height=\"150\" rx=\"8\" fill=\"#FFE66D\" stroke=\"#F9C74F\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"680\" y=\"600\" font-size=\"14\" font-weight=\"bold\" fill=\"#2D3748\">Sales Pro Build (M1)</text>\n                    <text x=\"680\" y=\"620\" font-size=\"11\" fill=\"#4A5568\">ID: 7941644273</text>\n                    <text x=\"680\" y=\"640\" font-size=\"11\" fill=\"#4A5568\">Teams: CRM Solutions</text>\n                    <text x=\"680\" y=\"660\" font-size=\"11\" fill=\"#4A5568\">Build Type: Standard/Custom</text>\n                    <text x=\"680\" y=\"710\" font-size=\"11\" font-weight=\"bold\" fill=\"#F9C74F\">Criticality: MEDIUM</text>\n                    \n                    <!-- Common Build Fields -->\n                    <rect x=\"100\" y=\"750\" width=\"350\" height=\"180\" rx=\"8\" fill=\"white\" stroke=\"#F9C74F\" stroke-width=\"2\"/>\n                    <text x=\"120\" y=\"775\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">Common Build Board Fields:</text>\n                    <text x=\"120\" y=\"795\" font-size=\"10\" fill=\"#4A5568\">• Status (status) - Working/Done/Stuck</text>\n                    <text x=\"120\" y=\"810\" font-size=\"10\" fill=\"#4A5568\">• Complete by Date (formula) - Start+30 days</text>\n                    <text x=\"120\" y=\"825\" font-size=\"10\" fill=\"#4A5568\">• Team Progress (mirror) - From subitems</text>\n                    <text x=\"120\" y=\"840\" font-size=\"10\" fill=\"#4A5568\">• Company Database (board_relation)</text>\n                    <text x=\"120\" y=\"855\" font-size=\"10\" fill=\"#4A5568\">• HubSpot ID (mirror) - From Company DB</text>\n                    <text x=\"120\" y=\"870\" font-size=\"10\" fill=\"#4A5568\">• CMS Info (mirror) - URL, Username, Password</text>\n                    <text x=\"120\" y=\"885\" font-size=\"10\" fill=\"#4A5568\">• Build Overdue (formula) - Flags late builds</text>\n                    <text x=\"120\" y=\"900\" font-size=\"10\" fill=\"#4A5568\">• Time Tracking (time_tracking) - Hours logged</text>\n                    <text x=\"120\" y=\"915\" font-size=\"10\" fill=\"#4A5568\">• Account Manager (mirror) - From Company DB</text>\n                    \n                    <!-- Build Automations -->\n                    <rect x=\"480\" y=\"750\" width=\"400\" height=\"140\" rx=\"8\" fill=\"#FFF3CD\" stroke=\"#F9C74F\" stroke-width=\"2\"/>\n                    <text x=\"500\" y=\"775\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">Build Board Automations:</text>\n                    <text x=\"500\" y=\"795\" font-size=\"10\" fill=\"#4A5568\">→ Status changes to \"Done\" → Notify CSM team</text>\n                    <text x=\"500\" y=\"810\" font-size=\"10\" fill=\"#4A5568\">→ Build Overdue = \"Y\" → Alert Account Manager</text>\n                    <text x=\"500\" y=\"825\" font-size=\"10\" fill=\"#4A5568\">→ New Item created → Generate subitems from template</text>\n                    <text x=\"500\" y=\"840\" font-size=\"10\" fill=\"#4A5568\">→ Group = \"COMPLETED\" → Archive after 30 days</text>\n                    <text x=\"500\" y=\"855\" font-size=\"10\" fill=\"#4A5568\">→ Ready for Zap = \"Ready\" → Trigger Zapier workflow</text>\n                    <text x=\"500\" y=\"870\" font-size=\"10\" fill=\"#FF0000\">⚠️ Automations depend on Company DB connection</text>\n                </g>\n                \n                <!-- MARKETING FULFILLMENT Section -->\n                <g id=\"marketing-section\">\n                    <rect x=\"1000\" y=\"500\" width=\"750\" height=\"600\" rx=\"10\" fill=\"#E6F7FF\" stroke=\"#4ECDC4\" stroke-width=\"3\"/>\n                    <text x=\"1020\" y=\"535\" font-size=\"18\" font-weight=\"bold\" fill=\"#2B8A83\">MARKETING FULFILLMENT</text>\n                    \n                    <!-- Campaign Builder -->\n                    <rect x=\"1050\" y=\"570\" width=\"220\" height=\"150\" rx=\"8\" fill=\"#4ECDC4\" stroke=\"#2B8A83\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"1070\" y=\"600\" font-size=\"14\" font-weight=\"bold\" fill=\"white\">Campaign Builder</text>\n                    <text x=\"1070\" y=\"620\" font-size=\"11\" fill=\"white\">ID: 7225887815</text>\n                    <text x=\"1070\" y=\"640\" font-size=\"11\" fill=\"white\">Owner: Emily Graves</text>\n                    <text x=\"1070\" y=\"660\" font-size=\"11\" fill=\"white\">Items: 986 campaigns</text>\n                    <text x=\"1070\" y=\"680\" font-size=\"11\" fill=\"white\">Teams: Marketing Mgmt</text>\n                    <text x=\"1070\" y=\"710\" font-size=\"11\" font-weight=\"bold\" fill=\"white\">Criticality: HIGH</text>\n                    \n                    <!-- Workshop Builder -->\n                    <rect x=\"1300\" y=\"570\" width=\"200\" height=\"150\" rx=\"8\" fill=\"#4ECDC4\" stroke=\"#2B8A83\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"1320\" y=\"600\" font-size=\"14\" font-weight=\"bold\" fill=\"white\">Workshop Builder</text>\n                    <text x=\"1320\" y=\"620\" font-size=\"11\" fill=\"white\">ID: 5743191537</text>\n                    <text x=\"1320\" y=\"640\" font-size=\"11\" fill=\"white\">Teams: Marketing</text>\n                    <text x=\"1320\" y=\"660\" font-size=\"11\" fill=\"white\">Subitems: 5744709848</text>\n                    <text x=\"1320\" y=\"710\" font-size=\"11\" font-weight=\"bold\" fill=\"white\">Criticality: LOW</text>\n                    \n                    <!-- Google Ads Tracker -->\n                    <rect x=\"1530\" y=\"570\" width=\"200\" height=\"150\" rx=\"8\" fill=\"#4ECDC4\" stroke=\"#2B8A83\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"1550\" y=\"600\" font-size=\"14\" font-weight=\"bold\" fill=\"white\">Google Ads Tracker</text>\n                    <text x=\"1550\" y=\"620\" font-size=\"11\" fill=\"white\">ID: 5969720705</text>\n                    <text x=\"1550\" y=\"640\" font-size=\"11\" fill=\"white\">Teams: PPC Specialists</text>\n                    <text x=\"1550\" y=\"660\" font-size=\"11\" fill=\"white\">Subitems: 6109122114</text>\n                    <text x=\"1550\" y=\"710\" font-size=\"11\" font-weight=\"bold\" fill=\"white\">Criticality: MEDIUM</text>\n                    \n                    <!-- Campaign Fields -->\n                    <rect x=\"1050\" y=\"750\" width=\"320\" height=\"180\" rx=\"8\" fill=\"white\" stroke=\"#2B8A83\" stroke-width=\"2\"/>\n                    <text x=\"1070\" y=\"775\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">Campaign Builder Fields:</text>\n                    <text x=\"1070\" y=\"795\" font-size=\"10\" fill=\"#4A5568\">• Campaign Type (dropdown) - 15 types</text>\n                    <text x=\"1070\" y=\"810\" font-size=\"10\" fill=\"#4A5568\">• Go Live Date (date)</text>\n                    <text x=\"1070\" y=\"825\" font-size=\"10\" fill=\"#4A5568\">• Built By Date (formula) - Live minus 3 days</text>\n                    <text x=\"1070\" y=\"840\" font-size=\"10\" fill=\"#4A5568\">• Status (status) - 11 states</text>\n                    <text x=\"1070\" y=\"855\" font-size=\"10\" fill=\"#4A5568\">• Company Database (board_relation)</text>\n                    <text x=\"1070\" y=\"870\" font-size=\"10\" fill=\"#4A5568\">• HubSpot Level (mirror)</text>\n                    <text x=\"1070\" y=\"885\" font-size=\"10\" fill=\"#4A5568\">• Built By Checker (formula)</text>\n                    <text x=\"1070\" y=\"900\" font-size=\"10\" fill=\"#4A5568\">• Progress (mirror from subitems)</text>\n                    <text x=\"1070\" y=\"915\" font-size=\"10\" fill=\"#4A5568\">• Current Quarter Count (formula)</text>\n                    \n                    <!-- Marketing Automations -->\n                    <rect x=\"1400\" y=\"750\" width=\"330\" height=\"120\" rx=\"8\" fill=\"#D1F2EB\" stroke=\"#2B8A83\" stroke-width=\"2\"/>\n                    <text x=\"1420\" y=\"775\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">Marketing Automations:</text>\n                    <text x=\"1420\" y=\"795\" font-size=\"10\" fill=\"#4A5568\">→ Form submission → Create campaign task</text>\n                    <text x=\"1420\" y=\"810\" font-size=\"10\" fill=\"#4A5568\">→ Status = \"Ready\" → Notify builder</text>\n                    <text x=\"1420\" y=\"825\" font-size=\"10\" fill=\"#4A5568\">→ Overdue = \"Y\" → Alert manager</text>\n                    <text x=\"1420\" y=\"840\" font-size=\"10\" fill=\"#4A5568\">→ Group = \"Completed\" → Update Company DB</text>\n                    <text x=\"1420\" y=\"855\" font-size=\"10\" fill=\"#4A5568\">→ NPS Request → Special workflow</text>\n                </g>\n                \n                <!-- SEO FULFILLMENT Section -->\n                <g id=\"seo-section\">\n                    <rect x=\"50\" y=\"1150\" width=\"700\" height=\"350\" rx=\"10\" fill=\"#F0FFF4\" stroke=\"#95E1D3\" stroke-width=\"3\"/>\n                    <text x=\"70\" y=\"1185\" font-size=\"18\" font-weight=\"bold\" fill=\"#6FCF97\">SEO FULFILLMENT</text>\n                    \n                    <!-- SEO Boards -->\n                    <rect x=\"100\" y=\"1220\" width=\"180\" height=\"100\" rx=\"8\" fill=\"#95E1D3\" stroke=\"#6FCF97\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"120\" y=\"1250\" font-size=\"13\" font-weight=\"bold\" fill=\"#2D3748\">SEO Homepage</text>\n                    <text x=\"120\" y=\"1270\" font-size=\"11\" fill=\"#4A5568\">ID: 10001285164</text>\n                    <text x=\"120\" y=\"1290\" font-size=\"11\" fill=\"#4A5568\">Teams: SEO</text>\n                    <text x=\"120\" y=\"1310\" font-size=\"11\" fill=\"#6FCF97\">Criticality: LOW</text>\n                    \n                    <rect x=\"300\" y=\"1220\" width=\"180\" height=\"100\" rx=\"8\" fill=\"#95E1D3\" stroke=\"#6FCF97\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"320\" y=\"1250\" font-size=\"13\" font-weight=\"bold\" fill=\"#2D3748\">Blog Tracker</text>\n                    <text x=\"320\" y=\"1270\" font-size=\"11\" fill=\"#4A5568\">ID: 8356708414</text>\n                    <text x=\"320\" y=\"1290\" font-size=\"11\" fill=\"#4A5568\">Content tracking</text>\n                    <text x=\"320\" y=\"1310\" font-size=\"11\" fill=\"#6FCF97\">Criticality: LOW</text>\n                    \n                    <rect x=\"500\" y=\"1220\" width=\"180\" height=\"100\" rx=\"8\" fill=\"#95E1D3\" stroke=\"#6FCF97\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"520\" y=\"1250\" font-size=\"13\" font-weight=\"bold\" fill=\"#2D3748\">Local Tracker</text>\n                    <text x=\"520\" y=\"1270\" font-size=\"11\" fill=\"#4A5568\">ID: 9272672820</text>\n                    <text x=\"520\" y=\"1290\" font-size=\"11\" fill=\"#4A5568\">Subitems: 9285217056</text>\n                    <text x=\"520\" y=\"1310\" font-size=\"11\" fill=\"#6FCF97\">Criticality: LOW</text>\n                    \n                    <!-- SEO Process -->\n                    <rect x=\"100\" y=\"1350\" width=\"580\" height=\"100\" rx=\"8\" fill=\"white\" stroke=\"#6FCF97\" stroke-width=\"2\"/>\n                    <text x=\"120\" y=\"1375\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">SEO Workflow:</text>\n                    <text x=\"120\" y=\"1395\" font-size=\"10\" fill=\"#4A5568\">• Set-Up Board (7019665891) → Initial configuration</text>\n                    <text x=\"120\" y=\"1410\" font-size=\"10\" fill=\"#4A5568\">• Technical Tracker (10006810698) → Site audits &amp; fixes</text>\n                    <text x=\"120\" y=\"1425\" font-size=\"10\" fill=\"#4A5568\">• Blog/Local/Homepage → Content &amp; optimization tracking</text>\n                    <text x=\"120\" y=\"1440\" font-size=\"10\" fill=\"#4A5568\">• All boards connect to Company Database for client info</text>\n                </g>\n                \n                <!-- OPERATIONS & LEADERSHIP Section -->\n                <g id=\"ops-section\">\n                    <rect x=\"800\" y=\"1150\" width=\"700\" height=\"350\" rx=\"10\" fill=\"#FFF0F5\" stroke=\"#FF6B9D\" stroke-width=\"3\"/>\n                    <text x=\"820\" y=\"1185\" font-size=\"18\" font-weight=\"bold\" fill=\"#C9184A\">OPERATIONS &amp; LEADERSHIP</text>\n                    \n                    <rect x=\"850\" y=\"1220\" width=\"200\" height=\"120\" rx=\"8\" fill=\"#FF6B9D\" stroke=\"#C9184A\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"870\" y=\"1250\" font-size=\"14\" font-weight=\"bold\" fill=\"white\">Rocks Boards</text>\n                    <text x=\"870\" y=\"1270\" font-size=\"11\" fill=\"white\">ID: 8662215380</text>\n                    <text x=\"870\" y=\"1290\" font-size=\"11\" fill=\"white\">Owner: Leadership</text>\n                    <text x=\"870\" y=\"1310\" font-size=\"11\" fill=\"white\">Subitems: 8887565656</text>\n                    <text x=\"870\" y=\"1330\" font-size=\"11\" font-weight=\"bold\" fill=\"white\">Criticality: HIGH</text>\n                    \n                    <rect x=\"1080\" y=\"1220\" width=\"200\" height=\"120\" rx=\"8\" fill=\"#FF6B9D\" stroke=\"#C9184A\" stroke-width=\"2\" class=\"board-node\"/>\n                    <text x=\"1100\" y=\"1250\" font-size=\"14\" font-weight=\"bold\" fill=\"white\">Ops Project Intake</text>\n                    <text x=\"1100\" y=\"1270\" font-size=\"11\" fill=\"white\">ID: 9914845832</text>\n                    <text x=\"1100\" y=\"1290\" font-size=\"11\" fill=\"white\">Teams: Operations</text>\n                    <text x=\"1100\" y=\"1330\" font-size=\"11\" font-weight=\"bold\" fill=\"white\">Criticality: MEDIUM</text>\n                    \n                    <rect x=\"850\" y=\"1360\" width=\"430\" height=\"100\" rx=\"8\" fill=\"white\" stroke=\"#C9184A\" stroke-width=\"2\"/>\n                    <text x=\"870\" y=\"1385\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">Additional Operations Boards:</text>\n                    <text x=\"870\" y=\"1405\" font-size=\"10\" fill=\"#4A5568\">• Head of Ops Roadmap (9914361990) - Strategic planning</text>\n                    <text x=\"870\" y=\"1420\" font-size=\"10\" fill=\"#4A5568\">• AI Agent Tracker (9858769458) - Automation tracking</text>\n                    <text x=\"870\" y=\"1435\" font-size=\"10\" fill=\"#4A5568\">• Content Planner (8876861964) - Social media &amp; content</text>\n                    <text x=\"870\" y=\"1450\" font-size=\"10\" fill=\"#4A5568\">• Website Builds (7864276954) - Web development projects</text>\n                </g>\n                \n                <!-- UPGRADE/DOWNGRADE Section -->\n                <g id=\"upgrade-section\">\n                    <rect x=\"1550\" y=\"1150\" width=\"350\" height=\"350\" rx=\"10\" fill=\"#F5F3FF\" stroke=\"#9333EA\" stroke-width=\"3\"/>\n                    <text x=\"1570\" y=\"1185\" font-size=\"18\" font-weight=\"bold\" fill=\"#9333EA\">UPGRADES/DOWNGRADES</text>\n                    \n                    <rect x=\"1580\" y=\"1220\" width=\"290\" height=\"250\" rx=\"8\" fill=\"white\" stroke=\"#9333EA\" stroke-width=\"2\"/>\n                    <text x=\"1600\" y=\"1245\" font-size=\"12\" font-weight=\"bold\" fill=\"#2D3748\">Service Change Boards:</text>\n                    <text x=\"1600\" y=\"1265\" font-size=\"10\" fill=\"#4A5568\">• Dashboard Upgrade Requests</text>\n                    <text x=\"1610\" y=\"1280\" font-size=\"9\" fill=\"#6B7280\">ID: 9811838705</text>\n                    <text x=\"1600\" y=\"1300\" font-size=\"10\" fill=\"#4A5568\">• Lifecycle Email Update Requests</text>\n                    <text x=\"1610\" y=\"1315\" font-size=\"9\" fill=\"#6B7280\">ID: 8895458871</text>\n                    <text x=\"1600\" y=\"1335\" font-size=\"10\" fill=\"#4A5568\">• Birthday Workflow Requests</text>\n                    <text x=\"1610\" y=\"1350\" font-size=\"9\" fill=\"#6B7280\">ID: 8895408633</text>\n                    <text x=\"1600\" y=\"1370\" font-size=\"10\" fill=\"#4A5568\">• Marketing Pro Upgrade</text>\n                    <text x=\"1610\" y=\"1385\" font-size=\"9\" fill=\"#6B7280\">ID: 8898644855</text>\n                    <text x=\"1600\" y=\"1405\" font-size=\"10\" fill=\"#4A5568\">• Sales Pro Upgrade</text>\n                    <text x=\"1610\" y=\"1420\" font-size=\"9\" fill=\"#6B7280\">ID: 7863249246</text>\n                    <text x=\"1600\" y=\"1445\" font-size=\"10\" font-style=\"italic\" fill=\"#9333EA\">All connect to Company DB</text>\n                    <text x=\"1600\" y=\"1460\" font-size=\"10\" font-style=\"italic\" fill=\"#9333EA\">for client status updates</text>\n                </g>\n                \n                <!-- CONNECTION LINES - Board Relations -->\n                <!-- Company DB to Marketing Pro Build -->\n                <line x1=\"420\" y1=\"400\" x2=\"225\" y2=\"570\" stroke=\"#FF6B6B\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n                <text x=\"320\" y=\"480\" font-size=\"10\" fill=\"#FF6B6B\" font-weight=\"bold\">Board Relation</text>\n                \n                <!-- Company DB to Starter Build -->\n                <line x1=\"420\" y1=\"400\" x2=\"505\" y2=\"570\" stroke=\"#FF6B6B\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n                \n                <!-- Company DB to Sales Pro Build -->\n                <line x1=\"420\" y1=\"400\" x2=\"785\" y2=\"570\" stroke=\"#FF6B6B\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n                \n                <!-- Company DB to Campaign Builder -->\n                <line x1=\"420\" y1=\"250\" x2=\"1050\" y2=\"600\" stroke=\"#FF6B6B\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n                <text x=\"700\" y=\"400\" font-size=\"10\" fill=\"#FF6B6B\" font-weight=\"bold\">Campaigns Relation</text>\n                \n                <!-- Company DB to Workshop Builder -->\n                <line x1=\"420\" y1=\"250\" x2=\"1300\" y2=\"600\" stroke=\"#FF6B6B\" stroke-width=\"2\" marker-end=\"url(#arrowhead)\"/>\n                \n                <!-- Company DB to Google Ads -->\n                <line x1=\"420\" y1=\"250\" x2=\"1530\" y2=\"600\" stroke=\"#FF6B6B\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n                <text x=\"900\" y=\"350\" font-size=\"10\" fill=\"#FF6B6B\" font-weight=\"bold\">Ads Status Mirror</text>\n                \n                <!-- Campaign Builder to Google Ads -->\n                <line x1=\"1270\" y1=\"645\" x2=\"1530\" y2=\"645\" stroke=\"#4ECDC4\" stroke-width=\"2\" marker-end=\"url(#arrowhead-marketing)\"/>\n                <text x=\"1380\" y=\"635\" font-size=\"10\" fill=\"#4ECDC4\">Campaign→Ads</text>\n                \n                <!-- Company DB to SEO Boards -->\n                <line x1=\"260\" y1=\"450\" x2=\"190\" y2=\"1220\" stroke=\"#95E1D3\" stroke-width=\"2\" stroke-dasharray=\"5,5\" marker-end=\"url(#arrowhead)\"/>\n                <line x1=\"260\" y1=\"450\" x2=\"390\" y2=\"1220\" stroke=\"#95E1D3\" stroke-width=\"2\" stroke-dasharray=\"5,5\" marker-end=\"url(#arrowhead)\"/>\n                <line x1=\"260\" y1=\"450\" x2=\"590\" y2=\"1220\" stroke=\"#95E1D3\" stroke-width=\"2\" stroke-dasharray=\"5,5\" marker-end=\"url(#arrowhead)\"/>\n                \n                <!-- Mirror Dependencies -->\n                <line x1=\"225\" y1=\"720\" x2=\"1160\" y2=\"750\" stroke=\"#667EEA\" stroke-width=\"2\" stroke-dasharray=\"8,4\" marker-end=\"url(#arrowhead-mirror)\"/>\n                <text x=\"600\" y=\"730\" font-size=\"10\" fill=\"#667EEA\" font-style=\"italic\">Mirror: HubSpot Data</text>\n                \n                <!-- CRITICAL WARNINGS & NOTES -->\n                <rect x=\"1950\" y=\"200\" width=\"400\" height=\"150\" rx=\"8\" fill=\"#FFE5E5\" stroke=\"#FF0000\" stroke-width=\"3\"/>\n                <text x=\"1970\" y=\"225\" font-size=\"14\" font-weight=\"bold\" fill=\"#FF0000\">⚠️ CRITICAL DEPENDENCIES</text>\n                <text x=\"1970\" y=\"245\" font-size=\"11\" fill=\"#4A5568\">• Company Database is the single source of truth</text>\n                <text x=\"1970\" y=\"260\" font-size=\"11\" fill=\"#4A5568\">• Stage Formula affects all lifecycle automations</text>\n                <text x=\"1970\" y=\"275\" font-size=\"11\" fill=\"#4A5568\">• Mirror columns break if source column deleted</text>\n                <text x=\"1970\" y=\"290\" font-size=\"11\" fill=\"#4A5568\">• Board Relations are bidirectional - changes affect both</text>\n                <text x=\"1970\" y=\"305\" font-size=\"11\" fill=\"#4A5568\">• Deleting Company DB items cascades to all boards</text>\n                <text x=\"1970\" y=\"320\" font-size=\"11\" fill=\"#4A5568\">• Formula columns can't be directly edited</text>\n                <text x=\"1970\" y=\"335\" font-size=\"11\" fill=\"#4A5568\">• Subitems have separate board IDs</text>\n                \n                <rect x=\"1950\" y=\"380\" width=\"400\" height=\"140\" rx=\"8\" fill=\"#E6F3FF\" stroke=\"#0066CC\" stroke-width=\"2\"/>\n                <text x=\"1970\" y=\"405\" font-size=\"14\" font-weight=\"bold\" fill=\"#0066CC\">📊 TEAM INTERSECTIONS</text>\n                <text x=\"1970\" y=\"425\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Leadership:</tspan> Company DB, Rocks Boards</text>\n                <text x=\"1970\" y=\"440\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">CRM Solutions:</tspan> All Build Boards (Marketing/Sales/Starter)</text>\n                <text x=\"1970\" y=\"455\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Marketing Management:</tspan> Campaign &amp; Workshop Builders</text>\n                <text x=\"1970\" y=\"470\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">PPC Specialists:</tspan> Google Ads Tracker</text>\n                <text x=\"1970\" y=\"485\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">SEO Team:</tspan> Blog, Local, Technical, Homepage</text>\n                <text x=\"1970\" y=\"500\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Operations:</tspan> Project Intake, AI Agents, Roadmap</text>\n                <text x=\"1970\" y=\"515\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Account Managers:</tspan> Cross-board visibility</text>\n                \n                <rect x=\"1950\" y=\"550\" width=\"400\" height=\"120\" rx=\"8\" fill=\"#F0F0F0\" stroke=\"#666666\" stroke-width=\"2\"/>\n                <text x=\"1970\" y=\"575\" font-size=\"14\" font-weight=\"bold\" fill=\"#333333\">🔒 PERMISSIONS &amp; ACCESS</text>\n                <text x=\"1970\" y=\"595\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Super Admins:</tspan> Full access to all boards</text>\n                <text x=\"1970\" y=\"610\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Team Owners:</tspan> Edit permissions on their boards</text>\n                <text x=\"1970\" y=\"625\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Default Permission:</tspan> Everyone (view only)</text>\n                <text x=\"1970\" y=\"640\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Private Boards:</tspan> Owner + invited members only</text>\n                <text x=\"1970\" y=\"655\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Workspace Type:</tspan> Open (visible to all members)</text>\n                \n                <rect x=\"1950\" y=\"700\" width=\"400\" height=\"180\" rx=\"8\" fill=\"#FFF9E6\" stroke=\"#F59E0B\" stroke-width=\"2\"/>\n                <text x=\"1970\" y=\"725\" font-size=\"14\" font-weight=\"bold\" fill=\"#F59E0B\">🔄 KEY AUTOMATIONS SUMMARY</text>\n                <text x=\"1970\" y=\"745\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Build Complete:</tspan> Status=Done → Notify CSM</text>\n                <text x=\"1970\" y=\"760\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Overdue Alert:</tspan> Date passed → Alert Manager</text>\n                <text x=\"1970\" y=\"775\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Campaign Ready:</tspan> Status=Ready → Notify Builder</text>\n                <text x=\"1970\" y=\"790\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Reporting Flag:</tspan> Y → Generate monthly report</text>\n                <text x=\"1970\" y=\"805\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">New Item:</tspan> Create → Generate subitems</text>\n                <text x=\"1970\" y=\"820\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Archive:</tspan> Group=Completed → Archive 30 days</text>\n                <text x=\"1970\" y=\"835\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Zapier Integration:</tspan> Ready for Zap → External</text>\n                <text x=\"1970\" y=\"850\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">Form Submission:</tspan> New form → Create campaign</text>\n                <text x=\"1970\" y=\"865\" font-size=\"11\" fill=\"#4A5568\">• <tspan font-weight=\"bold\">NPS Request:</tspan> Type=NPS → Special workflow</text>\n            </svg>\n        </div>\n        \n        <div class=\"download-info\">\n            <h3>📥 How to Use This Diagram in Draw.io:</h3>\n            <ol>\n                <li>Click the \"Download for Draw.io\" button above to save the XML file</li>\n                <li>Open <a href=\"https://app.diagrams.net/\" target=\"_blank\" style=\"color: #0ea5e9;\">draw.io</a> in your browser</li>\n                <li>Select \"File\" → \"Open from\" → \"Device\"</li>\n                <li>Choose the downloaded XML file</li>\n                <li>Edit, add notes, or export in various formats (PNG, PDF, etc.)</li>\n            </ol>\n        </div>\n    </div>\n    \n    <div class=\"tooltip\" id=\"tooltip\"></div>\n    \n    <script>\n        let currentZoom = 1;\n        const diagram = document.getElementById('systemMap');\n        const container = document.getElementById('diagramContainer');\n        \n        function zoomIn() {\n            currentZoom = Math.min(currentZoom * 1.2, 3);\n            diagram.style.transform = `scale(${currentZoom})`;\n            diagram.style.transformOrigin = 'top left';\n        }\n        \n        function zoomOut() {\n            currentZoom = Math.max(currentZoom / 1.2, 0.5);\n            diagram.style.transform = `scale(${currentZoom})`;\n            diagram.style.transformOrigin = 'top left';\n        }\n        \n        function resetView() {\n            currentZoom = 1;\n            diagram.style.transform = 'scale(1)';\n            container.scrollTop = 0;\n            container.scrollLeft = 0;\n        }\n        \n        function downloadDrawIO() {\n            // Create Draw.io compatible XML\n            const drawIOContent = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<mxfile host=\"app.diagrams.net\" version=\"21.7.5\">\n  <diagram name=\"Monday.com Patch PM System Map\" id=\"patch-pm-system\">\n    <mxGraphModel dx=\"2400\" dy=\"2000\" grid=\"1\" gridSize=\"10\" guides=\"1\" tooltips=\"1\" connect=\"1\" arrows=\"1\" fold=\"1\" page=\"1\" pageScale=\"1\" pageWidth=\"2400\" pageHeight=\"2000\">\n      <root>\n        <mxCell id=\"0\"/>\n        <mxCell id=\"1\" parent=\"0\"/>\n        \n        <!-- Team Databases Section -->\n        <mxCell id=\"2\" value=\"TEAM DATABASES &amp; DASHBOARDS\" style=\"swimlane;fillColor=#FFF5F5;strokeColor=#FF6B6B;strokeWidth=3;fontSize=18;fontStyle=1;startSize=40;\" vertex=\"1\" parent=\"1\">\n          <mxGeometry x=\"50\" y=\"50\" width=\"1700\" height=\"400\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Company Database -->\n        <mxCell id=\"3\" value=\"Company Database&#xa;ID: 7851624642&#xa;Owner: Ally Mills&#xa;Items: 392 clients&#xa;Criticality: HIGH\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#FF6B6B;fontColor=white;strokeColor=#C53030;strokeWidth=2;fontSize=12;\" vertex=\"1\" parent=\"2\">\n          <mxGeometry x=\"50\" y=\"70\" width=\"320\" height=\"280\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- CRM Build Section -->\n        <mxCell id=\"4\" value=\"CRM BUILD BOARDS\" style=\"swimlane;fillColor=#FFF9E6;strokeColor=#FFD93D;strokeWidth=3;fontSize=18;fontStyle=1;startSize=40;\" vertex=\"1\" parent=\"1\">\n          <mxGeometry x=\"50\" y=\"500\" width=\"900\" height=\"600\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Marketing Pro Build -->\n        <mxCell id=\"5\" value=\"Marketing Pro Build (M1)&#xa;ID: 5743378103&#xa;Owner: Ally Mills&#xa;Items: 78 builds&#xa;Criticality: MEDIUM\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#FFE66D;strokeColor=#F9C74F;strokeWidth=2;fontSize=11;\" vertex=\"1\" parent=\"4\">\n          <mxGeometry x=\"50\" y=\"70\" width=\"250\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Starter Build -->\n        <mxCell id=\"6\" value=\"Starter Build (M1)&#xa;ID: 5757393528&#xa;Teams: CRM Solutions&#xa;Items: 23 tasks&#xa;Criticality: MEDIUM\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#FFE66D;strokeColor=#F9C74F;strokeWidth=2;fontSize=11;\" vertex=\"1\" parent=\"4\">\n          <mxGeometry x=\"330\" y=\"70\" width=\"250\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Sales Pro Build -->\n        <mxCell id=\"7\" value=\"Sales Pro Build (M1)&#xa;ID: 7941644273&#xa;Teams: CRM Solutions&#xa;Criticality: MEDIUM\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#FFE66D;strokeColor=#F9C74F;strokeWidth=2;fontSize=11;\" vertex=\"1\" parent=\"4\">\n          <mxGeometry x=\"610\" y=\"70\" width=\"250\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Marketing Fulfillment Section -->\n        <mxCell id=\"8\" value=\"MARKETING FULFILLMENT\" style=\"swimlane;fillColor=#E6F7FF;strokeColor=#4ECDC4;strokeWidth=3;fontSize=18;fontStyle=1;startSize=40;\" vertex=\"1\" parent=\"1\">\n          <mxGeometry x=\"1000\" y=\"500\" width=\"750\" height=\"600\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Campaign Builder -->\n        <mxCell id=\"9\" value=\"Campaign Builder&#xa;ID: 7225887815&#xa;Owner: Emily Graves&#xa;Items: 986 campaigns&#xa;Criticality: HIGH\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#4ECDC4;fontColor=white;strokeColor=#2B8A83;strokeWidth=2;fontSize=11;\" vertex=\"1\" parent=\"8\">\n          <mxGeometry x=\"50\" y=\"70\" width=\"220\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Workshop Builder -->\n        <mxCell id=\"10\" value=\"Workshop Builder&#xa;ID: 5743191537&#xa;Teams: Marketing&#xa;Criticality: LOW\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#4ECDC4;fontColor=white;strokeColor=#2B8A83;strokeWidth=2;fontSize=11;\" vertex=\"1\" parent=\"8\">\n          <mxGeometry x=\"300\" y=\"70\" width=\"200\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Google Ads Tracker -->\n        <mxCell id=\"11\" value=\"Google Ads Tracker&#xa;ID: 5969720705&#xa;Teams: PPC Specialists&#xa;Criticality: MEDIUM\" style=\"rounded=1;whiteSpace=wrap;html=1;fillColor=#4ECDC4;fontColor=white;strokeColor=#2B8A83;strokeWidth=2;fontSize=11;\" vertex=\"1\" parent=\"8\">\n          <mxGeometry x=\"530\" y=\"70\" width=\"200\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- SEO Section -->\n        <mxCell id=\"12\" value=\"SEO FULFILLMENT\" style=\"swimlane;fillColor=#F0FFF4;strokeColor=#95E1D3;strokeWidth=3;fontSize=18;fontStyle=1;startSize=40;\" vertex=\"1\" parent=\"1\">\n          <mxGeometry x=\"50\" y=\"1150\" width=\"700\" height=\"350\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Operations Section -->\n        <mxCell id=\"13\" value=\"OPERATIONS &amp; LEADERSHIP\" style=\"swimlane;fillColor=#FFF0F5;strokeColor=#FF6B9D;strokeWidth=3;fontSize=18;fontStyle=1;startSize=40;\" vertex=\"1\" parent=\"1\">\n          <mxGeometry x=\"800\" y=\"1150\" width=\"700\" height=\"350\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Connections -->\n        <mxCell id=\"14\" value=\"Board Relation\" style=\"edgeStyle=orthogonalEdgeStyle;rounded=1;orthogonalLoop=1;jettySize=auto;html=1;strokeColor=#FF6B6B;strokeWidth=3;fontColor=#FF6B6B;exitX=0.5;exitY=1;exitDx=0;exitDy=0;entryX=0.5;entryY=0;entryDx=0;entryDy=0;\" edge=\"1\" parent=\"1\" source=\"3\" target=\"5\">\n          <mxGeometry relative=\"1\" as=\"geometry\"/>\n        </mxCell>\n        \n        <mxCell id=\"15\" value=\"Mirror: HubSpot Data\" style=\"edgeStyle=orthogonalEdgeStyle;rounded=1;orthogonalLoop=1;jettySize=auto;html=1;strokeColor=#667EEA;strokeWidth=2;dashed=1;fontColor=#667EEA;fontStyle=2;\" edge=\"1\" parent=\"1\" source=\"5\" target=\"9\">\n          <mxGeometry relative=\"1\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Formula Fields -->\n        <mxCell id=\"16\" value=\"Stage Formula:&#xa;IF(DAYS(Today(),{Start Date})≤30,&quot;M1&quot;,&#xa;IF(DAYS(Today(),{Start Date})≤60,&quot;M2&quot;,...))&#xa;⚠️ Drives all lifecycle stages\" style=\"shape=note;whiteSpace=wrap;html=1;fillColor=#FFE5E5;strokeColor=#FF6B6B;strokeWidth=2;fontSize=10;size=20;\" vertex=\"1\" parent=\"2\">\n          <mxGeometry x=\"400\" y=\"70\" width=\"350\" height=\"100\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Automations -->\n        <mxCell id=\"17\" value=\"Key Automations:&#xa;• Status=Done → Notify CSM&#xa;• Overdue=Y → Alert Manager&#xa;• New Item → Create Subitems&#xa;• Group=COMPLETED → Archive\" style=\"shape=process;whiteSpace=wrap;html=1;fillColor=#FFF3CD;strokeColor=#F9C74F;strokeWidth=2;fontSize=10;align=left;spacingLeft=10;\" vertex=\"1\" parent=\"4\">\n          <mxGeometry x=\"430\" y=\"250\" width=\"400\" height=\"140\" as=\"geometry\"/>\n        </mxCell>\n        \n        <!-- Critical Dependencies -->\n        <mxCell id=\"18\" value=\"⚠️ CRITICAL DEPENDENCIES&#xa;• Company Database drives ALL boards&#xa;• Stage Formula affects lifecycle&#xa;• Mirror columns break if source deleted&#xa;• Board Relations are bidirectional\" style=\"shape=callout;whiteSpace=wrap;html=1;perimeter=calloutPerimeter;fillColor=#FFE5E5;strokeColor=#FF0000;strokeWidth=3;fontSize=11;fontStyle=1;fontColor=#FF0000;position2=0.5;\" vertex=\"1\" parent=\"1\">\n          <mxGeometry x=\"1950\" y=\"200\" width=\"400\" height=\"150\" as=\"geometry\"/>\n        </mxCell>\n        \n      </root>\n    </mxGraphModel>\n  </diagram>\n</mxfile>`;\n            \n            // Create and download the file\n            const blob = new Blob([drawIOContent], { type: 'application/xml;charset=utf-8' });\n            const url = URL.createObjectURL(blob);\n            const link = document.createElement('a');\n            link.href = url;\n            link.download = 'monday-patch-pm-system-map.drawio';\n            document.body.appendChild(link);\n            link.click();\n            document.body.removeChild(link);\n            URL.revokeObjectURL(url);\n            \n            alert('✅ Draw.io file downloaded successfully!\\n\\nOpen it in draw.io (app.diagrams.net) to view and edit your Monday.com system map.');\n        }\n        \n        // Add hover effects for board nodes\n        document.querySelectorAll('.board-node').forEach(node => {\n            node.addEventListener('mouseenter', function(e) {\n                const tooltip = document.getElementById('tooltip');\n                tooltip.style.display = 'block';\n                tooltip.textContent = 'Click to view board details';\n                tooltip.style.left = e.pageX + 10 + 'px';\n                tooltip.style.top = e.pageY - 30 + 'px';\n            });\n            \n            node.addEventListener('mouseleave', function() {\n                document.getElementById('tooltip').style.display = 'none';\n            });\n        });\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "114e53f8-acd3-40aa-9247-5302567ea465",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        0
      ],
      "id": "ba999a61-9506-447f-9f82-a1f7b5be82b2",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-17T17:19:21.026Z",
      "updatedAt": "2025-09-17T17:19:21.026Z",
      "role": "workflow:owner",
      "workflowId": "hDhfJu3sn8lwfDuH",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-17T17:21:26.000Z",
  "versionId": "53209d4e-5149-4041-acc6-a02879e14052"
}