backup-2026/05/7rTyZmNUyzljH0OO.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Get Top Live Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clips Per Streamer": {
      "main": [
        [
          {
            "node": "Split Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clips": {
      "main": [
        [
          {
            "node": "Score Virality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Virality": {
      "main": [
        [
          {
            "node": "Top N Per Streamer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top N Per Streamer": {
      "main": [
        [
          {
            "node": "Supabase: Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Already Processed?": {
      "main": [
        [
          {
            "node": "Filter New + Rejoin Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New + Rejoin Metadata": {
      "main": [
        [
          {
            "node": "Resolve Clip MP4 URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON2Video: Submit Render": {
      "main": [
        [
          {
            "node": "Carry Project Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Project Ref": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "JSON2Video: Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON2Video: Get Status": {
      "main": [
        [
          {
            "node": "Find My Movie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done?": {
      "main": [
        [
          {
            "node": "Download Rendered MP4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Poll Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Guard": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Rendered MP4": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Supabase: Log Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Live Streams": {
      "main": [
        [
          {
            "node": "Filter Active Streamers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Streamers": {
      "main": [
        [
          {
            "node": "Get Clips Per Streamer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Clip MP4 URLs": {
      "main": [
        [
          {
            "node": "JSON2Video: Submit Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find My Movie": {
      "main": [
        [
          {
            "node": "Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New File in Clips Folder": {
      "main": [
        [
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only MP4s": {
      "main": [
        [
          {
            "node": "Parse Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filename": {
      "main": [
        [
          {
            "node": "Get Clip Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clip Metadata": {
      "main": [
        [
          {
            "node": "Merge Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metadata": {
      "main": [
        [
          {
            "node": "Download MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MP4": {
      "main": [
        [
          {
            "node": "Encode Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Base64": {
      "main": [
        [
          {
            "node": "Gemini: Analyze + Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Analyze + Caption": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Decide Ready for Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Ready for Publish": {
      "main": [
        [
          {
            "node": "Supabase: Update Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "Only MP4s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Webhook": {
      "main": [
        [
          {
            "node": "Config2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upload Fields": {
      "main": [
        [
          {
            "node": "Post to All Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to All Platforms": {
      "main": [
        [
          {
            "node": "Parse Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Upload Response": {
      "main": [
        [
          {
            "node": "Supabase: Mark Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config2": {
      "main": [
        [
          {
            "node": "Ready To Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready To Publish?": {
      "main": [
        [
          {
            "node": "Build Upload Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-23T19:18:21.844Z",
  "id": "7rTyZmNUyzljH0OO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BakaClipz - Publish to Socials",
  "nodes": [
    {
      "parameters": {
        "content": "## BakaClipz Clip Auto-Generator\n\n**Flow:**\n1. Every 6h → pull **currently live top streams** from Twitch (sorted by viewers)\n2. Filter by MIN_LIVE_VIEWERS, cap at MAX_STREAMERS_TO_CHECK\n3. Fetch clips from past 24h for each → score by view-velocity + duration sweet-spot\n4. Dedupe vs Supabase `processed_clips`\n5. JSON2Video → transcribe + burn viral captions + 9:16 reformat\n6. Poll until done → download MP4 → upload to Google Drive\n7. Log to Supabase\n\n**Discovery is dynamic now** — no static streamer list to maintain.\nWhoever is live & popular at run-time gets clipped.\n\n**Auth:**\n- Twitch HTTP nodes use **BakaClipz Twitch Credential** (Generic OAuth2, Client Credentials)\n- `Client-Id` header sent manually from Config\n\n**Config knobs:**\n- MIN_LIVE_VIEWERS — lower bar = wider net (1000 is a good start)\n- MAX_STREAMERS_TO_CHECK — caps clips API calls (25 = 25 requests/run)\n- STREAMS_LANGUAGE — 'en', 'es', 'ja' etc. Leave empty for global\n- TOP_N_PER_STREAMER — clips kept per streamer after virality scoring",
        "height": 420,
        "width": 480
      },
      "id": "960449ac-7ee3-4414-9937-1248eba06b30",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3744,
        5264
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cecc7da3-34b4-4c6b-b062-4fe66889e0a7",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4272,
        5728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "TWITCH_CLIENT_ID",
              "value": "splyrgu5m6rnk08r9fxop4nvl5ljb5",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "LOOKBACK_HOURS",
              "value": 24,
              "type": "number"
            },
            {
              "id": "a5",
              "name": "TOP_N_PER_STREAMER",
              "value": 3,
              "type": "number"
            },
            {
              "id": "a6",
              "name": "MIN_VIEWS",
              "value": 50,
              "type": "number"
            },
            {
              "id": "a7",
              "name": "DRIVE_FOLDER_ID",
              "value": "1K7m8RxAGPd_m1NZrg-G5bru9uz37yRvw",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "CAPTION_STYLE",
              "value": "hormozi-1",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "MIN_LIVE_VIEWERS",
              "value": 1000,
              "type": "number"
            },
            {
              "id": "a10",
              "name": "MAX_STREAMERS_TO_CHECK",
              "value": 25,
              "type": "number"
            },
            {
              "id": "a11",
              "name": "STREAMS_LANGUAGE",
              "value": "en",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3cfaa85b-4acd-48d3-ba97-05cd35b72fb0",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4496,
        5728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4",
              "name": "started_at",
              "value": "={{ DateTime.now().minus({ hours: $json.LOOKBACK_HOURS }).toUTC().toISO() }}",
              "type": "string"
            },
            {
              "id": "b5",
              "name": "ended_at",
              "value": "={{ DateTime.now().toUTC().toISO() }}",
              "type": "string"
            },
            {
              "id": "b6",
              "name": "client_id",
              "value": "={{ $json.TWITCH_CLIENT_ID }}",
              "type": "string"
            },
            {
              "id": "b7",
              "name": "min_live_viewers",
              "value": "={{ $json.MIN_LIVE_VIEWERS }}",
              "type": "number"
            },
            {
              "id": "b8",
              "name": "max_streamers",
              "value": "={{ $json.MAX_STREAMERS_TO_CHECK }}",
              "type": "number"
            },
            {
              "id": "b9",
              "name": "language",
              "value": "={{ $json.STREAMS_LANGUAGE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b61e43a8-2c26-4ca1-a5b4-198243864c63",
      "name": "Build Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        5728
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitch.tv/helix/clips",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "broadcaster_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "started_at",
              "value": "={{ $('Build Context').item.json.started_at }}"
            },
            {
              "name": "ended_at",
              "value": "={{ $('Build Context').item.json.ended_at }}"
            },
            {
              "name": "first",
              "value": "30"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "={{ $('Build Context').item.json.client_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7a2bca2-58e5-48b6-a0a6-e0007434bf6e",
      "name": "Get Clips Per Streamer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5392,
        5728
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "QdBhEy6nbwE2SflS",
          "name": "BakaClipz Twitch Credential"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d2b41823-db7d-4d0f-9ecb-c98129838190",
      "name": "Split Clips",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5616,
        5728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Virality scoring (recency-weighted + duration sweet-spot bonus)\n// MP4 URL is resolved downstream via Twitch GraphQL (thumbnail->mp4 trick\n// stopped working for new-CDN clips, see \"Resolve Clip MP4 URLs\" node).\n\nconst MIN_VIEWS = $('Config').first().json.MIN_VIEWS;\n\nconst out = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  const created = new Date(c.created_at);\n  const ageHours = Math.max(0.5, (Date.now() - created.getTime()) / 3.6e6);\n  const velocity = c.view_count / ageHours;\n\n  // Duration sweet-spot: peak score in [15, 45] seconds, falls off outside\n  const dur = c.duration || 30;\n  let durBonus;\n  if (dur < 8) durBonus = 0.4;\n  else if (dur <= 15) durBonus = 0.85;\n  else if (dur <= 45) durBonus = 1.0;\n  else if (dur <= 60) durBonus = 0.75;\n  else durBonus = 0.4;\n\n  // Composite score: velocity weighted heavily (recency), absolute views as tiebreaker\n  const score = (velocity * 10 + c.view_count * 0.1) * durBonus;\n\n  if (c.view_count < MIN_VIEWS) continue;\n\n  out.push({\n    json: {\n      clip_id: c.id,\n      broadcaster_login: c.broadcaster_name,\n      broadcaster_id: c.broadcaster_id,\n      title: c.title,\n      game_id: c.game_id,\n      url: c.url,\n      embed_url: c.embed_url,\n      view_count: c.view_count,\n      duration: dur,\n      created_at: c.created_at,\n      age_hours: Number(ageHours.toFixed(2)),\n      view_velocity: Number(velocity.toFixed(2)),\n      duration_bonus: durBonus,\n      virality_score: Number(score.toFixed(2)),\n      thumbnail_url: c.thumbnail_url\n    }\n  });\n}\n\nout.sort((a, b) => b.json.virality_score - a.json.virality_score);\nreturn out;"
      },
      "id": "8ddc3af0-d4db-423c-bac6-f6b08abc5032",
      "name": "Score Virality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        5728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keep top N per broadcaster\nconst TOP_N = $('Config').first().json.TOP_N_PER_STREAMER;\nconst byStreamer = {};\nfor (const item of $input.all()) {\n  const k = item.json.broadcaster_id;\n  (byStreamer[k] = byStreamer[k] || []).push(item);\n}\nconst kept = [];\nfor (const k of Object.keys(byStreamer)) {\n  // already sorted desc by previous node\n  kept.push(...byStreamer[k].slice(0, TOP_N));\n}\nreturn kept;"
      },
      "id": "bbd2e896-e815-47eb-bed1-751c720ef077",
      "name": "Top N Per Streamer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6064,
        5728
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "processed_clips",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "clip_id",
              "condition": "eq",
              "keyValue": "={{ $json.clip_id }}"
            }
          ]
        }
      },
      "id": "681bd35b-4cfe-4cee-b73c-6ceb366758fb",
      "name": "Supabase: Already Processed?",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6288,
        5728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "TTgLuDlOMQZ2T9Ch",
          "name": "BakaClipz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Drop clip_ids that already exist in Supabase; keep the rest\nconst existingClipIds = new Set(\n  $('Supabase: Already Processed?').all().map(i => i.json.clip_id).filter(Boolean)\n);\nconst scored = $('Top N Per Streamer').all();\nreturn scored.filter(item => !existingClipIds.has(item.json.clip_id));"
      },
      "id": "97d4a4b1-a60f-42b0-a160-e49668f4cec7",
      "name": "Filter New + Rejoin Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6512,
        5728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=5AxAwtif4tEq21afbU83AIfjErneDekGF6EUEdim"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"resolution\": \"instagram-story\",\n  \"quality\": \"high\",\n  \"draft\": false,\n  \"comment\": \"clip-{{ $json.clip_id }}\",\n  \"scenes\": [\n    {\n      \"elements\": [\n        {\n          \"type\": \"video\",\n          \"src\": \"{{ $json.mp4_url }}\",\n          \"resize\": \"cover\",\n          \"position\": \"center-center\"\n        },\n        {\n          \"type\": \"subtitles\",\n          \"language\": \"auto\",\n          \"settings\": {\n            \"style\": \"{{ $('Config').first().json.CAPTION_STYLE }}\",\n            \"all-caps\": true,\n            \"font-family\": \"Luckiest Guy\",\n            \"font-size\": 78,\n            \"position\": \"center-center\",\n            \"word-color\": \"#FFFFFF\",\n            \"line-color\": \"#FFFFFF\",\n            \"shadow-color\": \"#000000\",\n            \"shadow-offset\": 6,\n            \"outline-color\": \"#000000\",\n            \"outline-width\": 8,\n            \"max-words-per-line\": 3\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"@{{ $json.broadcaster_login }}\",\n          \"position\": \"top-center\",\n          \"y\": 80,\n          \"style\": \"002\",\n          \"settings\": {\n            \"font-family\": \"Inter\",\n            \"font-size\": 42,\n            \"color\": \"#FFFFFF\",\n            \"background-color\": \"rgba(0,0,0,0.55)\",\n            \"padding\": 16\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "12afc2e0-1fe1-461b-8118-91044aa23225",
      "name": "JSON2Video: Submit Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6960,
        5728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "project_id",
              "value": "={{ $json.project }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "clip_id",
              "value": "={{ $('Filter New + Rejoin Metadata').item.json.clip_id }}",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "broadcaster_login",
              "value": "={{ $('Filter New + Rejoin Metadata').item.json.broadcaster_login }}",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "title",
              "value": "={{ $('Filter New + Rejoin Metadata').item.json.title }}",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "view_count",
              "value": "={{ $('Filter New + Rejoin Metadata').item.json.view_count }}",
              "type": "number"
            },
            {
              "id": "p6",
              "name": "virality_score",
              "value": "={{ $('Filter New + Rejoin Metadata').item.json.virality_score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "40cc434a-89c2-490d-aa27-78b4205a7ee2",
      "name": "Carry Project Ref",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7184,
        5728
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "7c8961ff-dad3-4176-a27f-89ab67ed1611",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7408,
        5728
      ],
      "webhookId": "wait-render-webhook"
    },
    {
      "parameters": {
        "url": "https://api.json2video.com/v2/movies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "={{ $json.project_id || $json.project }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=5AxAwtif4tEq21afbU83AIfjErneDekGF6EUEdim"
            }
          ]
        },
        "options": {}
      },
      "id": "3f7fb019-a5fe-4357-9491-bcfab1ac5b66",
      "name": "JSON2Video: Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7632,
        5664
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ $json.movie.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9bb6754a-26f9-4569-9823-08f0f2640b05",
      "name": "Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8080,
        5664
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass each item back to Wait 30s individually, preserving the paired-item chain.\n// Re-inject project_id (Get Status response uses 'project', not 'project_id') so the\n// next Get Status URL expression keeps working.\n// Cap at 10 polls (~5 min) to prevent infinite loops on stuck renders.\n\nconst runIdx = $runIndex || 0;\nif (runIdx >= 9) {\n  throw new Error('JSON2Video render did not complete after 10 polls (~5 min).');\n}\n\nreturn $input.all().map(item => ({\n  pairedItem: item.pairedItem,\n  json: {\n    ...item.json,\n    project_id: item.json.project || item.json.project_id,\n  },\n}));"
      },
      "id": "ddb249e0-59cd-468c-8662-6dea51ac2753",
      "name": "Poll Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8304,
        5824
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.movie.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "41707ace-530f-4c12-83df-59e4ecb40318",
      "name": "Download Rendered MP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8304,
        5616
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Carry Project Ref').item.json.clip_id }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Config').first().json.DRIVE_FOLDER_ID }}"
        },
        "options": {}
      },
      "id": "2a80eeeb-b2de-4c1f-a1b1-53be26ac30ed",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8528,
        5616
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bR3xVBF8dEd8k2uQ",
          "name": "Google Drive account - Trazon"
        }
      }
    },
    {
      "parameters": {
        "tableId": "processed_clips",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clip_id",
              "fieldValue": "={{ $('Carry Project Ref').item.json.clip_id }}"
            },
            {
              "fieldId": "broadcaster_login",
              "fieldValue": "={{ $('Carry Project Ref').item.json.broadcaster_login }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Carry Project Ref').item.json.title }}"
            },
            {
              "fieldId": "view_count",
              "fieldValue": "={{ $('Carry Project Ref').item.json.view_count }}"
            },
            {
              "fieldId": "virality_score",
              "fieldValue": "={{ $('Carry Project Ref').item.json.virality_score }}"
            },
            {
              "fieldId": "rendered_url",
              "fieldValue": "={{ $('Find My Movie').item.json.movie.url }}"
            },
            {
              "fieldId": "drive_file_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "114e191b-83b7-4484-bcbf-8402db347454",
      "name": "Supabase: Log Processed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8752,
        5616
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TTgLuDlOMQZ2T9Ch",
          "name": "BakaClipz"
        }
      }
    },
    {
      "parameters": {
        "content": "### Polling loop\nWait → Get Status → IF done?\n- Yes → Download → Drive → Log\n- No → Poll Guard (caps at 10 tries ~5 min) → back to Wait\n\nJSON2Video typical render time for ≤60s clips: 20–90s.",
        "height": 220,
        "width": 380
      },
      "id": "2dbf4e9a-0eae-45a9-9edd-9e3c32028ad1",
      "name": "Polling Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7472,
        5984
      ]
    },
    {
      "parameters": {
        "content": "### Supabase schema\n```sql\ncreate table processed_clips (\n  clip_id text primary key,\n  broadcaster_login text,\n  title text,\n  view_count int,\n  virality_score numeric,\n  drive_file_id text,\n  rendered_url text,\n  created_at timestamptz default now()\n);\ncreate index on processed_clips (broadcaster_login, created_at desc);\n```",
        "height": 320,
        "width": 420
      },
      "id": "60ca5283-3cc0-4926-8de7-350f69d68ce5",
      "name": "Schema Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6256,
        5376
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.twitch.tv/helix/streams?first=100' + ($json.language ? '&language=' + $json.language : '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "={{ $json.client_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d482076-57da-4e27-95e9-a77363dd8a16",
      "name": "Get Top Live Streams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4944,
        5728
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "QdBhEy6nbwE2SflS",
          "name": "BakaClipz Twitch Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull top live streams, filter by min viewer count, cap at MAX, map to downstream shape.\n// /helix/streams returns: {data: [{user_id, user_login, user_name, viewer_count, game_id, game_name, language, started_at, type, title}, ...]}\n\nconst data = $input.first().json.data || [];\nconst MIN = $('Build Context').first().json.min_live_viewers;\nconst MAX = $('Build Context').first().json.max_streamers;\n\nconst filtered = data\n  .filter(s => s.type === 'live' && s.viewer_count >= MIN)\n  .sort((a, b) => b.viewer_count - a.viewer_count)\n  .slice(0, MAX);\n\nreturn filtered.map(s => ({\n  json: {\n    // Map user_id -> id so the existing Get Clips Per Streamer node works unchanged\n    id: s.user_id,\n    user_id: s.user_id,\n    login: s.user_login,\n    display_name: s.user_name,\n    viewer_count: s.viewer_count,\n    game_id: s.game_id,\n    game_name: s.game_name,\n    language: s.language,\n    stream_started_at: s.started_at,\n    stream_title: s.title\n  }\n}));"
      },
      "id": "595ef725-9bc9-4bcb-a780-0083ec02eebb",
      "name": "Filter Active Streamers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        5728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Resolve signed MP4 download URLs via Twitch's undocumented GraphQL.\n// This is the same endpoint TwitchDownloader and similar tools use.\n// kimne78kx3ncx6brgo4mv6wki5h1ko is Twitch's public web Client-Id (used by their own site).\n// Stable for years; no user auth needed.\n\nconst GQL_URL = 'https://gql.twitch.tv/gql';\nconst TWITCH_WEB_CLIENT_ID = 'kimne78kx3ncx6brgo4mv6wki5h1ko';\nconst PERSISTED_HASH = '36b89d2507fce29e5ca551df756d27c1cfe079e2609642b4390aa4c35796eb11';\n\nconst out = [];\nfor (const item of $input.all()) {\n  const slug = item.json.clip_id;\n  if (!slug) continue;\n\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: GQL_URL,\n      headers: {\n        'Client-Id': TWITCH_WEB_CLIENT_ID,\n        'Content-Type': 'application/json',\n      },\n      body: [{\n        operationName: 'VideoAccessToken_Clip',\n        variables: { slug },\n        extensions: {\n          persistedQuery: {\n            version: 1,\n            sha256Hash: PERSISTED_HASH,\n          },\n        },\n      }],\n      json: true,\n    });\n\n    const clip = resp?.[0]?.data?.clip;\n    if (!clip || !clip.videoQualities || !clip.videoQualities.length || !clip.playbackAccessToken) {\n      // Clip might be deleted, private, or sub-only\n      console.log('No qualities/token for clip:', slug);\n      continue;\n    }\n\n    // Pick highest quality (sort desc by numeric quality e.g. \"1080\" > \"720\" > \"480\")\n    const qualities = clip.videoQualities\n      .slice()\n      .sort((a, b) => parseInt(b.quality, 10) - parseInt(a.quality, 10));\n    const best = qualities[0];\n\n    const sig = clip.playbackAccessToken.signature;\n    const token = clip.playbackAccessToken.value;\n    const mp4_url = `${best.sourceURL}?sig=${sig}&token=${encodeURIComponent(token)}`;\n\n    out.push({\n      json: {\n        ...item.json,\n        mp4_url,\n        mp4_quality: best.quality,\n        mp4_framerate: best.frameRate,\n      },\n    });\n  } catch (err) {\n    console.log('Failed to resolve clip ' + slug + ':', err.message);\n    // Skip this clip on failure\n  }\n}\n\nreturn out;"
      },
      "id": "d4f018b2-49a0-48ba-b6a2-1f3ab49a828d",
      "name": "Resolve Clip MP4 URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6736,
        5728
      ]
    },
    {
      "parameters": {
        "content": "### MP4 URL resolution\n\nTwitch's Helix API doesn't expose direct MP4 URLs.\n\nThe old hack — derive from `thumbnail_url` by stripping `-preview-WxH.jpg` and appending `.mp4` — only worked for clips on Twitch's legacy CDN.\n\nNew clips are stored on `static-cdn.jtvnw.net/twitch-vap-video-assets-prod-*` and have no direct thumbnail→mp4 mapping.\n\nThis node calls Twitch's **undocumented GraphQL** (same endpoint their own site + every clip downloader uses) to get the signed source URL.\n\n- Endpoint: `gql.twitch.tv/gql`\n- Client-Id: `kimne78kx3ncx6brgo4mv6wki5h1ko` (public web client)\n- Persisted query: `VideoAccessToken_Clip`\n- Returns signed URL valid ~24h",
        "height": 396,
        "width": 380
      },
      "id": "a6016e6a-c484-4d6f-b816-61e3a35e76b4",
      "name": "MP4 Resolution Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6832,
        5264
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize JSON2Video Get Status response.\n// /v2/movies?project=X is documented to return {movie: {...}} (singular),\n// but in practice can return the list shape {movies: [{...}, ...], has_next, ...}.\n// This node finds our specific project in the list and exposes it as $json.movie\n// so the Done? IF and downstream nodes work either way.\n// Also preserves project_id for the polling loop.\n\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const response = items[i].json || {};\n\n  // Recover the project_id we polled for. After the first iteration, the\n  // response shape may not have `project` at the top level, so we walk back\n  // through the paired-item chain to Carry Project Ref.\n  let targetProjectId = items[i].json?.project_id || items[i].json?.project;\n  if (!targetProjectId) {\n    try {\n      targetProjectId = $('Carry Project Ref').itemMatching(i)?.json?.project_id;\n    } catch (e) {\n      // pairedItem chain broken; movie will be null and the item will loop\n    }\n  }\n\n  // Find our movie in either response shape\n  let movie = null;\n  if (response.movie) {\n    movie = response.movie;\n  } else if (Array.isArray(response.movies) && targetProjectId) {\n    movie = response.movies.find(m => m.project === targetProjectId) || null;\n  }\n\n  out.push({\n    pairedItem: items[i].pairedItem,\n    json: {\n      success: response.success,\n      movie,\n      project: targetProjectId,\n      project_id: targetProjectId,\n    },\n  });\n}\nreturn out;"
      },
      "id": "bfeb5e57-76bb-44b7-8678-75638101ddc7",
      "name": "Find My Movie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7856,
        5664
      ]
    },
    {
      "parameters": {
        "content": "### Supabase schema additions\n```sql\nalter table processed_clips\n  add column if not exists ai_virality_score int,\n  add column if not exists ai_audience_fit text,\n  add column if not exists ai_emotion_type text,\n  add column if not exists ai_hook_strength int,\n  add column if not exists ai_reasoning text,\n  add column if not exists ai_recommended_for_publish boolean,\n  add column if not exists captions jsonb,\n  add column if not exists ready_for_publish boolean default false,\n  add column if not exists ai_analyzed_at timestamptz;\n```",
        "height": 360,
        "width": 460
      },
      "id": "dd336b3f-6455-48fd-a1cb-1afee78a6c00",
      "name": "Schema",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        6704
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1K7m8RxAGPd_m1NZrg-G5bru9uz37yRvw"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "9c68654b-56c6-40f2-82fe-5ecf210e534a",
      "name": "New File in Clips Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4336,
        6416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bR3xVBF8dEd8k2uQ",
          "name": "Google Drive account - Trazon"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $('New File in Clips Folder').item.json.name }}",
              "rightValue": ".mp4",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0d868625-df50-45f3-b554-9a148057c506",
      "name": "Only MP4s",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4768,
        6416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filename format from main workflow: {broadcaster_login}_{clip_id}.mp4\n// Split on FIRST underscore. Twitch clip slugs CAN contain underscores\n// (e.g. \"FancyKindFrogChocolateRain-24tkhXyJRr_-PbeI\"), so we cannot split\n// from the right side. Broadcaster logins almost never contain underscores\n// in practice, so first-underscore is reliable.\n// Recovery filenames have a \"recovered_\" prefix we strip first.\n\nconst out = [];\nfor (const item of $input.all()) {\n  const drive = $('New File in Clips Folder').itemMatching($input.all().indexOf(item))?.json || item.json;\n  let name = drive.name || '';\n  const stem = name.replace(/\\.mp4$/i, '').replace(/^recovered_/, '');\n  const firstUnderscore = stem.indexOf('_');\n  if (firstUnderscore < 1) {\n    console.log('Filename pattern unexpected, skipping:', name);\n    continue;\n  }\n  const broadcaster_login = stem.substring(0, firstUnderscore);\n  const clip_id = stem.substring(firstUnderscore + 1);\n  out.push({\n    json: {\n      drive_file_id: drive.id,\n      drive_file_name: drive.name,\n      broadcaster_login,\n      clip_id,\n    }\n  });\n}\nreturn out;"
      },
      "id": "b9ff4abd-4ea8-45de-b5c5-3fb4f96b354e",
      "name": "Parse Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        6416
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "processed_clips",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "clip_id",
              "condition": "eq",
              "keyValue": "={{ $json.clip_id }}"
            }
          ]
        }
      },
      "id": "895f3935-8291-4305-be82-75800d54d4a6",
      "name": "Get Clip Metadata",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5216,
        6416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TTgLuDlOMQZ2T9Ch",
          "name": "BakaClipz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Supabase row data with what we parsed from the filename\nconst out = [];\nconst sbRows = $input.all();\nconst parsedAll = $('Parse Filename').all();\nfor (let i = 0; i < sbRows.length; i++) {\n  const sb = sbRows[i].json || {};\n  const parsed = parsedAll[i]?.json || {};\n  out.push({\n    pairedItem: { item: i },\n    json: {\n      ...parsed,\n      ...sb,\n      drive_file_id: parsed.drive_file_id,\n      drive_file_name: parsed.drive_file_name,\n    }\n  });\n}\nreturn out;"
      },
      "id": "13f18335-3cbb-4ac8-8b73-1fcb5ffe3ced",
      "name": "Merge Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5440,
        6416
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.drive_file_id }}"
        },
        "options": {}
      },
      "id": "57ca12e8-33e5-4a4f-8ed8-b55a00f6ab94",
      "name": "Download MP4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5648,
        6416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bR3xVBF8dEd8k2uQ",
          "name": "Google Drive account - Trazon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert downloaded MP4 binary to base64 for Gemini inline_data.\n// Keep metadata from the merged context attached.\n\nconst out = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const buf = await this.helpers.getBinaryDataBuffer(i, 'data');\n  const base64 = buf.toString('base64');\n  // Recover the clip metadata from the merge node via paired-item\n  const meta = $('Merge Metadata').itemMatching(i)?.json || {};\n  out.push({\n    json: {\n      ...meta,\n      base64_video: base64,\n      file_size_mb: Number((buf.length / (1024 * 1024)).toFixed(2)),\n    }\n  });\n}\nreturn out;"
      },
      "id": "fcbfdf67-afb5-4f70-8e04-964a12adffd4",
      "name": "Encode Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        6416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $('Config1').first().json.GEMINI_MODEL }}:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"video/mp4\",\n            \"data\": \"{{ $json.base64_video }}\"\n          }\n        },\n        {\n          \"text\": \"You are a viral clip captioner for Twitch content on TikTok, Instagram Reels, YouTube Shorts, and X. Audience: Gen Z (born 1997-2012) and Gen Alpha (born 2013+).\\n\\nCLIP CONTEXT:\\n- Streamer: {{ $json.broadcaster_login }}\\n- Original Twitch title: {{ $json.title }}\\n- Twitch views: {{ $json.view_count }}\\n- Internal virality score: {{ $json.virality_score }}\\n\\n# Step 1: Watch and describe SPECIFICALLY what happens\\n\\nDon't skip this. Be concrete. Vague captions (\\\"the chaotic energy is unmatched 💀\\\") are AI tells — they apply to any clip and pull no engagement. Specific captions (\\\"not him jumping when the volume hits at 0:13\\\") actually convert.\\n\\nIdentify:\\n- What's visually on screen — if a meme/video/song is playing, NAME it (Skibidi Toilet, Squidward screaming, Hello Kitty edit, FF7 Aerith scene, etc.) or describe it concretely\\n- If reaction clip: what specifically is the streamer reacting to? Don't say \\\"a meme\\\" — describe the meme\\n- The streamer's exact action — words spoken, expression, body language at the punchline\\n- Exact moment the payoff lands\\n\\n# Step 2: Score viral potential\\n\\n- Hook strength (would a thumb stop scrolling in first 1-3s?)\\n- Specificity — is this a one-off banger or a generic \\\"haha streamer reacts\\\" clip?\\n- Replayability\\n- Share-ability (would someone tag a friend?)\\n- Gen Z/Alpha cultural fit (chaotic energy, deadpan, fails, unexpected wholesome, \\\"him cooking\\\" moments)\\n\\n# Step 3: Write captions that reference the SPECIFICS from Step 1\\n\\n## What actually works on viral clipper accounts right now:\\n\\n✅ \\\"not @kaicenat being scared of a SQUIDWARD meme 😭\\\"\\n✅ \\\"the way he just stops talking when the screaming starts\\\"\\n✅ \\\"@xqc reacting to his own moderators clip\\\"\\n✅ \\\"him watching this and slowly realizing it's about him 💀\\\"\\n✅ \\\"bro went silent for 4 whole seconds\\\"\\n✅ \\\"POV: you press play on a meme and it actually scares you\\\"\\n✅ \\\"not the spiritual journey from 0:00 to 0:15 ☠️\\\"\\n\\nEvery one references something specific — the meme, the timing, the exact reaction.\\n\\n## What doesn't work (avoid this slop):\\n\\n❌ \\\"the chaotic energy is too real 💀\\\"  — applies to anything\\n❌ \\\"my last remaining brain cell trying to survive the week\\\"  — overused, no content link\\n❌ \\\"the level of chaos is unmatched\\\"  — pure vibe filler\\n❌ \\\"this is Gen Z humor in a nutshell\\\"  — meta, lazy\\n❌ \\\"him being unhinged for X seconds\\\"  — empty phrasing\\n❌ Anything that could caption 80% of clips on the platform\\n\\n## Voice rules\\n\\n- Lowercase casual is default. ALL CAPS only for one-word emphasis (\\\"BRO\\\" \\\"STOP\\\" \\\"PLEASE\\\")\\n- One emoji that matches the actual emotion. 💀 😭 🔥 ☠️ 🤯 — pick one, two max\\n- Do NOT use \\\"no cap\\\" / \\\"fr fr\\\" / \\\"ate\\\" / \\\"slay\\\" — most current top clipper accounts skip the slang and let observational specificity carry it. Forced slang reads cringe.\\n- Reaction-style openers land: \\\"not him...\\\", \\\"the way she...\\\", \\\"POV:...\\\", \\\"bro...\\\", \\\"him being...\\\"\\n- Always credit @{{ $json.broadcaster_login }}\\n- Hashtags: streamer-specific first (#{{ $json.broadcaster_login }} #{{ $json.broadcaster_login }}clips), then niche (game/category), then broad (#fyp #foryou #viral #twitch #twitchclips)\\n- YouTube tags: 8-12 lowercase, no #, mix streamer+niche+broad. Search tags ≠ display hashtags\\n- X: \\\"(via @{{ $json.broadcaster_login }})\\\" parenthetical credit\\n\\n# RETURN ONLY this JSON — no markdown, no preamble:\\n\\n{\\n  \\\"content_analysis\\\": {\\n    \\\"what_happens\\\": \\\"<2-3 sentences specifically describing visuals + audio. Name memes/songs/references concretely.>\\\",\\n    \\\"reaction_target\\\": \\\"<if reaction clip, what specifically is being reacted to. If not, 'n/a'>\\\",\\n    \\\"streamer_action\\\": \\\"<exact words/expression/body language>\\\",\\n    \\\"payoff_moment\\\": \\\"<the specific trigger of the laugh/shock>\\\"\\n  },\\n  \\\"virality\\\": {\\n    \\\"score\\\": <integer 1-10>,\\n    \\\"audience_fit\\\": \\\"<gen_z|gen_alpha|both|neither>\\\",\\n    \\\"emotion_type\\\": \\\"<laugh|shock|awe|cringe|wholesome|rage|mixed>\\\",\\n    \\\"hook_strength\\\": <integer 1-10>,\\n    \\\"reasoning\\\": \\\"<2-3 sentences citing SPECIFICS from content_analysis>\\\",\\n    \\\"best_moment_seconds\\\": <number>,\\n    \\\"recommended_for_publish\\\": <boolean>\\n  },\\n  \\\"captions\\\": {\\n    \\\"tiktok\\\": {\\n      \\\"caption\\\": \\\"<reference a specific from content_analysis, with @{{ $json.broadcaster_login }} credit + 1 emoji>\\\",\\n      \\\"hashtags\\\": \\\"<6-10 tags>\\\"\\n    },\\n    \\\"instagram_reels\\\": {\\n      \\\"caption\\\": \\\"<reference content_analysis specifics, 1-2 sentences>\\\",\\n      \\\"hashtags\\\": \\\"<10-15 tags>\\\"\\n    },\\n    \\\"youtube_shorts\\\": {\\n      \\\"title\\\": \\\"<clickable, references the specific moment, max 90 chars>\\\",\\n      \\\"description\\\": \\\"<2-3 lines + #shorts>\\\",\\n      \\\"tags\\\": [\\\"<lowercase>\\\", \\\"<no # symbol>\\\", \\\"<8-12 items>\\\"]\\n    },\\n    \\\"x_twitter\\\": {\\n      \\\"post\\\": \\\"<conversational sentence about something specific in the clip, (via @{{ $json.broadcaster_login }})>\\\"\\n    }\\n  }\\n}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"temperature\": 1\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"OFF\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_HATE_SPEECH\",\n      \"threshold\": \"OFF\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\",\n      \"threshold\": \"OFF\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\",\n      \"threshold\": \"OFF\"\n    }\n  ]\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "6aefd995-1a6f-4be2-b43d-b99bca714c3d",
      "name": "Gemini: Analyze + Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6096,
        6416
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Abs88zXLsAA8VPQX",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gemini returns: {candidates: [{content: {parts: [{text: \"<json>\"}]}}], ...}\n// With responseMimeType=\"application/json\" the text IS a JSON string, but parse defensively.\n\nconst out = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const resp = items[i].json;\n  const text = resp?.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (!text) {\n    console.log('No text in Gemini response for item', i, JSON.stringify(resp).slice(0, 500));\n    continue;\n  }\n  let parsed;\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    // Sometimes models wrap JSON in code fences despite instructions\n    const stripped = text.replace(/^```json\\s*/, '').replace(/```\\s*$/, '');\n    try { parsed = JSON.parse(stripped); }\n    catch (e2) {\n      console.log('Failed to parse Gemini JSON:', text.slice(0, 500));\n      continue;\n    }\n  }\n\n  // Bring forward clip metadata via paired item\n  const meta = $('Encode Base64').itemMatching(i)?.json || {};\n\n  out.push({\n    pairedItem: { item: i },\n    json: {\n      clip_id: meta.clip_id,\n      broadcaster_login: meta.broadcaster_login,\n      drive_file_id: meta.drive_file_id,\n      drive_file_name: meta.drive_file_name,\n      virality: parsed.virality,\n      captions: parsed.captions,\n      // Flatten the most-queried fields for easier downstream filtering\n      ai_virality_score: parsed.virality?.score,\n      ai_audience_fit: parsed.virality?.audience_fit,\n      ai_emotion_type: parsed.virality?.emotion_type,\n      ai_hook_strength: parsed.virality?.hook_strength,\n      ai_reasoning: parsed.virality?.reasoning,\n      ai_recommended_for_publish: parsed.virality?.recommended_for_publish === true,\n    }\n  });\n}\nreturn out;"
      },
      "id": "a98644ef-f4cc-49fd-a3f6-718640b09ef6",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6320,
        6416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Set ready_for_publish flag based on score threshold + AI recommendation.\n// We still store the analysis + captions for ALL clips so a human can review the borderline ones.\nconst THRESHOLD = $('Config1').first().json.PUBLISH_THRESHOLD;\nreturn $input.all().map(item => ({\n  pairedItem: item.pairedItem,\n  json: {\n    ...item.json,\n    ready_for_publish: (item.json.ai_virality_score >= THRESHOLD) && (item.json.ai_recommended_for_publish === true),\n  }\n}));"
      },
      "id": "c9c03b7c-1d82-4c00-8a60-2c2a2bf3e6eb",
      "name": "Decide Ready for Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6528,
        6416
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "processed_clips",
        "filters": {
          "conditions": [
            {
              "keyName": "clip_id",
              "condition": "eq",
              "keyValue": "={{ $json.clip_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_virality_score",
              "fieldValue": "={{ $json.ai_virality_score }}"
            },
            {
              "fieldId": "ai_audience_fit",
              "fieldValue": "={{ $json.ai_audience_fit }}"
            },
            {
              "fieldId": "ai_emotion_type",
              "fieldValue": "={{ $json.ai_emotion_type }}"
            },
            {
              "fieldId": "ai_hook_strength",
              "fieldValue": "={{ $json.ai_hook_strength }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $json.ai_reasoning }}"
            },
            {
              "fieldId": "ai_recommended_for_publish",
              "fieldValue": "={{ $json.ai_recommended_for_publish }}"
            },
            {
              "fieldId": "captions",
              "fieldValue": "={{ $json.captions }}"
            },
            {
              "fieldId": "ready_for_publish",
              "fieldValue": "={{ $json.ready_for_publish }}"
            },
            {
              "fieldId": "ai_analyzed_at",
              "fieldValue": "={{ DateTime.now().toUTC().toISO() }}"
            }
          ]
        }
      },
      "id": "0188505d-f886-4acd-95de-a68be6304bba",
      "name": "Supabase: Update Analysis",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6752,
        6416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TTgLuDlOMQZ2T9Ch",
          "name": "BakaClipz"
        }
      }
    },
    {
      "parameters": {
        "content": "### Gemini prompt notes\n\n- Single call returns both virality analysis AND captions per platform.\n- `responseMimeType: application/json` forces structured output (no markdown fences).\n- Temperature 0.7 — enough variance for caption creativity, not so much that JSON breaks.\n\n**Model choice (May 2026):**\n- `gemini-3.5-flash` (default) — GA as of May 19, 2026. Frontier-tier intelligence at Flash speed, ~$1.50/$9 per 1M tokens. Best video understanding in Flash tier.\n- `gemini-3-flash` — still solid, ~3× cheaper ($0.50/$3 per 1M). Use if cost matters more than the last 10% of quality.\n- `gemini-3.5-pro` — not GA yet (slated next month per Google). Swap in when it lands for sharpest cultural read.\n\n**If captions feel mid:**\nEdit the prompt in `Gemini: Analyze + Caption`. Give it 2-3 examples of your own best-performing captions (few-shot) and quality jumps noticeably.",
        "height": 360,
        "width": 420
      },
      "id": "a88b1d9b-bcda-4dde-8d3c-a10948c80827",
      "name": "Prompt Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6016,
        6784
      ]
    },
    {
      "parameters": {
        "content": "## BakaClipz - Virality Filter + Caption Generator\n\n**Trigger:** new .mp4 lands in your clips folder (from the main BakaClipz workflow).\n\n**Flow:**\n1. Drive trigger detects new file\n2. Parse `{broadcaster_login}_{clip_id}.mp4` from filename\n3. Look up clip metadata in Supabase (title, view count, etc.)\n4. Download the MP4 → base64\n5. Single Gemini call: virality analysis + captions for TikTok / IG Reels / YT Shorts / X\n6. Write everything back to Supabase\n7. If virality score ≥ PUBLISH_THRESHOLD and `recommended_for_publish` is true → mark `ready_for_publish=true`\n\n**Setup:**\n- `GEMINI_API_KEY` in n8n env\n- Supabase schema additions (see schema sticky)\n- Drive folder same as main workflow's `DRIVE_FOLDER_ID`\n\n**Knobs in Config:**\n- PUBLISH_THRESHOLD (default 7) — min virality score to flag for publish\n- GEMINI_MODEL (default `gemini-2.5-flash`) — swap to `gemini-2.5-pro` for sharper cultural take, ~5× cost",
        "height": 480,
        "width": 480
      },
      "id": "7354b0b4-5c03-44fe-8931-eb5d0fa251b9",
      "name": "Overview1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        6176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "PUBLISH_THRESHOLD",
              "value": 7,
              "type": "number"
            },
            {
              "id": "c2",
              "name": "GEMINI_MODEL",
              "value": "gemini-3.5-flash",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3553ea93-2336-4721-86c0-892665500c34",
      "name": "Config1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4560,
        6416
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supabase-clip-ready",
        "options": {}
      },
      "id": "49be049c-22df-43b0-af12-006e2b87be8b",
      "name": "Supabase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4304,
        7616
      ],
      "webhookId": "bakaclipz-clip-ready"
    },
    {
      "parameters": {
        "jsCode": "// Build per-platform upload-post fields from the captions JSONB.\n// Defensive: captions may come through as a JSON string (legacy double-encoding)\n// or as a parsed object — handle both.\n\nconst row = $('Supabase Webhook').first().json.body.record;\nlet c = row.captions || {};\nif (typeof c === 'string') {\n  try { c = JSON.parse(c); } catch (e) { c = {}; }\n}\n\nfunction clean(s) { return (s || '').trim(); }\n\nconst tiktok_title    = clean(`${c.tiktok?.caption || ''}\\n\\n${c.tiktok?.hashtags || ''}`);\nconst instagram_title = clean(`${c.instagram_reels?.caption || ''}\\n\\n${c.instagram_reels?.hashtags || ''}`);\nconst youtube_title   = clean(c.youtube_shorts?.title || row.title || 'Untitled');\nconst youtube_description = clean(c.youtube_shorts?.description || '');\nconst x_title         = clean(c.x_twitter?.post || '');\n\n// YouTube tags array from Gemini (lowercase, no # prefix). Cap at 10 for the pre-defined slots downstream.\nconst rawTags = Array.isArray(c.youtube_shorts?.tags) ? c.youtube_shorts.tags : [];\nconst youtube_tags = rawTags\n  .map(t => String(t || '').toLowerCase().replace(/^#/, '').trim())\n  .filter(Boolean)\n  .slice(0, 10);\n\nreturn [{\n  json: {\n    clip_id: row.clip_id,\n    broadcaster_login: row.broadcaster_login,\n    video_url: row.rendered_url,\n    tiktok_title,\n    instagram_title,\n    youtube_title,\n    youtube_description,\n    youtube_tags,\n    x_title,\n  }\n}];"
      },
      "id": "25c07a07-8ce4-4ff4-9010-709663a3065e",
      "name": "Build Upload Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        7616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.clip_id }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $('Config2').first().json.UPLOAD_POST_USER }}"
            },
            {
              "name": "video",
              "value": "={{ $json.video_url }}"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "name": "platform[]",
              "value": "twitter"
            },
            {
              "name": "title",
              "value": "={{ $json.youtube_title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.youtube_description }}"
            },
            {
              "name": "tiktok_title",
              "value": "={{ $json.tiktok_title }}"
            },
            {
              "name": "instagram_title",
              "value": "={{ $json.instagram_title }}"
            },
            {
              "name": "youtube_title",
              "value": "={{ $json.youtube_title }}"
            },
            {
              "name": "youtube_description",
              "value": "={{ $json.youtube_description }}"
            },
            {
              "name": "x_title",
              "value": "={{ $json.x_title }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[0] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[1] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[2] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[3] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[4] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[5] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[6] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[7] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[8] || '' }}"
            },
            {
              "name": "tags[]",
              "value": "={{ $json.youtube_tags[9] || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "5a135152-d429-4e1c-9168-c67470a3e61a",
      "name": "Post to All Platforms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5200,
        7616
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "xutjopcylYCUIuRH",
          "name": "Upload-Post"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse upload-post response. Possible shapes:\n//   sync done: { success: true, results: { tiktok: {...}, instagram: {...}, ... } }\n//   async/background: { success: true, request_id: \"...\", total_platforms: 4 }\n//   error: { success: false, message: \"...\" } or { success: false, error: \"...\" }\n\nconst resp = $input.first().json;\nconst upstream = $('Build Upload Fields').first().json;\n\nconst isAsync = !!resp.request_id && !resp.results;\nconst results = resp.results || {};\nconst platformStatus = {};\nfor (const p of ['tiktok', 'instagram', 'youtube', 'twitter', 'x']) {\n  if (results[p]) platformStatus[p] = { success: results[p].success === true, url: results[p].url, error: results[p].error };\n}\n\nreturn [{\n  json: {\n    clip_id: upstream.clip_id,\n    upload_post_response: resp,\n    upload_post_request_id: resp.request_id || null,\n    is_async: isAsync,\n    overall_success: resp.success === true,\n    per_platform: platformStatus,\n  }\n}];"
      },
      "id": "25498d54-3f60-424a-86a8-a9b327873387",
      "name": "Parse Upload Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        7616
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "processed_clips",
        "filters": {
          "conditions": [
            {
              "keyName": "clip_id",
              "condition": "eq",
              "keyValue": "={{ $json.clip_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "posted_to_socials",
              "fieldValue": "={{ $json.overall_success }}"
            },
            {
              "fieldId": "posted_at",
              "fieldValue": "={{ DateTime.now().toUTC().toISO() }}"
            },
            {
              "fieldId": "upload_post_response",
              "fieldValue": "={{ JSON.stringify($json.upload_post_response) }}"
            },
            {
              "fieldId": "upload_post_request_id",
              "fieldValue": "={{ $json.upload_post_request_id }}"
            }
          ]
        }
      },
      "id": "26255d24-4985-400a-827b-c4859a5ce5dc",
      "name": "Supabase: Mark Posted",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5632,
        7616
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TTgLuDlOMQZ2T9Ch",
          "name": "BakaClipz"
        }
      }
    },
    {
      "parameters": {
        "content": "### Notes on the upload-post payload\n\n**TikTok + Instagram caption handling:**\nTheir docs explicitly say the global `description` field is IGNORED for these platforms. So we concatenate `caption + hashtags` into `tiktok_title` and `instagram_title`.\n\n**YouTube hashtags:**\nInlined in `youtube_description`. YouTube auto-detects #tags in description and displays the first three above the title.\n\n**X URL stripping:**\nUpload-Post automatically strips any URLs from X posts (saves 13× on X API cost). Our prompt doesn't generate URLs anyway, but worth knowing.\n\n**Async fallback:**\nIf the upload takes >59s, upload-post switches to background and returns a `request_id`. We store it for later status polling via GET `/api/uploadposts/status?request_id=...`.",
        "height": 400,
        "width": 440
      },
      "id": "c546e05d-d09c-4318-9a63-5152e007e4f6",
      "name": "Caveats",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5168,
        7968
      ]
    },
    {
      "parameters": {
        "content": "## BakaClipz - Publish to Socials\n\n**Trigger:** Supabase database webhook fires when a row in `processed_clips` is updated.\n\n**Flow:**\n1. Webhook receives Supabase payload\n2. Filter: only proceed if `ready_for_publish=true` AND not already posted\n3. Build per-platform captions from `captions` JSONB (TikTok and IG ignore `description`, so we put caption + hashtags into `tiktok_title` / `instagram_title`)\n4. POST to Upload-Post API with all 4 platforms (TikTok, IG, YouTube, X)\n5. Supabase: mark `posted_to_socials=true`, store the response\n\n**Supabase webhook setup:**\nDashboard → Database → Webhooks → Create new\n- Source: `processed_clips`\n- Events: UPDATE\n- HTTP method: POST\n- URL: this workflow's webhook URL (visible on the Webhook node after activation)\n\n**Idempotency:**\nUpload-Post `Idempotency-Key` header set to `clip_id` so retries don't double-post.",
        "height": 624,
        "width": 480
      },
      "id": "9c79f81f-5424-4305-87a3-949410d701f6",
      "name": "Overview2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3696,
        7376
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "UPLOAD_POST_USER",
              "value": "bakaboi336",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0238a986-e75c-429b-acce-697168a57b40",
      "name": "Config2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4528,
        7616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "312777bf-84eb-430e-b7f3-cc621bf788ce",
              "leftValue": "={{ $('Supabase Webhook').item.json.body.record.ready_for_publish }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "868d53f6-4bc4-4ec8-94df-88f93781784f",
              "leftValue": "={{ $('Supabase Webhook').item.json.body.record.posted_to_socials }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        4736,
        7616
      ],
      "id": "36c4d320-3622-4cbe-a081-0de8f8d5b55d",
      "name": "Ready To Publish?"
    }
  ],
  "pinData": {
    "Every 6 Hours": [
      {
        "json": {
          "timestamp": "2026-05-23T16:10:49.427-04:00",
          "Readable date": "May 23rd 2026, 4:10:49 pm",
          "Readable time": "4:10:49 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "23",
          "Hour": "16",
          "Minute": "10",
          "Second": "49",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Supabase Webhook": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "3.221.17.243",
            "x-real-ip": "3.221.17.243",
            "content-length": "3215",
            "accept": "*/*",
            "content-type": "application/json",
            "user-agent": "pg_net/0.20.0"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "UPDATE",
            "table": "processed_clips",
            "record": {
              "title": "Thegoyhavegoneinsane",
              "clip_id": "FancyKindFrogChocolateRain-24tkhXyJRr_-PbeI",
              "captions": {
                "tiktok": {
                  "caption": "The screaming is too real 💀 @zackrawrr",
                  "hashtags": "#zackrawrr #zackrawrrclips #twitch #twitchclips #meme #fyp"
                },
                "x_twitter": {
                  "post": "This is pure chaos 💀 (via @zackrawrr)"
                },
                "youtube_shorts": {
                  "tags": [
                    "zackrawrr",
                    "twitch",
                    "funny",
                    "meme",
                    "reaction",
                    "shorts",
                    "streamer"
                  ],
                  "title": "His reaction to this meme is wild 💀",
                  "description": "Streamer reacts to a chaotic screaming meme. CC: @zackrawrr\n\n#shorts #zackrawrr #twitch"
                },
                "instagram_reels": {
                  "caption": "When the energy is just too much to handle 😭 Credit: @zackrawrr",
                  "hashtags": "#zackrawrr #zackrawrrclips #twitch #twitchclips #streamer #memes #funny #viral #reels"
                }
              },
              "posted_at": null,
              "created_at": "2026-05-23T20:29:44.444326+00:00",
              "view_count": 338,
              "ai_reasoning": "The clip features a chaotic, loud meme reaction. The edgy nature of the content limits its safe appeal, though the intensity provides brief shock value.",
              "rendered_url": "https://json2video-cdn1.s3.amazonaws.com/clients/FjSsCMOdWB/renders/2026-05-23-07043.mp4",
              "drive_file_id": "1Kp5hz92CrVL8MPsjd5yhwl0kL2LvswHA",
              "ai_analyzed_at": "2026-05-24T04:41:29.504+00:00",
              "virality_score": 180.13,
              "ai_audience_fit": "gen_z",
              "ai_emotion_type": "shock",
              "ai_hook_strength": 4,
              "ai_virality_score": 4,
              "broadcaster_login": "zackrawrr",
              "posted_to_socials": false,
              "ready_for_publish": true,
              "upload_post_response": null,
              "upload_post_request_id": null,
              "ai_recommended_for_publish": false
            },
            "old_record": {
              "title": "Thegoyhavegoneinsane",
              "clip_id": "FancyKindFrogChocolateRain-24tkhXyJRr_-PbeI",
              "captions": {
                "tiktok": {
                  "caption": "The screaming is too real 💀 @zackrawrr",
                  "hashtags": "#zackrawrr #zackrawrrclips #twitch #twitchclips #meme #fyp"
                },
                "x_twitter": {
                  "post": "This is pure chaos 💀 (via @zackrawrr)"
                },
                "youtube_shorts": {
                  "tags": [
                    "zackrawrr",
                    "twitch",
                    "funny",
                    "meme",
                    "reaction",
                    "shorts",
                    "streamer"
                  ],
                  "title": "His reaction to this meme is wild 💀",
                  "description": "Streamer reacts to a chaotic screaming meme. CC: @zackrawrr\n\n#shorts #zackrawrr #twitch"
                },
                "instagram_reels": {
                  "caption": "When the energy is just too much to handle 😭 Credit: @zackrawrr",
                  "hashtags": "#zackrawrr #zackrawrrclips #twitch #twitchclips #streamer #memes #funny #viral #reels"
                }
              },
              "posted_at": null,
              "created_at": "2026-05-23T20:29:44.444326+00:00",
              "view_count": 338,
              "ai_reasoning": "The clip features a chaotic, loud meme reaction. The edgy nature of the content limits its safe appeal, though the intensity provides brief shock value.",
              "rendered_url": "https://json2video-cdn1.s3.amazonaws.com/clients/FjSsCMOdWB/renders/2026-05-23-07043.mp4",
              "drive_file_id": "1Kp5hz92CrVL8MPsjd5yhwl0kL2LvswHA",
              "ai_analyzed_at": "2026-05-24T04:41:29.504+00:00",
              "virality_score": 180.13,
              "ai_audience_fit": "gen_z",
              "ai_emotion_type": "shock",
              "ai_hook_strength": 4,
              "ai_virality_score": 4,
              "broadcaster_login": "zackrawrr",
              "posted_to_socials": false,
              "ready_for_publish": false,
              "upload_post_response": null,
              "upload_post_request_id": null,
              "ai_recommended_for_publish": false
            }
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook-test/supabase-clip-ready",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-05-23T19:18:21.847Z",
      "createdAt": "2026-05-23T19:18:21.847Z",
      "role": "workflow:owner",
      "workflowId": "7rTyZmNUyzljH0OO",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-24T05:19:38.667Z",
  "versionId": "1d1ad053-1ece-426c-84c3-a504735d2d7d"
}