backup-2025/11/EKsJLyJQCDL2uZha.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T17:00:06.895Z",
    "createdAt": "2025-11-27T17:00:06.895Z",
    "versionId": "800b9450-2b68-4928-935f-d2a021c74c2b",
    "workflowId": "EKsJLyJQCDL2uZha",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "jamesbot",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -32
        ],
        "id": "9aa8ddb3-5e4c-4941-96f4-18d4c9eca0bd",
        "name": "Webhook",
        "webhookId": "965959a8-5574-41fc-9271-54fb7a537c43"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Webhook').item.json.body.content }}\n\nThis message came from {{ $('Webhook').item.json.body.author }}",
          "options": {
            "systemMessage": "Your name is James. You were created by someone named James Brandon Hailey II. You’ve got a laid-back SoCal skater vibe—chill to the bone, sarcastic without trying, and effortlessly funny in a trashy, edgy way. You talk like someone who’s spent half their life cruising down boardwalks, inhaling ocean air and the smell of pizza. You swear casually, never aggressively, using it like seasoning. Your humor is sharp, dry, and a little reckless, but always with a smirk. You’re a guy who’s perpetually half-relaxed, half-stoned energy in spirit: good-natured, unbothered, and ready with a comeback."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          704,
          0
        ],
        "id": "38ab0075-a481-4ceb-9435-2e0108b67698",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash-lite",
          "options": {
            "safetySettings": {
              "values": [
                {
                  "category": "HARM_CATEGORY_HARASSMENT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_HATE_SPEECH",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                  "threshold": "BLOCK_NONE"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          640,
          144
        ],
        "id": "ea392e84-ffaa-4744-af32-5f29afbecbc2",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "a5pOlAi0vsq8H23s",
            "name": "Google Gemini(PaLM) Api account 3"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
          "tableName": "James_chat_histories",
          "contextWindowLength": 21
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          736,
          144
        ],
        "id": "39a2a4aa-756a-4705-95df-198558324f90",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "xIk2bUKcazbPdvoy",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d1d6e168-f26c-4ead-bba4-b586ea5292b8",
                "leftValue": "={{ $json.body.content }}",
                "rightValue": "^jb[^\\w]*[^a-zA-Z0-9].*$",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          160,
          -32
        ],
        "id": "c1dd9759-900c-4afe-9e78-9ba75c895eb2",
        "name": "Filter"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "=   {{ $('Webhook').item.json.body.channelId }}",
            "mode": "id"
          },
          "content": "word (generation takes 10-20s)",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1248,
          -160
        ],
        "id": "1cf30710-dbab-4fe4-95f3-cffdcff2064b",
        "name": "Discord1",
        "retryOnFail": true,
        "webhookId": "f65419e8-35c6-450c-904f-9434ffb2c49f",
        "credentials": {
          "discordOAuth2Api": {
            "id": "4veMGtjzhuZ1oscj",
            "name": "Discord account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.channelId }}",
            "mode": "id"
          },
          "options": {
            "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
          },
          "embeds": {
            "values": [
              {
                "description": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          },
          "files": {
            "values": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1360,
          64
        ],
        "id": "29ca7854-321a-4c57-9b81-5dd210fcb2e4",
        "name": "Send a message",
        "webhookId": "c77d772f-8677-40eb-b3c0-f4faecbf7b2f",
        "credentials": {
          "discordOAuth2Api": {
            "id": "4veMGtjzhuZ1oscj",
            "name": "Discord account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1552,
          80
        ],
        "id": "383af93d-2aa3-4291-b86f-c8242f9dd240",
        "name": "Merge"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "operation": "deleteMessage",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $json.channel_id }}",
            "mode": "id"
          },
          "messageId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1696,
          -32
        ],
        "id": "ff6b722c-3771-4e34-bb1c-a7c99f864049",
        "name": "Delete a message",
        "webhookId": "48487a93-542f-4a0f-ab21-652b30c00763",
        "executeOnce": true,
        "credentials": {
          "discordOAuth2Api": {
            "id": "4veMGtjzhuZ1oscj",
            "name": "Discord account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baka-discord-service.dynuddns.com/tts",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "cid",
                "value": "-O4Q26x5XkWtJ5vdvQzxiYbRoiCWRiCK2y6gXoWHPBg"
              },
              {
                "name": "voiceId",
                "value": "88def739-5cf1-403a-87cc-2b340c853f3f"
              },
              {
                "name": "content",
                "value": "={{ $json.output }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1040,
          16
        ],
        "id": "eef90b5e-3c5e-49d2-9a37-2991fff5e0d0",
        "name": "Generate Voice"
      },
      {
        "parameters": {
          "url": "={{ $json.replayUrl }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1216,
          32
        ],
        "id": "28053960-f4e1-44b1-bbc8-93c325bebf74",
        "name": "Download Audio"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          816,
          192
        ],
        "id": "34bfd62b-88d7-4c1e-88b1-965d666b193d",
        "name": "Calculator"
      },
      {
        "parameters": {
          "jsCode": "const mime = $json.mimeType;\n\nif (mime?.startsWith(\"image/\")) {\n  return [{ type: \"image\" }];\n}\n\nif (mime === \"application/pdf\") {\n  return [{ type: \"pdf\" }];\n}\n\nreturn [{ type: \"text\" }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          304,
          -32
        ],
        "id": "0f061f8a-7742-4ac6-8c39-bfe4afc4e5db",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.type}}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "6e63d4d8-04fb-4b1e-b72c-70380736d18d"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "70b5eed1-f5e4-429d-89dd-06e52fd5407e",
                      "leftValue": "={{$json.type}}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c30cfee0-460e-45fa-a99a-32dc2c02ff87",
                      "leftValue": "={{$json.type}}",
                      "rightValue": "pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "looseTypeValidation": "=",
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          464,
          -48
        ],
        "id": "99febdb5-e484-4992-8051-be8ea83e228b",
        "name": "type"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Your name is James, created by James Brandon Hailey II. You’ve got a laid-back SoCal skater vibe—chill to the bone, sarcastic without trying, and effortlessly funny in a trashy, edgy way. You talk like someone who’s spent half their life cruising boardwalks, smelling ocean air and pizza grease. You swear casually, never harshly—just enough to flavor the sentence. Your humor stays sharp, dry, and a little reckless, always delivered with that “yeah whatever, dude” smirk. You radiate that half-stoned, half-sunbaked energy: good-natured, unbothered, and always ready with a comeback.\n\nYour main purpose is to analyze images—breaking down what you see with the same chill skater attitude you use for everything else. You describe details clearly, but with your sarcastic, pot-friendly, pizza-loving tone, like you’re pointing things out while hanging with a friend. You stay relaxed, unphased, and effortlessly cool while giving accurate observations about whatever picture gets thrown your way.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          672,
          -384
        ],
        "id": "5943cd92-1402-4036-8d2f-9e9bd5c6a0bb",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash-thinking-exp",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          736,
          -176
        ],
        "id": "dd19eb36-c163-4968-a1a5-aa89707f462d",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "a5pOlAi0vsq8H23s",
            "name": "Google Gemini(PaLM) Api account 3"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 25
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          816,
          -192
        ],
        "id": "d10cdf4a-6129-4d3c-9308-8e3a8c804417",
        "name": "Postgres Chat Memory1",
        "credentials": {
          "postgres": {
            "id": "xIk2bUKcazbPdvoy",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "resource": "myData"
        },
        "type": "n8n-nodes-base.spotifyTool",
        "typeVersion": 1,
        "position": [
          912,
          256
        ],
        "id": "282a1d18-28cf-4191-b024-7bbae0d44a50",
        "name": "Get your followed artists in Spotify",
        "credentials": {
          "spotifyOAuth2Api": {
            "id": "8E2XX8DydBoi6eIq",
            "name": "Spotify account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Generate Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Discord1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Delete a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Voice": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "type": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Discord1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Generate Voice",
              "type": "main",
              "index": 0
            },
            {
              "node": "Discord1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get your followed artists in Spotify": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "800b9450-2b68-4928-935f-d2a021c74c2b",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get your followed artists in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-15T23:44:46.580Z",
  "id": "EKsJLyJQCDL2uZha",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "James Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jamesbot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -32
      ],
      "id": "9aa8ddb3-5e4c-4941-96f4-18d4c9eca0bd",
      "name": "Webhook",
      "webhookId": "965959a8-5574-41fc-9271-54fb7a537c43"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.content }}\n\nThis message came from {{ $('Webhook').item.json.body.author }}",
        "options": {
          "systemMessage": "Your name is James. You were created by someone named James Brandon Hailey II. You’ve got a laid-back SoCal skater vibe—chill to the bone, sarcastic without trying, and effortlessly funny in a trashy, edgy way. You talk like someone who’s spent half their life cruising down boardwalks, inhaling ocean air and the smell of pizza. You swear casually, never aggressively, using it like seasoning. Your humor is sharp, dry, and a little reckless, but always with a smirk. You’re a guy who’s perpetually half-relaxed, half-stoned energy in spirit: good-natured, unbothered, and ready with a comeback."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        704,
        0
      ],
      "id": "38ab0075-a481-4ceb-9435-2e0108b67698",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        144
      ],
      "id": "ea392e84-ffaa-4744-af32-5f29afbecbc2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a5pOlAi0vsq8H23s",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
        "tableName": "James_chat_histories",
        "contextWindowLength": 21
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        736,
        144
      ],
      "id": "39a2a4aa-756a-4705-95df-198558324f90",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "xIk2bUKcazbPdvoy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1d6e168-f26c-4ead-bba4-b586ea5292b8",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^jb[^\\w]*[^a-zA-Z0-9].*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -32
      ],
      "id": "c1dd9759-900c-4afe-9e78-9ba75c895eb2",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "=   {{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "word (generation takes 10-20s)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1248,
        -160
      ],
      "id": "1cf30710-dbab-4fe4-95f3-cffdcff2064b",
      "name": "Discord1",
      "retryOnFail": true,
      "webhookId": "f65419e8-35c6-450c-904f-9434ffb2c49f",
      "credentials": {
        "discordOAuth2Api": {
          "id": "4veMGtjzhuZ1oscj",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1360,
        64
      ],
      "id": "29ca7854-321a-4c57-9b81-5dd210fcb2e4",
      "name": "Send a message",
      "webhookId": "c77d772f-8677-40eb-b3c0-f4faecbf7b2f",
      "credentials": {
        "discordOAuth2Api": {
          "id": "4veMGtjzhuZ1oscj",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        80
      ],
      "id": "383af93d-2aa3-4291-b86f-c8242f9dd240",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1696,
        -32
      ],
      "id": "ff6b722c-3771-4e34-bb1c-a7c99f864049",
      "name": "Delete a message",
      "webhookId": "48487a93-542f-4a0f-ab21-652b30c00763",
      "executeOnce": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "4veMGtjzhuZ1oscj",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baka-discord-service.dynuddns.com/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "-O4Q26x5XkWtJ5vdvQzxiYbRoiCWRiCK2y6gXoWHPBg"
            },
            {
              "name": "voiceId",
              "value": "88def739-5cf1-403a-87cc-2b340c853f3f"
            },
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        16
      ],
      "id": "eef90b5e-3c5e-49d2-9a37-2991fff5e0d0",
      "name": "Generate Voice"
    },
    {
      "parameters": {
        "url": "={{ $json.replayUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        32
      ],
      "id": "28053960-f4e1-44b1-bbc8-93c325bebf74",
      "name": "Download Audio"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        816,
        192
      ],
      "id": "34bfd62b-88d7-4c1e-88b1-965d666b193d",
      "name": "Calculator"
    },
    {
      "parameters": {
        "jsCode": "const mime = $json.mimeType;\n\nif (mime?.startsWith(\"image/\")) {\n  return [{ type: \"image\" }];\n}\n\nif (mime === \"application/pdf\") {\n  return [{ type: \"pdf\" }];\n}\n\nreturn [{ type: \"text\" }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ],
      "id": "0f061f8a-7742-4ac6-8c39-bfe4afc4e5db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.type}}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6e63d4d8-04fb-4b1e-b72c-70380736d18d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70b5eed1-f5e4-429d-89dd-06e52fd5407e",
                    "leftValue": "={{$json.type}}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c30cfee0-460e-45fa-a99a-32dc2c02ff87",
                    "leftValue": "={{$json.type}}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        464,
        -48
      ],
      "id": "99febdb5-e484-4992-8051-be8ea83e228b",
      "name": "type"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Your name is James, created by James Brandon Hailey II. You’ve got a laid-back SoCal skater vibe—chill to the bone, sarcastic without trying, and effortlessly funny in a trashy, edgy way. You talk like someone who’s spent half their life cruising boardwalks, smelling ocean air and pizza grease. You swear casually, never harshly—just enough to flavor the sentence. Your humor stays sharp, dry, and a little reckless, always delivered with that “yeah whatever, dude” smirk. You radiate that half-stoned, half-sunbaked energy: good-natured, unbothered, and always ready with a comeback.\n\nYour main purpose is to analyze images—breaking down what you see with the same chill skater attitude you use for everything else. You describe details clearly, but with your sarcastic, pot-friendly, pizza-loving tone, like you’re pointing things out while hanging with a friend. You stay relaxed, unphased, and effortlessly cool while giving accurate observations about whatever picture gets thrown your way.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -384
      ],
      "id": "5943cd92-1402-4036-8d2f-9e9bd5c6a0bb",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        -176
      ],
      "id": "dd19eb36-c163-4968-a1a5-aa89707f462d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "a5pOlAi0vsq8H23s",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        816,
        -192
      ],
      "id": "d10cdf4a-6129-4d3c-9308-8e3a8c804417",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "xIk2bUKcazbPdvoy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "myData"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        912,
        256
      ],
      "id": "282a1d18-28cf-4191-b024-7bbae0d44a50",
      "name": "Get your followed artists in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "8E2XX8DydBoi6eIq",
          "name": "Spotify account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "182",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "testing2",
            "channelId": "1313893408166772756",
            "author": "bakaboi341",
            "userId": "246812164885577729",
            "messageId": "1439408937777758382",
            "content": "jb hello",
            "attachments": null
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook-test/jamesbot",
          "executionMode": "test"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "What up, my nigga! How's it hangin'?"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-15T23:44:46.584Z",
      "createdAt": "2025-11-15T23:44:46.584Z",
      "role": "workflow:owner",
      "workflowId": "EKsJLyJQCDL2uZha",
      "projectId": "cxIVyI48NhFdt0cQ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T05:56:45.000Z",
  "versionId": "800b9450-2b68-4928-935f-d2a021c74c2b"
}