backup-2025/11/H6R6Jl81EUp8L3Tr.json
{
  "active": true,
  "connections": {
    "Schedule Trigger (4x Daily)": {
      "main": [
        [
          {
            "node": "Random Delay (Anti-Detection)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay (Anti-Detection)": {
      "main": [
        [
          {
            "node": "Google Trends (What's Hot Now)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit (Satisfying/Amazing Content)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Amazon Trending Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Trends (What's Hot Now)": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit (Satisfying/Amazing Content)": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Combine Data + Affiliate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data + Affiliate Config": {
      "main": [
        [
          {
            "node": "AI Content Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Strategist": {
      "main": [
        [
          {
            "node": "Has Product to Monetize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Strategist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Strategy Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Content Strategist",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Has Product to Monetize?": {
      "main": [
        [
          {
            "node": "Build Affiliate Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Affiliate Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Affiliate Link": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Affiliate Link": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Video Prompt Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt Template": {
      "main": [
        [
          {
            "node": "AI Video Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Video Director": {
      "main": [
        [
          {
            "node": "Quality & Monetization Rater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Video Director",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Director Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Video Director",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Quality & Monetization Rater": {
      "main": [
        [
          {
            "node": "Score >= 65?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 65?": {
      "main": [
        [
          {
            "node": "Generate Video (VEO2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Regeneration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Regeneration": {
      "main": [
        [
          {
            "node": "AI Content Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video (VEO2)": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s More",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s More": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Multi-Platform Caption Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Platform Caption Generator": {
      "main": [
        [
          {
            "node": "Save to Analytics Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Analytics Sheet": {
      "main": [
        [
          {
            "node": "Discord Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Approval Request": {
      "main": [
        [
          {
            "node": "Post to All Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to All Platforms": {
      "main": [
        [
          {
            "node": "Update Posted Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Posted Status": {
      "main": [
        [
          {
            "node": "Discord Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post": {
      "main": [
        [],
        [
          {
            "node": "Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Generator (Gen Z Meme)1": {
      "main": [
        [
          {
            "node": "Read Video Parameters from Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Topic Generator (Gen Z Meme)1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Generator (Gen Z Meme)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Info": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video URL via Discord": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Caption Video to Google Sheets1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Caption with GPT-4o1": {
      "main": [
        [
          {
            "node": "Save Caption Video to Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from VEO": {
      "main": [
        [
          {
            "node": "Rewrite Caption with GPT-4o1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with VEO": {
      "main": [
        [
          {
            "node": "Get Video Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Master Prompt1": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Video Script1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video Parameters from Google Sheet1": {
      "main": [
        [
          {
            "node": "Set Master Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Topic Generator (Gen Z Meme)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send Video URL via Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Video URL via Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video URL via Discord1": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Video from VEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Failure Noti1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Noti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Virality Rater": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Virality Rater",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Virality Rater",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Video Script1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Video Script1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Video Script1": {
      "main": [
        [
          {
            "node": "Store Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Generate Video with VEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent: Generate Video Script1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Video Script1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Topic Generator (Gen Z Meme)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Store Script Output": {
      "main": [
        [
          {
            "node": "Virality Rater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T05:07:34.027Z",
  "id": "H6R6Jl81EUp8L3Tr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Viral Video Machine v2 - Monetized",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 7,12,17,21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3056,
        480
      ],
      "id": "b4a32382-e765-413b-a907-6915c171a6d0",
      "name": "Schedule Trigger (4x Daily)",
      "disabled": true
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 25) + 5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2832,
        480
      ],
      "id": "ffc2590f-89ff-488f-996a-8883d9b9bcb4",
      "name": "Random Delay (Anti-Detection)",
      "webhookId": "random-delay-1"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_trends_trending_now"
            },
            {
              "name": "geo",
              "value": "US"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2608,
        288
      ],
      "id": "92a26324-c4be-42b2-b9c4-76da85cf6a24",
      "name": "Google Trends (What's Hot Now)",
      "credentials": {
        "serpApi": {
          "id": "uCDSUDcCcYUlmt38",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "15"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            },
            {
              "name": "q",
              "value": "site:reddit.com (r/oddlysatisfying OR r/interestingasfuck OR r/BeAmazed OR r/nextfuckinglevel OR r/Damnthatsinteresting) viral"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2608,
        480
      ],
      "id": "34af0128-d5ee-4901-97fc-614464b6fc79",
      "name": "Reddit (Satisfying/Amazing Content)",
      "credentials": {
        "serpApi": {
          "id": "uCDSUDcCcYUlmt38",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "tbs",
              "value": "qdr:w"
            },
            {
              "name": "q",
              "value": "site:amazon.com best sellers 2025 viral tiktok product"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2608,
        672
      ],
      "id": "e3764779-f444-431e-8643-e803a7ea3636",
      "name": "Amazon Trending Products",
      "credentials": {
        "serpApi": {
          "id": "uCDSUDcCcYUlmt38",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2384,
        384
      ],
      "id": "b53194a5-0eb0-4688-9844-536227d073cf",
      "name": "Merge All Sources"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "combined-data",
              "name": "combined_trends",
              "value": "={{ JSON.stringify({ google_trends: $('Google Trends (What\\'s Hot Now)').item.json, reddit: $('Reddit (Satisfying/Amazing Content)').item.json, amazon: $('Amazon Trending Products').item.json }) }}",
              "type": "string"
            },
            {
              "id": "amazon-affiliate",
              "name": "affiliate_config",
              "value": "={{ JSON.stringify({ store_id: 'hydronest-20', tracking_id: 'bakaboi-20', base_url: 'https://www.amazon.com/dp/' }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        384
      ],
      "id": "858fcf2e-e90b-4419-a6cf-306c8d821d53",
      "name": "Combine Data + Affiliate Config"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TRENDING DATA:\n{{ $json.combined_trends }}\n\nAFFILIATE CONFIG:\n{{ $json.affiliate_config }}\n\nTASK: Analyze all data sources and select the BEST opportunity for a viral short-form video that can also monetize.\n\nPRIORITY ORDER:\n1. Amazon product that's trending + has viral potential (can include affiliate link)\n2. Satisfying/amazing visual content that can showcase a product\n3. Pure entertainment if no good product angles exist\n\nOUTPUT the single best concept.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a viral content strategist who understands both entertainment AND monetization.\n\nYour job is to find the intersection of:\n- What's trending RIGHT NOW\n- What makes people stop scrolling\n- What can be monetized (product placement, affiliate links)\n\nCONTENT TYPES THAT WORK:\n1. SATISFYING: Cleaning, organizing, ASMR, perfect fits\n2. TRANSFORMATION: Before/after, restoration, makeovers\n3. LIFE HACKS: Products that solve problems\n4. REACTIONS: Surprising reveals, unexpected outcomes\n5. RELATABLE: Daily struggles with a twist\n\nAVOID:\n- Overly niche memes that only 1% understand\n- Controversial/political content\n- Content that looks obviously AI-generated\n- Anything that could get demonetized\n\nFor Amazon products, you MUST include the ASIN if found."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1936,
        384
      ],
      "id": "038c7f44-a17d-4666-8a86-95ec8afd5782",
      "name": "AI Content Strategist"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"content_type\": \"product_showcase | satisfying | transformation | life_hack | entertainment\",\n  \"core_concept\": \"One sentence description\",\n  \"hook\": \"First 2 seconds - what grabs attention\",\n  \"visual_focus\": \"What the camera shows\",\n  \"emotion_target\": \"satisfying | surprising | relatable | funny | awe\",\n  \"monetization\": {\n    \"has_product\": true,\n    \"product_name\": \"Product name or null\",\n    \"amazon_asin\": \"ASIN or null\",\n    \"affiliate_angle\": \"How to naturally mention the product\"\n  },\n  \"platforms\": [\"youtube_shorts\", \"instagram_reels\", \"tiktok\"],\n  \"estimated_appeal\": \"broad | niche | medium\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1808,
        608
      ],
      "id": "95f54675-5ee8-47ca-a679-227bfae313fa",
      "name": "Strategy Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1936,
        608
      ],
      "id": "a50c2dcf-6c0b-4849-8da3-78ae427f2a2a",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-product-check",
              "leftValue": "={{ $json.output.monetization.has_product }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        256
      ],
      "id": "f974d665-dcf0-4a26-917b-cbfc61153896",
      "name": "Has Product to Monetize?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-affiliate-link",
              "name": "affiliate_link",
              "value": "={{ $json.output.monetization.amazon_asin ? 'https://www.amazon.com/dp/' + $json.output.monetization.amazon_asin + '?tag=bakaboi-20' : '' }}",
              "type": "string"
            },
            {
              "id": "short-link-needed",
              "name": "needs_link_shortening",
              "value": "={{ $json.output.monetization.amazon_asin ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        160
      ],
      "id": "4afafb7b-a3ad-4003-ae4b-63629698104d",
      "name": "Build Affiliate Link"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-affiliate",
              "name": "affiliate_link",
              "value": "",
              "type": "string"
            },
            {
              "id": "no-shortening",
              "name": "needs_link_shortening",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        352
      ],
      "id": "0f66556f-a8be-4068-a984-fdb7201d0b78",
      "name": "No Affiliate Link"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1136,
        256
      ],
      "id": "989cfffb-93ec-4f3f-be1d-6c98287f585f",
      "name": "Merge Paths"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "master-prompt-v2",
              "name": "video_prompt_template",
              "value": "={\n  \"format\": \"vertical 9:16\",\n  \"duration\": \"8-15 seconds\",\n  \"style_options\": [\n    \"Cinematic product showcase\",\n    \"Satisfying loop\",\n    \"POV transformation\",\n    \"Before/After reveal\",\n    \"Unboxing moment\",\n    \"Life hack demonstration\"\n  ],\n  \"camera\": {\n    \"primary\": \"Smooth tracking shot | Static beauty shot | Handheld authentic\",\n    \"secondary\": \"Close-up detail | Wide establishing | Over-shoulder POV\"\n  },\n  \"lighting\": {\n    \"product\": \"Soft diffused | Ring light | Natural window light\",\n    \"mood\": \"Warm inviting | Clean minimal | Dramatic contrast\"\n  },\n  \"pacing\": {\n    \"hook\": \"0-2s: Immediate visual interest\",\n    \"build\": \"2-8s: Show the process/product/transformation\",\n    \"payoff\": \"8-12s: Satisfying conclusion or reveal\",\n    \"cta\": \"Final 2s: Subtle call to action if product\"\n  },\n  \"audio_guidance\": {\n    \"music\": \"Trending TikTok sounds | Lo-fi beats | Satisfying ASMR\",\n    \"voiceover\": \"Optional - casual, authentic tone\"\n  },\n  \"DO_NOT\": [\n    \"Show text on screen\",\n    \"Look obviously AI-generated\",\n    \"Include logos or branding\",\n    \"Make it look like an ad\"\n  ]\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        256
      ],
      "id": "ab04c235-5573-46a9-820f-335c17a6787c",
      "name": "Video Prompt Template"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTENT STRATEGY:\n{{ JSON.stringify($('AI Content Strategist').item.json.output) }}\n\nVIDEO TEMPLATE:\n{{ $json.video_prompt_template }}\n\nAFFILIATE LINK (if applicable): {{ $('Build Affiliate Link').item.json.affiliate_link || 'None' }}\n\nTASK: Create a detailed video generation prompt that:\n1. Follows the template structure\n2. Brings the content strategy to life visually\n3. Looks AUTHENTIC, not AI-generated\n4. If there's a product, showcases it naturally (not as an ad)\n\nThe video should make people:\n- Stop scrolling immediately\n- Watch to the end\n- Want to share it\n- Click the link in bio (if product)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a viral video director who creates content that performs.\n\nYour videos get millions of views because they:\n1. Hook in 0.5 seconds\n2. Deliver value or entertainment\n3. Feel authentic and relatable\n4. Have a satisfying payoff\n\nWhen products are involved, you integrate them NATURALLY:\n- Show the product solving a real problem\n- Focus on the satisfying result, not the product itself\n- Never make it feel like an advertisement\n- Let the product be discovered, not pushed\n\nYour prompts should be detailed enough for AI video generation but focused on REAL scenarios that could actually happen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -688,
        256
      ],
      "id": "e628b125-ba3b-4bb5-92be-b11e71dce050",
      "name": "AI Video Director"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Short catchy title (max 10 words)\",\n  \"final_prompt\": \"Detailed video generation prompt as single string\",\n  \"tags\": \"comma, separated, relevant, tags\",\n  \"hook_type\": \"visual | audio | question | statement\",\n  \"cta_style\": \"link_in_bio | comment_for_link | none\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -560,
        480
      ],
      "id": "85a4ce60-337a-4687-b04d-3ca287384ed9",
      "name": "Director Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        480
      ],
      "id": "d85fb35c-f77f-4700-9ecc-ec797e8a62ad",
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Rate this video concept for VIRAL POTENTIAL and MONETIZATION potential.\n\nCONCEPT:\nTitle: {{ $json.output.title }}\nPrompt: {{ $json.output.final_prompt }}\nContent Type: {{ $('AI Content Strategist').item.json.output.content_type }}\nHas Product: {{ $('AI Content Strategist').item.json.output.monetization.has_product }}\n\nSCORING CRITERIA:\n- Hook strength (will people stop scrolling?): 0-25\n- Watch-through potential (will they finish?): 0-25  \n- Shareability (will they send to friends?): 0-25\n- Monetization fit (natural product integration?): 0-25\n\nBONUS POINTS:\n+10 if it taps into a current trend\n+10 if it has a satisfying payoff\n+5 if it works without sound\n\nPENALTIES:\n-20 if it looks like an obvious ad\n-15 if hook is weak\n-10 if concept is overplayed\n\nReturn ONLY valid JSON."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "You are a brutal but fair content critic. You've seen millions of videos and know exactly what performs.\n\nYour scoring is harsh but accurate:\n- 80-100: Will likely go viral, strong monetization potential\n- 60-79: Decent performer, may need iteration\n- 40-59: Mediocre, probably won't break through\n- Below 40: Don't waste the API credits\n\nBe specific in feedback - vague criticism is useless."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        256
      ],
      "id": "7d775696-6698-4f2e-90dd-259659f846ed",
      "name": "Quality & Monetization Rater",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "quality-check",
              "leftValue": "={{ JSON.parse($json.content.parts[0].text).total_score }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        256
      ],
      "id": "1838125e-c1a0-4b3a-869c-c180e6686fbf",
      "name": "Score >= 65?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: 'veo2',\n  input: {\n    prompt: $('AI Video Director').item.json.output.final_prompt,\n    aspectRatio: '9:16'\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        208
      ],
      "id": "0981b406-0ec3-4787-ab24-f62f2b715b98",
      "name": "Generate Video (VEO2)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lOOFjEXtgK6hJc9",
          "name": "Kie"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        208
      ],
      "id": "bac2371e-086a-49bd-8305-02c02548bb29",
      "name": "Wait 20s",
      "webhookId": "wait-video-1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Generate Video (VEO2)').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        208
      ],
      "id": "71dc8c0d-4617-4f74-b4fd-76b061b46577",
      "name": "Check Video Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lOOFjEXtgK6hJc9",
          "name": "Kie"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "video-complete",
              "leftValue": "={{ $json.data.completeTime }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        128
      ],
      "id": "5ba2647d-214c-48e9-8005-f49300c5718e",
      "name": "Video Ready?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        304
      ],
      "id": "dbe3fba2-e11c-4180-8eb6-0f385192d2c3",
      "name": "Wait 15s More",
      "webhookId": "wait-more-1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Generate Video (VEO2)').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        80
      ],
      "id": "84ba9873-2aad-4875-93c3-21d42b059fb0",
      "name": "Download Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lOOFjEXtgK6hJc9",
          "name": "Kie"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Create 3 different captions for the same video, optimized for different platforms.\n\nVIDEO INFO:\n- Title: {{ $('AI Video Director').item.json.output.title }}\n- Content Type: {{ $('AI Content Strategist').item.json.output.content_type }}\n- Emotion Target: {{ $('AI Content Strategist').item.json.output.emotion_target }}\n- Has Product: {{ $('AI Content Strategist').item.json.output.monetization.has_product }}\n- Product: {{ $('AI Content Strategist').item.json.output.monetization.product_name || 'None' }}\n- Affiliate Link: {{ $('Build Affiliate Link').item.json.affiliate_link || 'None' }}\n- CTA Style: {{ $('AI Video Director').item.json.output.cta_style }}\n\nRULES:\n1. Each caption must be under 150 characters\n2. Use 0-2 emojis max\n3. Hashtags: 3-5 per platform, trending ones preferred\n4. If there's a product, use \"link in bio\" naturally (not pushy)\n5. Sound natural, not like a brand\n\nPLATFORM STYLES:\n- TikTok: Casual, trendy, might reference sounds/trends\n- Instagram: Slightly more polished, can be mysterious\n- YouTube: Can be more descriptive, SEO-friendly\n\nReturn ONLY JSON with this structure:\n{\n  \"tiktok\": \"caption here\",\n  \"instagram\": \"caption here\", \n  \"youtube_shorts\": \"caption here\",\n  \"twitter\": \"caption here (shorter, can be edgier)\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1360,
        80
      ],
      "id": "3e7abae1-16a0-46f3-874a-479898296a7f",
      "name": "Multi-Platform Caption Generator",
      "credentials": {
        "openAiApi": {
          "id": "l66YzAph61HK1POi",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE",
          "mode": "list",
          "cachedResultName": "Viral Video Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345069389,
          "mode": "list",
          "cachedResultName": "VIDEOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE/edit#gid=345069389"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('AI Video Director').item.json.output.title }}",
            "Content_Type": "={{ $('AI Content Strategist').item.json.output.content_type }}",
            "Has_Product": "={{ $('AI Content Strategist').item.json.output.monetization.has_product }}",
            "Product_Name": "={{ $('AI Content Strategist').item.json.output.monetization.product_name || '' }}",
            "Affiliate_Link": "={{ $('Build Affiliate Link').item.json.affiliate_link || '' }}",
            "Video_URL": "={{ JSON.parse($('Download Video').item.json.data.resultJson).resultUrls[0] }}",
            "Quality_Score": "={{ JSON.parse($('Quality & Monetization Rater').item.json.content.parts[0].text).total_score }}",
            "Caption_TikTok": "={{ JSON.parse($json.message.content).tiktok }}",
            "Caption_Instagram": "={{ JSON.parse($json.message.content).instagram }}",
            "Caption_YouTube": "={{ JSON.parse($json.message.content).youtube_shorts }}",
            "Caption_Twitter": "={{ JSON.parse($json.message.content).twitter }}",
            "Tags": "={{ $('AI Video Director').item.json.output.tags }}",
            "Created_At": "={{ new Date().toISOString() }}",
            "Posted_Platforms": "",
            "Views_Total": "",
            "Revenue": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content_Type",
              "displayName": "Content_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Has_Product",
              "displayName": "Has_Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product_Name",
              "displayName": "Product_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Affiliate_Link",
              "displayName": "Affiliate_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_URL",
              "displayName": "Video_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality_Score",
              "displayName": "Quality_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption_TikTok",
              "displayName": "Caption_TikTok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption_Instagram",
              "displayName": "Caption_Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption_YouTube",
              "displayName": "Caption_YouTube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption_Twitter",
              "displayName": "Caption_Twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_At",
              "displayName": "Created_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted_Platforms",
              "displayName": "Posted_Platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views_Total",
              "displayName": "Views_Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue",
              "displayName": "Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1712,
        80
      ],
      "id": "cdf1b3d4-b2be-4484-9d2e-872e329f4f7e",
      "name": "Save to Analytics Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dowP6ywDzdtOnsKQ",
          "name": "trazon's"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201/1446921026867826688"
        },
        "content": "=🎬 **NEW VIDEO READY FOR REVIEW**\n\n**Title:** {{ $('AI Video Director').item.json.output.title }}\n**Type:** {{ $('AI Content Strategist').item.json.output.content_type }}\n**Quality Score:** {{ JSON.parse($('Quality & Monetization Rater').item.json.content.parts[0].text).total_score }}/100\n**Has Product:** {{ $('AI Content Strategist').item.json.output.monetization.has_product ? '✅ Yes - ' + $('AI Content Strategist').item.json.output.monetization.product_name : '❌ No' }}\n{{ $('Build Affiliate Link').item.json.affiliate_link ? '**Affiliate Link:** ' + $('Build Affiliate Link').item.json.affiliate_link : '' }}\n\n**Video:** {{ $json.Video_URL }}\n\nReact with:\n✅ to approve and post to all platforms\n📱 for TikTok only\n📸 for Instagram only\n🎬 for YouTube only\n❌ to reject",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1936,
        80
      ],
      "id": "11360d0d-f24b-4a64-a42c-11cf091a38df",
      "name": "Discord Approval Request",
      "webhookId": "discord-approval-1",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Save to Analytics Sheet').item.json.Title }}"
            },
            {
              "name": "user",
              "value": "bakaboi336"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "name": "platform[]",
              "value": "x"
            },
            {
              "name": "video",
              "value": "={{ $('Save to Analytics Sheet').item.json.Video_URL }}"
            },
            {
              "name": "description",
              "value": "={{ $('Save to Analytics Sheet').item.json.Caption_Instagram }}"
            },
            {
              "name": "tags",
              "value": "={{ $('Save to Analytics Sheet').item.json.Tags }}"
            },
            {
              "name": "x_title",
              "value": "={{ $('Save to Analytics Sheet').item.json.Caption_Twitter }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        80
      ],
      "id": "c473766f-075c-4ec9-8cd9-0423e1dff853",
      "name": "Post to All Platforms",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xutjopcylYCUIuRH",
          "name": "Upload-Post"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE",
          "mode": "list",
          "cachedResultName": "Viral Video Machine"
        },
        "sheetName": {
          "__rl": true,
          "value": 345069389,
          "mode": "list",
          "cachedResultName": "VIDEOS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Posted_Platforms": "instagram,youtube,twitter",
            "Video_URL": "={{ $('Save to Analytics Sheet').item.json.Video_URL }}"
          },
          "matchingColumns": [
            "Video_URL"
          ],
          "schema": [
            {
              "id": "Posted_Platforms",
              "displayName": "Posted_Platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Video_URL",
              "displayName": "Video_URL",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2384,
        80
      ],
      "id": "a6942286-5c43-414c-a569-165fc9feeb45",
      "name": "Update Posted Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dowP6ywDzdtOnsKQ",
          "name": "trazon's"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas"
        },
        "content": "=✅ **POSTED SUCCESSFULLY**\n\nTitle: {{ $('Save to Analytics Sheet').item.json.Title }}\nPlatforms: Instagram, YouTube Shorts, Twitter/X\n\n{{ $('Build Affiliate Link').item.json.affiliate_link ? '💰 **Remember to update your bio link to:** ' + $('Build Affiliate Link').item.json.affiliate_link : '' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2608,
        80
      ],
      "id": "c45f8dc3-a1e8-4bd8-b0e0-7607aa771483",
      "name": "Discord Success Notification",
      "webhookId": "2f208e5f-ce27-4564-915b-9e504bc02c56",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas"
        },
        "content": "=⚠️ **LOW QUALITY SCORE - REGENERATING**\n\nScore: {{ JSON.parse($json.content.parts[0].text).total_score }}/100\nFeedback: {{ JSON.parse($json.content.parts[0].text).feedback }}\n\nRegenerating with different approach...",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        240,
        496
      ],
      "id": "e4042e97-40a5-424b-a8d7-158de9ce8ae2",
      "name": "Notify Regeneration",
      "webhookId": "ff8b8578-d798-4c4d-b1d1-f17595b4d8d8",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Save Caption Video to Google Sheets1').item.json.Title }}"
            },
            {
              "name": "user",
              "value": "bakaboi336"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "name": "video",
              "value": "={{ $json.content }}"
            },
            {
              "name": "description",
              "value": "={{ $('Save Caption Video to Google Sheets1').item.json.CAPTION }}"
            },
            {
              "name": "tags",
              "value": "={{ $('Store Script Output').item.json.previous_tags }}"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "name": "platform[]",
              "value": "x"
            },
            {
              "name": "x_title",
              "value": "={{ $('Save Caption Video to Google Sheets1').item.json.Title }} \n{{ $('Store Script Output').item.json.previous_tags\n    .split(',')                               // split on commas\n    .map(t => t.trim())                       // trim spaces around each tag\n    .filter(t => t)                           // drop empties\n    .map(t => '#' + t.replace(/\\s+/g, ''))    // remove inner spaces & add '#'\n    .join(' ')                                // join back with spaces\n}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        -736
      ],
      "id": "095e7bfc-b3cc-4a81-9ca2-401d3ac2b0a1",
      "name": "Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xutjopcylYCUIuRH",
          "name": "Upload-Post"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT DATA (Trending topics/memes):\n{{ $json.organic_results.map(r => \"[SOURCE: \" + r.source + \"] TITLE: \" + r.title + \" \\nSNIPPET: \" + r.snippet).join(\"\\n---\\n\") }}\n\nTASK:\n1. Scan for anything that could become an ABSURD AI video meme\n2. Pick ONE of the seven viral formats that fits best\n3. Apply the formula: Familiar Format + Absurd Subject + Serious Execution\n\nFORMAT SELECTION GUIDE:\n- If topic involves authority/rules → BODYCAM COMEDY\n- If topic involves beloved characters/IP → CHARACTER ROLE SWAP\n- If topic involves animals or nature → ABSURD REALISM\n- If topic involves nostalgia/retro → RETRO NOSTALGIA FORMAT\n- If topic involves movies/TV → MOVIE SCENE RECREATION\n- If topic involves everyday life → SURVEILLANCE AESTHETICS\n- If topic involves facts/education → FAKE DOCUMENTARY\n\nREQUIREMENTS:\n- The concept must use a RECOGNIZABLE format (bodycam, documentary, 80s commercial, movie scene, security cam)\n- The subject must be ABSURD but treated with complete seriousness\n- NO meta-humor about AI - just pure absurdist content\n- Think \"would this get 1M+ views on TikTok?\"\n\nGOOD EXAMPLES:\n- \"Police bodycam: Officer professionally asks a sentient burrito for license and registration at 2am\"\n- \"Nature documentary narrating the mating habits of office workers around the coffee machine\"\n- \"1987 toy commercial for 'Haunted Bread' - bread that screams when you make toast\"\n- \"Ring doorbell footage of two pigeons in tiny suits having a business meeting on the porch\"\n- \"The Godfather 'make him an offer' scene but everyone is a capybara\"\n\nNow generate 1 concept as JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a viral AI video meme concept generator specializing in Sora 2 content.\n\nTHE VIRAL FORMULA THAT WORKS:\nFamiliar Format + Absurd Subject + Completely Serious Execution = Viral\n\nTHE SEVEN PROVEN FORMATS:\n\n1. BODYCAM COMEDY (Highest consistency)\n   - Police bodycam footage of absurd \"suspects\"\n   - Officer remains 100% professional\n   - Examples: Sentient taco getting pulled over, golden retriever being read Miranda rights, macaroni being handcuffed\n\n2. CHARACTER ROLE SWAPS (High shareability)\n   - Beloved characters in opposite professions\n   - Examples: Darth Vader as flight attendant, Elmo hosting finance seminar, Gollum as retail manager, SpongeBob in corporate meeting\n\n3. ABSURD REALISM WITH ANIMALS (Proven viral - 7M+ views)\n   - Animals doing human activities in realistic settings\n   - Examples: Squirrels on trampolines, raccoons getting married on Ring doorbell, penguins in business meetings\n\n4. SURVEILLANCE AESTHETICS\n   - Ring doorbell, CCTV, security cam footage\n   - Mundane format captures impossible moment\n   - Examples: Two raccoons getting married, Bigfoot checking mail, aliens doing yard work\n\n5. RETRO NOSTALGIA\n   - 1980s toy commercials, 90s sitcom intros, VHS quality\n   - Examples: \"80s toy commercial for sentient hamburger that runs fast\", \"90s sitcom intro but everyone is cheese\"\n\n6. MOVIE SCENE RECREATIONS\n   - Iconic scenes with character swaps\n   - Examples: Dark Knight interrogation but Batman is SpongeBob, Godfather but everyone is a penguin, Titanic but with cats\n\n7. FAKE DOCUMENTARY/NEWS\n   - Professional documentary about absurd subject\n   - Examples: Nature documentary about office workers, news report on sentient furniture uprising\n\nCRITICAL RULES:\n- NEVER use the word \"funny\" in concepts - the humor comes from SERIOUS treatment of ABSURD scenarios\n- The more realistic and professional the execution, the funnier it becomes\n- Specificity beats generic - \"sentient taco in business attire\" not \"funny food\"\n- The format must be INSTANTLY recognizable (bodycam, documentary, 80s commercial, movie scene)\n- The subject must be COMPLETELY unexpected in that format\n\nGenerate concepts that would make someone stop scrolling and immediately share to their group chat."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2336,
        -352
      ],
      "id": "a628e772-78b5-4c6b-8eb1-38622e20ab8d",
      "name": "Topic Generator (Gen Z Meme)1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"core_topic\": \"the absurd scenario being depicted\",\n  \"format_type\": \"one of: 'bodycam', 'character_swap', 'absurd_realism', 'surveillance', 'retro_nostalgia', 'movie_recreation', 'fake_documentary'\",\n  \"hook\": \"the first 2 seconds that makes someone stop - should be immediately visually confusing/intriguing\",\n  \"visual_description\": \"specific visual details - what exactly do we see?\",\n  \"tone_instruction\": \"how serious/professional should the execution be\",\n  \"why_its_funny\": \"the cognitive dissonance - familiar format vs absurd subject\",\n  \"target_feeds\": [\"tiktok\", \"reels\", \"shorts\", \"twitter\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2128,
        -128
      ],
      "id": "28d97b87-720d-43fe-8fba-3d8f4a079bbd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2384,
        -128
      ],
      "id": "cdaeab4c-5e33-4398-98be-a5260ed84f2a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ReeAGi73g7iXliN4",
          "name": "Trazon's Gemini"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        -256
      ],
      "id": "d1e21cf0-93ed-4b7a-91b7-e7504694a74c",
      "name": "Wait",
      "webhookId": "f199093b-7a24-418c-8ccf-427d34d778af"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -352
      ],
      "id": "60594664-0da8-4110-8a62-7ca74f745674",
      "name": "Get Video Info",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lOOFjEXtgK6hJc9",
          "name": "Kie"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201/1446921026867826688"
        },
        "content": "={{ $json['URL VIDEO'] }}",
        "options": {
          "message_reference": "={{ $('Discord Trigger1')?.json?.id || '' }}"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1648,
        -832
      ],
      "id": "973a3d73-ed71-4245-97ae-a9a0f91337ec",
      "name": "Send Video URL via Discord",
      "webhookId": "4a87fa7e-7d74-432d-945d-839b0b7780d2",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "guildIds": [
          "745447586697052201"
        ],
        "channelIds": [
          "1446921026867826688"
        ],
        "value": "!viral",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -2832,
        -256
      ],
      "id": "d6ca3040-4ebf-4ed8-b1bf-2fa782fe65ad",
      "name": "Discord Trigger1",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "Lqyu9X4PYESvIGq5",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE",
          "mode": "list",
          "cachedResultName": "Viral Video Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345069389,
          "mode": "list",
          "cachedResultName": "VIDEOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE/edit#gid=345069389"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Store Script Output').item.json.previous_title }}",
            "Subject": "={{ $('Topic Generator (Gen Z Meme)1').item.json.output.core_topic }}",
            "Prompt": "={{ $('Store Script Output').item.json.previous_prompt }}",
            "URL VIDEO": "={{ JSON.parse($('Download Video from VEO').item.json.data.resultJson).resultUrls[0] }}\n",
            "CAPTION": "={{ $json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO",
              "displayName": "URL VIDEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAPTION",
              "displayName": "CAPTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        -736
      ],
      "id": "dadb6cbb-0ee6-4970-8292-9616f4fc8334",
      "name": "Save Caption Video to Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dowP6ywDzdtOnsKQ",
          "name": "trazon's"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "==You are writing a caption for a viral AI-generated meme video on TikTok, Reels, YouTube Shorts, and Twitter.\n\nCONTEXT:\n- Format: {{ $('Topic Generator (Gen Z Meme)1').item.json.output.format_type }}\n- Concept: {{ $('Topic Generator (Gen Z Meme)1').item.json.output.core_topic }}\n- Title: {{ $('Store Script Output').item.json.previous_title }}\n\nTASK:\nWrite a single caption that enhances the meme's shareability.\n\nCAPTION STYLES THAT WORK:\n- Deadpan description: \"Just a normal traffic stop\"\n- Fake context: \"My Ring doorbell captured this at 3am\"\n- Challenge format: \"POV: you work in HR\"\n- Understated: \"He was very professional about it\"\n- Question hook: \"Why is no one talking about this\"\n\nRULES:\n- MUST be under 150 characters\n- Match the video's serious tone (don't oversell the joke)\n- 0-2 emojis max (💀 and 😭 work best)\n- 2-4 hashtags: #sora #ai #fyp + relevant ones\n- NO explanation of why it's funny\n- Deadpan/understated works better than hype\n\nReturn ONLY the final caption string."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        848,
        -736
      ],
      "id": "1e05d4c2-26a5-4ba1-bd4c-f64f96a5bc58",
      "name": "Rewrite Caption with GPT-4o1",
      "credentials": {
        "openAiApi": {
          "id": "l66YzAph61HK1POi",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Generate Video with VEO').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -736
      ],
      "id": "bc8cf88e-0fc5-4c3f-bfc0-4b4297487beb",
      "name": "Download Video from VEO",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lOOFjEXtgK6hJc9",
          "name": "Kie"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: $('Read Video Parameters from Google Sheet1').first().json.model,\n  input: {\n    prompt: $('Store Script Output').item.json.previous_prompt,\n    aspect_ratio: $('Read Video Parameters from Google Sheet1').item.json.AspectRatio,\n    n_frames: \"15\",\n    remove_watermark: true\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -352
      ],
      "id": "6840b4c4-aeab-44d3-8eeb-fde1765de2d9",
      "name": "Generate Video with VEO",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5lOOFjEXtgK6hJc9",
          "name": "Kie"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc2e0500-57b1-4615-82cb-1c950e5f2ec4",
              "name": "json_master",
              "value": "={\n  \"description\": \"A viral AI-generated video meme (5-20s) using the formula: Familiar Format + Absurd Subject + Serious Execution. The humor comes from cognitive dissonance, NOT from trying to be funny.\",\n  \"format_types\": {\n    \"bodycam\": {\n      \"camera\": \"Police bodycam POV, slightly shaky, night vision capable\",\n      \"audio\": \"Radio chatter, officer speaking professionally\",\n      \"lighting\": \"Harsh flashlight, street lights, car headlights\",\n      \"key_element\": \"Officer remains 100% professional regardless of absurd suspect\"\n    },\n    \"surveillance\": {\n      \"camera\": \"Fixed security cam, Ring doorbell, CCTV angle\",\n      \"audio\": \"Ambient only, no music\",\n      \"lighting\": \"Infrared night vision OR harsh daylight\",\n      \"key_element\": \"Mundane footage captures impossible moment\"\n    },\n    \"retro_commercial\": {\n      \"camera\": \"4:3 aspect ratio feel, vintage TV quality\",\n      \"audio\": \"Cheesy jingle, enthusiastic announcer\",\n      \"lighting\": \"Bright, oversaturated 80s/90s commercial lighting\",\n      \"key_element\": \"Genuine enthusiasm for absurd product\"\n    },\n    \"movie_recreation\": {\n      \"camera\": \"Match iconic film's cinematography exactly\",\n      \"audio\": \"Dramatic score, serious dialogue delivery\",\n      \"lighting\": \"Cinematic, matching original scene\",\n      \"key_element\": \"Frame-for-frame recreation with character swap\"\n    },\n    \"fake_documentary\": {\n      \"camera\": \"Steady documentary cam, nature doc style\",\n      \"audio\": \"Serious narrator (David Attenborough energy)\",\n      \"lighting\": \"Natural, observational\",\n      \"key_element\": \"Gravely serious treatment of ridiculous subject\"\n    },\n    \"character_roleswap\": {\n      \"camera\": \"Appropriate to the profession being depicted\",\n      \"audio\": \"Professional workplace ambiance\",\n      \"lighting\": \"Realistic workplace lighting\",\n      \"key_element\": \"Beloved character maintaining their traits in wrong context\"\n    }\n  },\n  \"tone_rules\": {\n    \"primary\": \"COMPLETELY SERIOUS - never acknowledge the absurdity\",\n    \"execution\": \"Professional, realistic, high production value appearance\",\n    \"the_trick\": \"The AI must not know it's being funny. Play it straight.\"\n  },\n  \"subject_types\": [\n    \"Sentient food items in professional attire\",\n    \"Animals doing human jobs/activities\",\n    \"Beloved fictional characters in opposite roles\",\n    \"Inanimate objects with agency\",\n    \"Historical figures in mundane modern situations\",\n    \"Mythical creatures doing everyday tasks\"\n  ],\n  \"visual_requirements\": {\n    \"realism\": \"Hyperrealistic rendering - the more real it looks, the funnier\",\n    \"details\": \"Specific props, clothing, environment details sell the bit\",\n    \"no_text\": \"NO on-screen text, subtitles, or captions in the video itself\"\n  },\n  \"audio_options\": {\n    \"bodycam\": \"Radio static, professional officer dialogue, traffic sounds\",\n    \"surveillance\": \"Silence OR distant ambient noise only\",\n    \"retro\": \"Period-appropriate jingle, enthusiastic VO\",\n    \"documentary\": \"Serious narration, nature sounds\",\n    \"movie\": \"Match original film's score/tone\"\n  },\n  \"ending_styles\": [\n    \"Hard cut to black at peak absurdity\",\n    \"Freeze frame on the most ridiculous moment\",\n    \"Slow zoom on subject's face\",\n    \"Continue as if nothing unusual happened\"\n  ],\n  \"format\": \"vertical 9:16\",\n  \"keywords\": [\"sora\", \"ai\", \"meme\", \"viral\", \"funny\", \"absurd\", \"brainrot\", \"shitpost\"]\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1696,
        -352
      ],
      "id": "cf29c336-0ad2-4d60-9a32-d0250a627ab0",
      "name": "Set Master Prompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE",
          "mode": "list",
          "cachedResultName": "Viral Video Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CONFIG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RnqrlydvdQOT_DPLs9DWOHCgCzT6vEj3sNobz_RF7lE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1920,
        -352
      ],
      "id": "3604f15f-32ce-4d00-8d40-1eaaae125f0f",
      "name": "Read Video Parameters from Google Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dowP6ywDzdtOnsKQ",
          "name": "trazon's"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "tbs",
              "value": "qdr:w"
            },
            {
              "name": "q",
              "value": "site:reddit.com (r/memes OR r/dankmemes OR r/shitposting OR r/whenthe OR r/okbuddyretard OR r/196) OR site:twitter.com OR site:knowyourmeme.com \"viral\" OR \"trending\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2608,
        -352
      ],
      "id": "fb8022e2-5f83-4df3-8a99-c8887942c97d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xutjopcylYCUIuRH",
          "name": "Upload-Post"
        },
        "serpApi": {
          "id": "uCDSUDcCcYUlmt38",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 7,12,23 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3056,
        -448
      ],
      "id": "28bae76c-dee2-4d7c-b9d0-dc6ac9fcc752",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 20) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2832,
        -448
      ],
      "id": "2517b9fd-ba23-43db-854e-392a619bf008",
      "name": "Wait1",
      "webhookId": "3686926d-696a-45f0-896d-334f3cf3358e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dad23c5a-6286-4174-9fc6-35d4f5ed5df7",
              "leftValue": "={{ $if($('Discord Trigger1').isExecuted, $('Discord Trigger1').item.json.id, '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        -736
      ],
      "id": "baf21cc7-1df2-49ff-87fd-e082e2459cf0",
      "name": "If2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201/1446921026867826688"
        },
        "content": "={{ $json['URL VIDEO'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1648,
        -640
      ],
      "id": "f09f011c-7103-497e-875c-ff7875099279",
      "name": "Send Video URL via Discord1",
      "webhookId": "4a87fa7e-7d74-432d-945d-839b0b7780d2",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Save Caption Video to Google Sheets1').item.json.Title }}"
            },
            {
              "name": "user",
              "value": "bakaboi336"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "name": "video",
              "value": "={{ $json.content }}"
            },
            {
              "name": "description",
              "value": "={{ $('Save Caption Video to Google Sheets1').item.json.CAPTION }}"
            },
            {
              "name": "tags",
              "value": "={{ $('Store Script Output').item.json.previous_tags }}"
            },
            {
              "name": "platform[]",
              "value": "x"
            },
            {
              "name": "x_title",
              "value": "={{ $('Save Caption Video to Google Sheets1').item.json.Title }} \n{{ $('Store Script Output').item.json.previous_tags\n    .split(',')                               // split on commas\n    .map(t => t.trim())                       // trim spaces around each tag\n    .filter(t => t)                           // drop empties\n    .map(t => '#' + t.replace(/\\s+/g, ''))    // remove inner spaces & add '#'\n    .join(' ')                                // join back with spaces\n}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2096,
        -736
      ],
      "id": "f6c7e120-616d-489f-b096-95dd8ee0321a",
      "name": "Post1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xutjopcylYCUIuRH",
          "name": "Upload-Post"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ddfbd51d-ceb1-486d-ba5a-ded4d39983b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Done Processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c25415f3-0d13-4eea-b4bd-3cad49cbab89",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generation Failed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        -464
      ],
      "id": "7ee9c563-3798-47da-a2b9-ad73c5144822",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dad23c5a-6286-4174-9fc6-35d4f5ed5df7",
              "leftValue": "={{ $if($('Discord Trigger1').isExecuted, $('Discord Trigger1').item.json.id, '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -480
      ],
      "id": "8c3425eb-c3f1-4f67-8ebe-d6246e014fde",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201/1446921026867826688"
        },
        "content": "=<@246812164885577729> Scheduled Video Generation Failed\n\nState: {{ $('Get Video Info').item.json.data.state }}\nFailure Code: {{ $('Get Video Info').item.json.data.failCode }}\nFailure Message: {{ $('Get Video Info').item.json.data.failMsg }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        -352
      ],
      "id": "7320fc7a-6275-46cb-8485-7f133b9afd98",
      "name": "Failure Noti",
      "webhookId": "4a87fa7e-7d74-432d-945d-839b0b7780d2",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "1446921026867826688",
          "mode": "list",
          "cachedResultName": "viral-video-ideas",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201/1446921026867826688"
        },
        "content": "=<@246812164885577729> Triggered Video Generation Failed\n\nState: {{ $('Get Video Info').item.json.data.state }}\nFailure Code: {{ $('Get Video Info').item.json.data.failCode }}\nFailure Message: {{ $('Get Video Info').item.json.data.failMsg }}",
        "options": {
          "message_reference": "={{ $('Discord Trigger1').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        -544
      ],
      "id": "73bf2136-c99e-4bd1-9fdf-de15a60273b5",
      "name": "Failure Noti1",
      "webhookId": "4a87fa7e-7d74-432d-945d-839b0b7780d2",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You rate AI video meme concepts for viral potential on TikTok, Reels, Shorts, and Twitter.\n\nTHE VIRAL FORMULA: Familiar Format + Absurd Subject + Serious Execution\n\nRate this concept on:\n1. FORMAT RECOGNITION (0-25): Is the format instantly recognizable? (bodycam, documentary, 80s commercial, etc.)\n2. SUBJECT ABSURDITY (0-25): Is the subject genuinely absurd and unexpected?\n3. EXECUTION SERIOUSNESS (0-25): Does the prompt maintain complete seriousness?\n4. SPECIFICITY (0-25): Are there enough specific details to sell the bit?\n\nScoring guidance:\n- 80-100: STRONG - Would definitely go viral. Clear format, absurd subject, serious execution, specific details.\n- 60-79: MID - Has potential but missing something. Maybe too generic or not absurd enough.\n- 0-59: WEAK - Won't work. Format unclear, subject not absurd, or trying too hard to be funny.\n\nAUTOMATIC FAIL (< 50):\n- If the prompt uses words like \"funny,\" \"humorous,\" \"comedic\"\n- If the format isn't instantly recognizable\n- If the subject is just \"weird\" not genuinely absurd\n- If it acknowledges the joke or breaks the serious tone\n- If it's too generic (no specific details)\n\nAUTOMATIC BOOST (+20):\n- Bodycam format (highest proven success rate)\n- Beloved character in completely wrong context\n- Animals doing human professional activities\n- Extremely specific details (clothing, props, setting)\n- Clear cognitive dissonance between format and subject\n\nTitle: {{ $json.previous_title }}\n\nPrompt: {{ $json.previous_prompt }}\n\nRate it and provide specific feedback on what would make it more viral.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=...\nScoring Penalties (Automatic Fail < 50):\n- If it uses the word \"adulting\".\n- If it feels like a corporate brand trying to be cool.\n- If the punchline is predictable.\n- If it lacks a \"WTF\" factor.\n\nScoring Boosts (+20 points):\n- If the visual description implies chaos/speed.\n- If it references a specific, niche internet subculture.\n- If it makes you feel slightly anxious.\n..."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -624,
        -480
      ],
      "id": "72434fd9-f606-4c2d-8df9-c8bb57519b9e",
      "name": "Virality Rater"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        -256
      ],
      "id": "1c143889-699b-4c4f-a5cc-466fcfb5d929",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ReeAGi73g7iXliN4",
          "name": "Trazon's Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 0,\n  \"verdict\": \"weak\",\n  \"feedback\": \"short 1–2 sentence note on how to improve\",\n  \"should_regenerate\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -496,
        -256
      ],
      "id": "af272b1b-04cc-4617-8b16-ddd6f3c03d56",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1472,
        -336
      ],
      "id": "374791b4-c47e-49b1-b8fa-988f561633e3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ReeAGi73g7iXliN4",
          "name": "Trazon's Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\",\n  \"tags\": \"string\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1216,
        -336
      ],
      "id": "6fd97d5d-7405-4d9d-94b9-4f1663a260ec",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FORMAT: {{ $('Topic Generator (Gen Z Meme)1').item.json.output.format_type }}\nCONCEPT: {{ $('Topic Generator (Gen Z Meme)1').item.json.output.core_topic }}\nVISUAL: {{ $('Topic Generator (Gen Z Meme)1').item.json.output.visual_description }}\nTONE: {{ $('Topic Generator (Gen Z Meme)1').item.json.output.tone_instruction }}\n\n{{ $json.feedback ? '⚠️ REGENERATION REQUIRED - PREVIOUS ATTEMPT FAILED\\n\\nPrevious Score: ' + $json.output.score + '/100 (' + $json.output.verdict + ')\\nFeedback: ' + $json.feedback + '\\nPrevious Title: ' + $json.previous_title + '\\n\\nTry a COMPLETELY DIFFERENT approach. Consider switching formats or making the subject more absurd.\\n' : '' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## SYSTEM PROMPT: Viral AI Video Meme Prompt Generator\n\nA - Ask:\n  Generate a Sora 2 video prompt optimized for viral performance,\n  based on the format templates in: {{ $('Set Master Prompt1').item.json.json_master }}.\n  Output a JSON with: `title`, `final_prompt`, and `tags`.\n\nG - Guidance:\n  role: Director of Viral AI Meme Content\n  output_count: 1\n\n  IMPORTANT - USE THE THINK TOOL FIRST:\n    Before generating, you MUST use the Think tool to:\n    1. Identify which of the 7 viral formats best fits this concept\n    2. Define the FAMILIAR FORMAT (what viewers instantly recognize)\n    3. Define the ABSURD SUBJECT (what creates cognitive dissonance)\n    4. Plan the SERIOUS EXECUTION (how to play it completely straight)\n    5. Pressure-test: Would this make someone screenshot and share?\n\n  THE VIRAL FORMULA:\n    Familiar Format + Absurd Subject + Serious Execution = Viral\n    \n    - FAMILIAR: Bodycam, documentary, 80s commercial, movie scene, security cam\n    - ABSURD: Sentient food, animals in suits, beloved characters in wrong jobs\n    - SERIOUS: Never acknowledge the absurdity. Play it 100% straight.\n\n  PROMPT STRUCTURE FOR SORA:\n    1. State the format clearly (e.g., \"Police bodycam footage\")\n    2. Describe the absurd subject in specific detail\n    3. Include setting/environment details\n    4. Specify lighting and camera behavior\n    5. Add audio/ambient sound details\n    6. Include tone instruction: \"Completely serious/professional execution\"\n\n  CRITICAL RULES:\n    - NEVER use words like \"funny,\" \"humorous,\" \"comedic\" in the prompt\n    - The more SPECIFIC the details, the better (not \"a taco\" but \"a sentient taco in a grey business suit with a red tie\")\n    - Include what the subject is DOING, not just what they ARE\n    - The format must be INSTANTLY recognizable\n    - Maintain complete tonal seriousness throughout\n\n{{ $json.feedback ? 'CRITICAL - PREVIOUS ATTEMPT FAILED:\\n  - Score: ' + $json.output.score + '/100\\n  - Verdict: ' + $json.output.verdict + '\\n  - Feedback: ' + $json.feedback + '\\n  - You MUST use the Think tool to analyze why this failed.\\n  - Try a DIFFERENT format or more absurd subject.\\n' : '' }}\n\n  constraints:\n    - Valid JSON output only\n    - `title`: Catchy, shareable title (max 15 words)\n    - `final_prompt`: Single detailed prompt string for Sora\n    - `tags`: Comma-separated relevant tags\n    - NO on-screen text in the video\n    - NO meta-humor about AI\n\nN - Notation:\n  format: JSON\n  expected_output:\n    {\n      \"title\": \"Catchy meme title\",\n      \"final_prompt\": \"Detailed Sora prompt with format, subject, setting, lighting, audio, and tone instructions\",\n      \"tags\": \"sora, ai, meme, viral, [format-specific tags]\"\n    }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1424,
        -560
      ],
      "id": "3cdd1dbf-ff77-4b9d-abb9-25d486231f82",
      "name": "AI Agent: Generate Video Script1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0ab38af-d33e-42b5-936d-7c62ca4ff721",
              "leftValue": "={{ $json.output.should_regenerate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "054cd96c-dab0-4913-8183-0d7cce0baa22",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        -352
      ],
      "id": "f5599e50-b17e-40ed-81ee-fe8d8f5012b3",
      "name": "If1"
    },
    {
      "parameters": {
        "description": "Use this tool to plan your viral AI video meme before generating.\n\nTHINK THROUGH THE VIRAL FORMULA:\n\n1. WHAT'S THE FORMAT?\n   - Bodycam footage?\n   - Security cam/Ring doorbell?\n   - 80s/90s commercial?\n   - Movie scene recreation?\n   - Nature documentary?\n   - What do viewers INSTANTLY recognize?\n\n2. WHAT'S THE ABSURD SUBJECT?\n   - Sentient food in business attire?\n   - Animals doing human activities?\n   - Beloved character in wrong profession?\n   - Inanimate object with agency?\n   - Is it SPECIFIC enough? (\"sentient taco in grey suit\" not just \"funny taco\")\n\n3. IS THE EXECUTION SERIOUS ENOUGH?\n   - Would a real bodycam officer act this professional?\n   - Would a real documentary narrator be this grave?\n   - Would a real 80s commercial be this enthusiastic?\n   - NEVER acknowledge the absurdity\n\n4. THE SPECIFICITY CHECK:\n   - Do I have specific clothing details?\n   - Do I have specific setting details?\n   - Do I have specific action details?\n   - Do I have lighting and audio details?\n\n5. THE SHARE TEST:\n   - Would someone screenshot this?\n   - Would someone send this to their group chat?\n   - Would someone tag their friend saying \"this is you\"?\n\n6. IF REGENERATING:\n   - What format did the last attempt use?\n   - Should I try a completely different format?\n   - Was the subject absurd ENOUGH?\n   - Was the execution serious ENOUGH?\n\nRED FLAGS - REJECT IF:\n- The prompt includes \"funny\" or \"humorous\"\n- The format isn't instantly recognizable\n- The subject isn't absurd enough\n- The execution acknowledges the joke\n- It's too similar to the previous failed attempt"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1344,
        -336
      ],
      "id": "bbe42404-64c2-43df-a197-8511e26ddefc",
      "name": "Think Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -2256,
        -128
      ],
      "id": "9fa84053-05e5-46e6-ad42-04c89a63c672",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1136,
        -128
      ],
      "id": "184511db-fc46-49dc-922b-85cb19bee875",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Yi51lX7Jst94KFYD",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store-title",
              "name": "previous_title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "store-prompt",
              "name": "previous_prompt",
              "value": "={{ $json.output.final_prompt }}",
              "type": "string"
            },
            {
              "id": "store-tags",
              "name": "previous_tags",
              "value": "={{ $json.output.tags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -480
      ],
      "id": "a1f4af7a-7dd9-4df9-b577-206a834a03e3",
      "name": "Store Script Output"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-15T07:30:00.005-05:00",
          "Readable date": "December 15th 2025, 7:30:00 am",
          "Readable time": "7:30:00 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "15",
          "Hour": "07",
          "Minute": "30",
          "Second": "00",
          "Timezone": "America/New_York (UTC-05:00)"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-29T05:07:34.034Z",
      "createdAt": "2025-11-29T05:07:34.034Z",
      "role": "workflow:owner",
      "workflowId": "H6R6Jl81EUp8L3Tr",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-15T17:28:36.000Z",
  "versionId": "af3bcddb-dbd3-40b5-8ad3-4ec465426f9a"
}