backup-2025/04/HiHq4riL9nVKWTAk.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Stock Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Options": {
      "main": [
        [
          {
            "node": "ETFs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Indices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETFs": {
      "main": [
        [
          {
            "node": "etf_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indices": {
      "main": [
        [
          {
            "node": "index_categorgy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stocks": {
      "main": [
        [
          {
            "node": "stock_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stock_category": {
      "main": [
        [
          {
            "node": "Stock Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "index_categorgy": {
      "main": [
        [
          {
            "node": "Index Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "etf_category": {
      "main": [
        [
          {
            "node": "ETF Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Prepare Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETF Quality Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index Quality Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Stock Quality Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-18T23:02:55.526Z",
  "id": "HiHq4riL9nVKWTAk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Stonks",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        -160
      ],
      "id": "4a45c39d-21d4-4e48-91c7-7015548069fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://follow-the-leader-1031886805039.us-east1.run.app",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        -160
      ],
      "id": "81a2d5fb-0cde-448d-8841-2be57fa296af",
      "name": "Get Stock Options"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're an expert options trader. Given the following trade, respond with your opinion and a numeric confidence (0 to 1):\n\n- Ticker: {{ $json[\"ticker\"] }}\n- Type: {{ $json[\"type\"] }}\n- Strike: {{ $json[\"strike\"] }}\n- Expiration: {{ $json[\"expiration\"] }}\n- Days to Expiration: {{ $json[\"daysToExpiration\"] }}\n- Base Price: {{ $json[\"baseLastPrice\"] }}\n- Volume: {{ $json[\"volume\"] }}\n- Open Interest: {{ $json[\"openInterest\"] }}\n- Volatility: {{ $json[\"volatility\"] }}\n- Delta: {{ $json[\"delta\"] }}\n- Volume/Open Interest Ratio: {{ $json[\"volumeOpenInterestRatio\"] }}\n\nRespond with JSON:\n{\n  \"confidence\": float,\n  \"opinion\": \"short analysis here\"\n}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a highly experienced options trader. You evaluate option trade data and estimate how likely it is to result in profit. Be concise and analytical.\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2200,
        -140
      ],
      "id": "d1f984d1-33fa-426f-887a-94c6c3c1e25e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2220,
        120
      ],
      "id": "9b6b0106-99d4-4ded-945b-132358da77ec",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Yi51lX7Jst94KFYD",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"confidence\": 0.0,\n  \"opinion\": \"short analysis here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2380,
        120
      ],
      "id": "2d1b238c-6743-48d5-9569-3cc5aa31e6e1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1940,
        -160
      ],
      "id": "2f50df75-cad7-404c-ba9a-4d286a822aff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "etfs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        -380
      ],
      "id": "053e345e-cfea-4038-8827-1b3c798fd92c",
      "name": "ETFs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "indices",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        -160
      ],
      "id": "fba36e2b-4839-44a0-bcc4-02de7e32c70f",
      "name": "Indices"
    },
    {
      "parameters": {
        "fieldToSplitOut": "stocks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        60
      ],
      "id": "7ee732f1-342c-4551-a002-0f9be8695e27",
      "name": "Stocks"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ruleProb = parseFloat($('Loop Over Items').first().json.probabilityOfProfit);\nconst llmConfidence = parseFloat($json.output.confidence);\nreturn {\n  json: {\n    ...$('Loop Over Items').first().json,\n    finalConfidence: Math.round((ruleProb * 0.6 + llmConfidence * 0.4) * 100) / 100,\n    llmOpinion: $json.output.opinion,\n    llmConfidence\n  }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        -140
      ],
      "id": "2e531336-7d8f-4ccb-8dda-19d46c589709",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56cc6f6e-9e71-4443-9d1e-538ace05d39c",
              "leftValue": "={{ $json.finalConfidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2480,
        -480
      ],
      "id": "a424a917-0c68-4270-add3-7d694209a036",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00db965c-767a-4621-adcf-9a96545c0e98",
              "name": "category",
              "value": "stock",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        60
      ],
      "id": "451b6360-9bfc-4b48-ade6-543e62713d19",
      "name": "stock_category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00db965c-767a-4621-adcf-9a96545c0e98",
              "name": "category",
              "value": "index",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        -160
      ],
      "id": "1ea3fd23-5cd2-4dac-9ab7-6fe72bff2e1b",
      "name": "index_categorgy"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1660,
        -160
      ],
      "id": "8c42ec29-d8bb-4eeb-b0ae-d6439e8e330d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00db965c-767a-4621-adcf-9a96545c0e98",
              "name": "category",
              "value": "etf",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        -380
      ],
      "id": "ad3c028b-b484-4f30-b956-b299edc29fcf",
      "name": "etf_category"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2740,
        -480
      ],
      "id": "f9681726-88bd-4e54-a038-f94b4c40ede7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\n// Initialize or retrieve seen symbols\nconst seenTrades = staticData.seenOptionSymbols || [];\n\nconst trades = $json.data.filter(t => !seenTrades.includes(t.symbol));\n\n// Save newly seen trades\nstaticData.seenOptionSymbols = [...new Set([...seenTrades, ...trades.map(t => t.symbol)])];\n\n// Exit early if no new trades\nif (trades.length === 0) {\n  return [{ json: { discordMessage: JSON.stringify(\"✅ No new trades to report.\") } }];\n}\n\nconst message = `🔥 Top Bandwagon Trades\\n\\n` + trades.map((t, i) => \n  `${i + 1}. **${t.ticker}** - ${t.type} $${t.strike} exp ${t.expiration}\n📊 Vol/OI: ${t.volumeOpenInterestRatio} | 🎯 Rule Score: ${t.probabilityOfProfit} | 🤖 AI Score: ${t.llmConfidence} | 📈 Final Score: ${t.finalConfidence}\n\n🧠 ${t.llmOpinion}`\n).join(\"\\n\\n\");\n\nreturn [\n  {\n    json: {\n      discordMessage: message // <-- remove JSON.stringify here\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -480
      ],
      "id": "294a67e1-f6a5-4e64-b183-f93425a21e88",
      "name": "Prepare Message1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28116fd4-52f4-46c3-81b3-7914324a727e",
              "leftValue": "={{ $json.discordMessage }}",
              "rightValue": "No new trades",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3260,
        -480
      ],
      "id": "f8b9d4db-ace6-441b-a9c1-5cfdb880cf33",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "def9b587-c4d2-42d3-a7b8-32e3b3e893df",
              "leftValue": "={{ $json.probabilityOfProfit }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1300,
        -380
      ],
      "id": "c25cc25b-6860-4258-9a92-2c2f517b1228",
      "name": "ETF Quality Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "def9b587-c4d2-42d3-a7b8-32e3b3e893df",
              "leftValue": "={{ $json.probabilityOfProfit }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1300,
        -160
      ],
      "id": "3ef485c3-e15c-4079-a9da-747c50e6fe54",
      "name": "Index Quality Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "def9b587-c4d2-42d3-a7b8-32e3b3e893df",
              "leftValue": "={{ $json.probabilityOfProfit }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1300,
        60
      ],
      "id": "61923a2c-ff4d-448c-9791-c5c521531d7c",
      "name": "Stock Quality Filter"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "<@246812164885577729>",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.discordMessage }}",
              "color": "#58B9FF"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3500,
        -480
      ],
      "id": "2341e466-3bcd-4b2e-b89a-ebf2cbb6c39d",
      "name": "Discord",
      "webhookId": "ae37aa6b-2500-45b5-bf30-de22bd5dcb42",
      "credentials": {
        "discordWebhookApi": {
          "id": "KYLbLPDB4dbpWjW6",
          "name": "Baka Stonks"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-04-19T20:00:34.025-04:00",
          "Readable date": "April 19th 2025, 8:00:34 pm",
          "Readable time": "8:00:34 pm",
          "Day of week": "Saturday",
          "Year": "2025",
          "Month": "April",
          "Day of month": "19",
          "Hour": "20",
          "Minute": "00",
          "Second": "34",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "seenOptionSymbols": [
        "SPY|20250523|440.00P",
        "SPY|20250523|405.00P",
        "SPY|20250422|527.00P",
        "QQQ|20250421|443.00C",
        "AI|20250425|20.00C",
        "AUR|20250516|6.00C",
        "MSTR|20250425|337.50C",
        "AI|20250425|21.00C",
        "UMC|20250516|7.00C",
        "AMZN|20250425|160.00C",
        "COIN|20250425|197.50C",
        "SMCI|20250425|36.50C",
        "TSLA|20250509|125.00P",
        "XRT|20250425|65.00P",
        "CG|20250620|32.50P",
        "MGA|20250620|30.00P",
        "SPY|20250422|510.00C",
        "HYG|20250523|76.00P",
        "DAL|20250620|34.00P",
        "SLV|20250523|33.00C",
        "IBIT|20250425|51.50P",
        "TSM|20250815|95.00P",
        "$VIX|20250618|17.50P",
        "VFC|20250516|12.00C",
        "MSTR|20250425|345.00P",
        "PPL|20250516|37.00C",
        "VKTX|20250815|22.50P",
        "TSLA|20250530|155.00P",
        "CCL|20250620|14.00P",
        "RXRX|20250919|5.00P",
        "SPY|20250422|523.00P",
        "QQQ|20250422|443.00P",
        "SPY|20250422|525.00P",
        "NKE|20250523|65.00C",
        "PTON|20250509|7.50C",
        "SPY|20250422|528.00P",
        "ASHR|20250509|28.00C",
        "SPY|20250422|532.00P",
        "NG|20250620|6.00C",
        "APPN|20251017|27.50C",
        "NVDA|20250509|108.00P",
        "STX|20250516|80.00P",
        "RIOT|20251219|11.00C",
        "AFRM|20250425|50.00P",
        "HYG|20250919|66.00P",
        "SPY|20250423|541.00P",
        "QQQ|20250423|458.00P",
        "SPY|20250423|543.00P",
        "MMM|20250919|125.00C",
        "SPY|20250423|542.00P",
        "SPY|20250423|538.00P",
        "SPY|20250423|539.00P",
        "LUV|20250502|25.50C",
        "SPY|20250423|536.00P",
        "SPY|20250423|537.00P",
        "SPY|20250423|535.00P",
        "PLTR|20250425|102.00P",
        "QQQ|20250423|455.00P",
        "SPY|20250424|536.00P",
        "SPY|20250424|537.00P",
        "QQQ|20250516|428.00P",
        "ETHE|20250516|13.00P",
        "GOOGL|20270617|155.00C",
        "CCJ|20250620|33.00P",
        "CMG|20250502|48.50P",
        "NWL|20250620|5.00C",
        "SPY|20250424|546.00P",
        "SNAP|20250509|7.50P",
        "XLF|20250718|39.00P",
        "PLTR|20250425|104.00P",
        "MRK|20250502|74.00P",
        "CX|20250516|6.00C",
        "MRNA|20250516|27.00C",
        "MOS|20250425|29.00C",
        "QQQ|20250424|466.00P",
        "GES|20260116|3.00P",
        "SPY|20250424|547.00P",
        "GLD|20260618|300.00P",
        "QQQ|20250523|335.00P"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-15T04:55:24.768Z",
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-23T16:17:34.000Z",
  "versionId": "663cc6e6-f919-4392-8034-c5ac02f4d6cb"
}