backup-2025/07/DXAx8GbxdihX7ZbA.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Delete Download(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Download(s)": {
      "main": [
        [
          {
            "node": "Clear Downloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-04T19:51:44.920Z",
  "id": "DXAx8GbxdihX7ZbA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Delete BakaWorld Downloads every 30 days",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        0
      ],
      "id": "7cb0912a-5fb0-49b7-8632-eb4aae256336",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET downloads = '[]'::jsonb",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        380,
        0
      ],
      "id": "995e2c38-63cc-4216-a7c7-7b5638be9c1e",
      "name": "Clear Downloads",
      "credentials": {
        "postgres": {
          "id": "63Uzmf3H0VuXxdXP",
          "name": "BakaWorld DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  downloads_item ->> 'id' AS download_id \nFROM \n  users, \n  LATERAL jsonb_array_elements(downloads) AS downloads_item \nWHERE \n  downloads IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -60,
        0
      ],
      "id": "9058c5da-6655-45f6-8524-2149d5cd1ca2",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "63Uzmf3H0VuXxdXP",
          "name": "BakaWorld DB"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.real-debrid.com/rest/1.0/torrents/delete/{{ $json.download_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "60118b5d-7cea-4de7-bba2-9c8861594555",
      "name": "Delete Download(s)",
      "credentials": {
        "httpQueryAuth": {
          "id": "nD7ei1tu51CS9KxZ",
          "name": "Google Gemini API Key"
        },
        "httpBearerAuth": {
          "id": "mSOiWK3SFXOS21ri",
          "name": "RD Token"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-05T19:59:42.000Z",
  "versionId": "955e8ad3-2821-435d-9566-f9fa77cf2ca6"
}