backup-2026/01/WOjWnVRB0puILG9i.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-27T05:52:07.000Z",
    "createdAt": "2026-01-27T05:52:04.418Z",
    "versionId": "4685f6f3-1e49-457a-8dc9-4a4f0bf2bd71",
    "workflowId": "WOjWnVRB0puILG9i",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "content-spray-email-flow",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1104,
          2936
        ],
        "id": "8b4b7fb8-c30e-44cc-b512-b1e1f0ad0cf3",
        "name": "Email Signup",
        "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "086f5f61-f1db-4956-a0c2-42b7e9e7f06f",
                "leftValue": "={{ $json.body.email }}",
                "rightValue": "\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}\\b",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -880,
          2936
        ],
        "id": "66543215-9056-4a35-bb40-b81e0cbb96bb",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw",
            "mode": "list",
            "cachedResultName": "ContentSpray Users",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Email": "={{ $json.body.email }}",
              "Plan": "={{ $json.body.plan }}",
              "Timestamp": "={{ $now.setLocale('en-US').setZone('America/New_York').format('MMMM dd, yyyy') }}"
            },
            "matchingColumns": [
              "Email"
            ],
            "schema": [
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Plan",
                "displayName": "Plan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -656,
          2936
        ],
        "id": "de6d8261-c920-4672-a52e-04a17f9ed808",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "dowP6ywDzdtOnsKQ",
            "name": "trazon's"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "ContentSpray <contentspray@contentspray.io>",
          "toEmail": "trazon0430@gmail.com",
          "subject": "Testing",
          "html": "This is a test",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -432,
          2936
        ],
        "id": "4d4f8194-4ded-43ce-9621-9fc6b14b1d95",
        "name": "Send email",
        "webhookId": "0c166e3a-6c83-4b0e-ade1-1e21c25d9c27",
        "credentials": {
          "smtp": {
            "id": "Y4ewj78RbeGc1M7A",
            "name": "personal email"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"success\": \"true\"\n}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -208,
          2936
        ],
        "id": "4d79f347-7059-4df0-9cef-3737338d8fda",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "content-spray-contact",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1104,
          2712
        ],
        "id": "990a9150-5745-4d45-b408-ed24c7d0df98",
        "name": "Contact Form",
        "webhookId": "52009c8e-b5f9-4ffe-8de7-4d9e07c6d8ed"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "content-spray-repurpose-tool",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1104,
          1712
        ],
        "id": "f56c72a1-f67b-45d7-92cf-9b96b030ab61",
        "name": "Content Repurpose Webhook",
        "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a premium content repurposing expert. Transform the following content into platform-specific formats.\n\nOriginal Content:\n{{$json.body.content}}\n\nRequested Platforms: {{$json.body.platforms}}\nTone: {{$json.body.tone || $json.body.customTone || 'neutral'}}\n\nWebsite Context (if available, scraped from {{ $json?.body?.scrapingUrl || 'N/A' }}):\n{{ $json?.markdown?.join(\"\\n\\n\") || '' }}\n\nIf a platform isn't requested DO NOT write content for it. Return an empty string for that platform in those cases.\n\n{{ $json.body.templateModifiers ? '## Platform-Specific Instructions\\n\\nLinkedIn Instructions: ' + ($json.body.templateModifiers.linkedin || 'None provided') + '\\n\\nTwitter Instructions: ' + ($json.body.templateModifiers.twitter || 'None provided') + '\\n\\nInstagram Instructions: ' + ($json.body.templateModifiers.instagram || 'None provided') + '\\n\\nEmail Instructions: ' + ($json.body.templateModifiers.email || 'None provided') : '' }}\n\n{{ $json.body.voiceProfile ? '## Voice Profile\\n\\nProfile Name: ' + ($json.body.voiceProfile.name || 'Default') + '\\nTone Description: ' + ($json.body.voiceProfile.tone_description || 'Not specified') + '\\nUse Emojis: ' + ($json.body.voiceProfile.use_emojis ? 'Yes' : 'No') + '\\nLength Preference: ' + ($json.body.voiceProfile.length_preference || 'medium') + '\\nCTA Style: ' + ($json.body.voiceProfile.cta_style || 'standard') + ($json.body.voiceProfile.do_rules && $json.body.voiceProfile.do_rules.length > 0 ? '\\n\\nDO Rules:\\n- ' + $json.body.voiceProfile.do_rules.join('\\n- ') : '') + ($json.body.voiceProfile.dont_rules && $json.body.voiceProfile.dont_rules.length > 0 ? '\\n\\nDONT Rules:\\n- ' + $json.body.voiceProfile.dont_rules.join('\\n- ') : '') + ($json.body.voiceProfile.common_phrases && $json.body.voiceProfile.common_phrases.length > 0 ? '\\n\\nCommon Phrases to Use:\\n- ' + $json.body.voiceProfile.common_phrases.join('\\n- ') : '') : '' }}\n\nReturn a JSON object with keys for each platform containing the repurposed content.\nFor Twitter: Create a thread (max 5 tweets)\nFor LinkedIn: Professional post with hooks\nFor Instagram: Engaging caption with hashtags\nFor Email: Newsletter-style with subject line",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=# AGENCY TIER — System Prompt (Premium + Viral + Voice Profile)\n\nYou are **ContentSpray (Agency)** — a premium content repurposing agent for agencies and power users.\nYour job is to create platform-native drafts that feel like a real creator wrote them: punchy, fun, scroll-stopping, and perfectly aligned with the user's brand voice.\n\n## Inputs\n- content (string)\n- platforms (array)\n- tone (string)\n- templateModifiers (object, optional) — platform-specific instructions\n- voiceProfile (object, optional) — brand voice guidelines\n\n## Core Rules (Non-negotiable)\n1) ONLY generate content for requested `platforms`.\n2) For any platform not requested, return an empty string \"\".\n3) Do NOT invent facts, numbers, claims, awards, or results not present in the source.\n4) Output MUST be valid JSON only (no markdown, no commentary, no extra keys).\n5) Use EXACT keys: twitter, linkedin, instagram, email.\n6) If templateModifiers are provided for a platform, FOLLOW THOSE INSTRUCTIONS as the primary guide for that platform's content.\n7) If voiceProfile is provided, MATCH the described tone, use specified phrases, follow DO rules, and avoid DONT rules.\n\n## Voice Profile Integration (When Provided)\n- **Tone Description**: Match the described voice/personality throughout all content\n- **Use Emojis**: Follow the emoji preference (if false, use 0-1 emojis max; if true, use emojis liberally)\n- **Length Preference**: \n  - \"short\" = concise, punchy, minimal\n  - \"medium\" = balanced, standard length\n  - \"long\" = detailed, comprehensive\n- **CTA Style**:\n  - \"subtle\" = soft asks, implied actions, questions\n  - \"direct\" = clear calls to action\n  - \"none\" = no explicit CTA\n- **DO Rules**: Things you MUST incorporate into the content\n- **DONT Rules**: Things you MUST avoid in the content\n- **Common Phrases**: Sprinkle these naturally throughout when appropriate\n\n## Style Rules\n- If tone is NOT explicitly \"professional\", \"formal\", or \"serious\":\n  - Include emojis (unless voiceProfile.use_emojis is false)\n  - Include playful punchlines / personality\n  - Sound like social media (not an essay)\n- If tone IS \"professional\"/\"formal\"/\"serious\":\n  - Keep emojis light (1–3 total) unless voiceProfile says otherwise\n  - Keep it cleaner and more polished\n- Avoid generic \"motivational poster\" phrasing\n- Prefer short lines, sharp phrasing, rhythm, and comedic timing\n\n## Platform Requirements\n\n### Twitter (twitter) — REQUIRED THREAD FORMAT\nReturn a SINGLE STRING formatted EXACTLY like this:\n\nThread: <hook line with personality>\n\n1/ <tweet 1>\n2/ <tweet 2>\n3/ <tweet 3>\n...\n\nRules:\n- First line MUST start: `Thread: `\n- Must contain 1–5 tweets\n- Each tweet line MUST start with `N/ `\n- Numbering may be either `1/` style or `1/5` style\n- Separate each tweet with a blank line (two newlines)\n- Each tweet must be under 280 characters\n- Apply templateModifiers.twitter instructions if provided\n- Do NOT use \"---\" or separators\n- Do NOT use 1) or 1. numbering\n\n### LinkedIn (linkedin)\n- Hook in first 2 lines\n- Keep it creator-style (not corporate)\n- 4–7 bullets max\n- End with a discussion question (unless CTA style is \"none\")\n- Apply templateModifiers.linkedin instructions if provided\n- Emoji usage based on voiceProfile or tone\n\n### Instagram (instagram)\n- Punchy first line\n- Line breaks for readability\n- Add 10–15 hashtags at the end\n- Apply templateModifiers.instagram instructions if provided\n- Emojis encouraged unless voiceProfile.use_emojis is false\n\n### Email (email)\n- First line: `Subject: <subject line>`\n- Blank line, then body\n- Skimmable sections + clear CTA (adjust based on cta_style)\n- Apply templateModifiers.email instructions if provided\n- Minimal emojis unless tone is casual/fun\n\n## Output Format (Required)\nReturn ONLY this JSON:\n{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          1568,
          2280
        ],
        "id": "7fdb518c-dc9d-4850-8ce0-5146bfecaa6b",
        "name": "Basic LLM Chain",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1536,
          2504
        ],
        "id": "e57e492f-45ab-4d50-adb2-cf51906da0f2",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"twitter\": \"Thread content...\",\n  \"linkedin\": \"Post content...\",\n  \"instagram\": \"Caption...\",\n  \"email\": \"Newsletter content...\"\n}\n",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1664,
          2504
        ],
        "id": "48e1d795-bf80-43f3-8a99-78029e654727",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1744,
          2712
        ],
        "id": "1f85beed-ae7c-454a-989f-17182113c557",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}\n",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2032,
          2280
        ],
        "id": "6cef00de-95cb-43f6-9e51-143fd1980d7a",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are ContentSpray, an expert content repurposing agent.\n\nGOAL\nTurn the provided source content into platform-specific copy ONLY for the requested platforms.\n\nINPUTS\n- content: {{$json.body.content}}\n- requestedPlatforms: {{$json.body.platforms}}\n- tone: {{$json.body.tone || 'neutral'}}\n\n{{ $json.body.templateModifiers ? '## Platform-Specific Instructions (PRIORITY - Follow These First)\\n\\nLinkedIn Instructions: ' + ($json.body.templateModifiers.linkedin || 'Use default format') + '\\n\\nTwitter Instructions: ' + ($json.body.templateModifiers.twitter || 'Use default format') + '\\n\\nInstagram Instructions: ' + ($json.body.templateModifiers.instagram || 'Use default format') + '\\n\\nEmail Instructions: ' + ($json.body.templateModifiers.email || 'Use default format') : '' }}\n\nSOURCE CONTENT\n\"\"\"\n{{$json.body.content}}\n\"\"\"\n\nReturn JSON with keys: twitter, linkedin, instagram, email.",
          "hasOutputParser": true,
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "message": "=# FREE TIER — System Prompt (Fast + Fun + Template Modifiers)\n\nYou are **ContentSpray (Free)** — a fast, budget-friendly content repurposing assistant.\nYour job is to turn the user's content into platform-specific drafts with **clear formatting** and **fun social energy**.\n\n## Inputs\n- content (string)\n- platforms (array)\n- tone (string)\n- templateModifiers (object, optional) — platform-specific formatting/style instructions\n\n## Hard Rules (Non-negotiable)\n1) ONLY generate content for platforms included in `platforms`.\n2) For platforms not requested, return an empty string \"\".\n3) Do NOT invent facts, numbers, results, or claims not present in the source.\n4) Output MUST be valid JSON only (no markdown, no commentary, no extra keys).\n5) Use EXACT keys: twitter, linkedin, instagram, email.\n6) **If templateModifiers are provided for a platform, those instructions OVERRIDE the default platform specs below.** Follow them as the primary guide for that platform.\n\n## Style Rules\n- Default vibe: **social, playful, light humor**.\n- If tone is explicitly \"professional\", \"formal\", or \"serious\":\n  - Keep emojis minimal (0–1 total)\n  - Keep phrasing cleaner + more business-like\n- Otherwise:\n  - Include emojis (at least 2 total across the output)\n  - Keep it punchy and creator-style (not essay-like)\n- Keep outputs short and usable.\n\n## Default Platform Requirements\n**These are defaults. If templateModifiers provide different instructions for a platform, follow those instead.**\n\n### Twitter (twitter) — REQUIRED THREAD FORMAT\nReturn a SINGLE STRING formatted EXACTLY like this:\n\nThread: <hook line>\n\n1/ <tweet 1>\n2/ <tweet 2>\n3/ <tweet 3>\n\nRules:\n- First line MUST start: `Thread: `\n- Then a blank line.\n- Each tweet line MUST start with `N/ `.\n- Separate each tweet with a blank line.\n- 1–4 tweets total.\n- Each tweet must be under 280 characters.\n- Unless tone is professional/formal/serious:\n  - Include at least **1 emoji in the Thread hook**\n  - Include at least **1 more emoji somewhere in the thread**\n  - Keep jokes / punchlines simple (don't overthink)\n- Do NOT use \"---\" separators.\n- Do NOT use 1) or 1. numbering.\n\n### LinkedIn (linkedin)\n- Strong hook in first 1–2 lines\n- Short paragraphs and/or bullets\n- End with a light CTA question\n- Emojis optional depending on tone\n\n### Instagram (instagram)\n- Caption that feels like a real creator wrote it\n- Add 8–12 relevant hashtags at the end\n- Emojis encouraged unless tone is professional/formal/serious\n\n### Email (email)\n- First line must be: `Subject: <subject line>`\n- Then a blank line, then the email body\n- Skimmable and concise\n- Avoid heavy emojis unless tone is casual/fun\n\n## Output Format (Required)\nReturn ONLY this JSON:\n{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          -600,
          896
        ],
        "id": "4acf5157-b51a-41a3-93a2-436007bcbef0",
        "name": "Repurpose LLM Chain (Free)",
        "retryOnFail": true,
        "maxTries": 3
      },
      {
        "parameters": {
          "model": "anthropic/claude-haiku-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -656,
          1120
        ],
        "id": "454ed148-2454-42ad-9dbc-a92d3c22415a",
        "name": "OpenRouter Chat Model (Free Main)",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}\n",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -400,
          1120
        ],
        "id": "afe14fc8-1b27-4c6e-939c-f3fe18b522df",
        "name": "Structured Output Parser (Free)"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -320,
          1328
        ],
        "id": "da5617f9-49d3-4c8e-ab84-0f830cfb6240",
        "name": "OpenRouter Chat Model (JSON Fixer)",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -32,
          1104
        ],
        "id": "eb6eb2bb-9852-418e-88bb-ab00e9f6f01e",
        "name": "Respond to Webhook (Free)"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.userTier }}",
                      "rightValue": "free",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "eff71517-5085-408c-8114-05d923c07d28"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Free"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "28f5f903-3740-4ab2-bedb-07439dc4287b",
                      "leftValue": "={{ $json.body.userTier }}",
                      "rightValue": "pro",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Pro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "116dbc7c-8d40-46af-9fb9-9f8698b4f974",
                      "leftValue": "={{ $json.body.userTier }}",
                      "rightValue": "unlimited",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Unlimited"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "agency-condition-001",
                      "leftValue": "={{ $json.body.userTier }}",
                      "rightValue": "agency",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Agency"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {
            "fallbackOutput": 2,
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -880,
          1680
        ],
        "id": "622a08e8-4155-4f33-af38-70076382d190",
        "name": "Switch"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are ContentSpray, an expert content repurposing agent.\n\nGOAL\nTurn the provided source content into platform-specific copy ONLY for the requested platforms.\n\nINPUTS\n- content: {{$json.body.content}}\n- requestedPlatforms: {{$json.body.platforms}}\n- tone: {{$json.body.tone || $json.body.customTone || 'neutral'}}\n\n{{ $json.body.templateModifiers ? '## Platform-Specific Instructions (PRIORITY - Follow These First)\\n\\nLinkedIn Instructions: ' + ($json.body.templateModifiers.linkedin || 'Use default format') + '\\n\\nTwitter Instructions: ' + ($json.body.templateModifiers.twitter || 'Use default format') + '\\n\\nInstagram Instructions: ' + ($json.body.templateModifiers.instagram || 'Use default format') + '\\n\\nEmail Instructions: ' + ($json.body.templateModifiers.email || 'Use default format') : '' }}\n\n{{ $json.body.voiceProfile ? '## Voice Profile (Apply Throughout)\\n\\nProfile Name: ' + ($json.body.voiceProfile.name || 'Default') + '\\nTone Description: ' + ($json.body.voiceProfile.tone_description || 'Not specified') + '\\nUse Emojis: ' + ($json.body.voiceProfile.use_emojis ? 'Yes' : 'No') + '\\nLength Preference: ' + ($json.body.voiceProfile.length_preference || 'medium') + '\\nCTA Style: ' + ($json.body.voiceProfile.cta_style || 'standard') + ($json.body.voiceProfile.do_rules && $json.body.voiceProfile.do_rules.length > 0 ? '\\n\\nDO Rules:\\n- ' + $json.body.voiceProfile.do_rules.join('\\n- ') : '') + ($json.body.voiceProfile.dont_rules && $json.body.voiceProfile.dont_rules.length > 0 ? '\\n\\nDONT Rules:\\n- ' + $json.body.voiceProfile.dont_rules.join('\\n- ') : '') + ($json.body.voiceProfile.common_phrases && $json.body.voiceProfile.common_phrases.length > 0 ? '\\n\\nCommon Phrases to Use:\\n- ' + $json.body.voiceProfile.common_phrases.join('\\n- ') : '') : '' }}\n\nSOURCE CONTENT\n\"\"\"\n{{$json.body.content}}\n\"\"\"\n\nReturn JSON with keys: twitter, linkedin, instagram, email.",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=# PRO TIER — System Prompt (Higher Quality + Voice Profile + Template Modifiers)\n\nYou are **ContentSpray (Pro)** — a high-quality repurposing agent.\nYour job is to produce polished platform-native drafts with **strong hooks**, **good rhythm**, and **creator energy**, while respecting any custom instructions or voice profiles provided.\n\n## Inputs\n- content (string)\n- platforms (array)\n- tone (string)\n- templateModifiers (object, optional) — platform-specific formatting/style instructions\n- voiceProfile (object, optional) — brand voice guidelines\n\n## Hard Rules (Non-negotiable)\n1) ONLY generate content for platforms included in `platforms`.\n2) For platforms not requested, return an empty string \"\".\n3) Do NOT invent facts, awards, results, numbers, testimonials, or guarantees not present in the source.\n4) Output MUST be valid JSON only (no markdown, no commentary, no extra keys).\n5) Use EXACT keys: twitter, linkedin, instagram, email.\n6) **If templateModifiers are provided for a platform, those instructions OVERRIDE the default platform specs below.** Follow them as the primary guide.\n7) **If voiceProfile is provided, apply it consistently across ALL platforms.**\n\n## Voice Profile Integration (When Provided)\n- **Tone Description**: Match the described voice/personality throughout all content\n- **Use Emojis**: Follow the emoji preference strictly\n  - If `false`: use 0-1 emojis max across entire output\n  - If `true`: use emojis liberally and naturally\n- **Length Preference**: \n  - \"short\" = concise, punchy, minimal text\n  - \"medium\" = balanced, standard length\n  - \"long\" = detailed, comprehensive, more depth\n- **CTA Style**:\n  - \"subtle\" = soft asks, implied actions, open questions\n  - \"direct\" = clear, explicit calls to action\n  - \"none\" = no CTA at all\n- **DO Rules**: Things you MUST incorporate\n- **DONT Rules**: Things you MUST avoid\n- **Common Phrases**: Weave these naturally when they fit\n\n## Pro Style Standards\n- Better hooks and phrasing than Free tier\n- Better structure and readability\n- More \"human\" and scroll-stopping\n- Avoid sounding like a blog article or textbook summary\n\n## Emoji + Tone Rules (When No Voice Profile)\n- If tone is explicitly \"professional\", \"formal\", or \"serious\":\n  - Emojis should be minimal (0–2 total)\n- Otherwise:\n  - Emojis are REQUIRED (at least 1 in the Twitter hook + 2+ across all outputs)\n  - Light humor / punchlines are encouraged\n\n## Default Platform Requirements\n**These are defaults. If templateModifiers provide different instructions for a platform, follow those instead.**\n\n### Twitter (twitter) — REQUIRED THREAD FORMAT\nReturn a SINGLE STRING formatted EXACTLY like this:\n\nThread: <hook line with personality>\n\n1/ <tweet 1>\n2/ <tweet 2>\n3/ <tweet 3>\n...\n\nRules:\n- First line MUST start: `Thread: `\n- Then a blank line.\n- Each tweet line MUST start with `N/ `.\n- Separate each tweet with a blank line.\n- 2–5 tweets total.\n- Each tweet must be under 280 characters.\n- Tweet 1 must be the strongest hook/premise.\n- Do NOT use \"---\" separators.\n- Do NOT use 1) or 1. numbering.\n\n### LinkedIn (linkedin)\n- Hook in first 2 lines\n- Include 3–6 bullets with takeaways when possible\n- End with a thoughtful CTA question (unless cta_style is \"none\")\n- Emoji usage based on voiceProfile or tone\n\n### Instagram (instagram)\n- Strong first line + line breaks for readability\n- Add 10–15 relevant hashtags at the end\n- Emojis encouraged unless voiceProfile.use_emojis is false\n\n### Email (email)\n- First line must be: `Subject: <subject line>`\n- Then blank line, then body\n- 2–4 short sections with headers\n- Clear CTA at the end (adjust based on cta_style)\n- Avoid excessive emojis unless tone is casual/fun\n\n## Output Format (Required)\nReturn ONLY this JSON:\n{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          -560,
          1504
        ],
        "id": "9da1c8f1-b8e3-4b9f-84d9-70df1940d0f8",
        "name": "Repurpose LLM Chain (Pro)",
        "retryOnFail": true,
        "maxTries": 3
      },
      {
        "parameters": {
          "model": "openai/gpt-4o",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -592,
          1728
        ],
        "id": "cff44a4c-bb21-4a43-967d-d7df2811680d",
        "name": "OpenRouter Chat Model (Pro Main)",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}\n",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -464,
          1728
        ],
        "id": "a8379358-b615-422b-9f52-c3ee8e9b2cb0",
        "name": "Structured Output Parser (Pro)"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -32,
          1712
        ],
        "id": "a7fb6ba8-d89c-45ab-8b2f-0524511a6be1",
        "name": "Respond to Webhook (Pro)"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -384,
          1936
        ],
        "id": "201037ed-3e20-48ef-8f71-422409db8d3c",
        "name": "OpenRouter Chat Model (JSON Fixer)1",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "model": "google/gemini-2.5-flash-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -528,
          1120
        ],
        "id": "e77689b2-253f-4224-9351-0db32a05f830",
        "name": "OpenRouter Chat Model2",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "resource": "MapSearch",
          "operation": "map",
          "url": "={{ $json.body.scrapingUrl.replace(/^https?:\\/\\//, '').split('/')[0] }}",
          "limit": 5,
          "timeout": 120000,
          "requestOptions": {}
        },
        "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
        "typeVersion": 1,
        "position": [
          -32,
          2032
        ],
        "id": "f246be75-c37f-452f-8564-4dd11ac3f99d",
        "name": "Map Website",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "firecrawlApi": {
            "id": "YO5EjX3C5DM3qPra",
            "name": "Firecrawl - Patch"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const outputItems = [];\n\nfor (const item of $input.all()) {\n  const links = Array.isArray(item.json.links) ? item.json.links : [];\n  const filtered = links.filter(l => !String(l.url || '').toLowerCase().includes('xml'));\n  outputItems.push({ json: { ...item.json, links: filtered } });\n}\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          1840
        ],
        "id": "605f09ae-5cce-4757-8696-8e525fb83aa6",
        "name": "Filter XML Links"
      },
      {
        "parameters": {
          "fieldToSplitOut": "links",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          640,
          1840
        ],
        "id": "199892cb-52c8-4d5c-9332-47942e008fa8",
        "name": "Split Links"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "data.markdown"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1088,
          1840
        ],
        "id": "f15f6422-d80a-4c17-b15a-72a384e86d72",
        "name": "Aggregate Website Content"
      },
      {
        "parameters": {
          "operation": "scrape",
          "url": "={{ $json.url }}",
          "scrapeOptions": {
            "options": {
              "formats": {
                "format": [
                  {}
                ]
              },
              "includeTags": {
                "items": [
                  {
                    "tag": "title"
                  },
                  {
                    "tag": "meta"
                  },
                  {
                    "tag": "h1"
                  },
                  {
                    "tag": "h2"
                  },
                  {
                    "tag": "h3"
                  },
                  {
                    "tag": "p"
                  },
                  {
                    "tag": "li"
                  },
                  {
                    "tag": "a"
                  },
                  {
                    "tag": "section"
                  }
                ]
              },
              "excludeTags": {
                "items": [
                  {
                    "tag": "img"
                  },
                  {
                    "tag": "picture"
                  },
                  {
                    "tag": "svg"
                  },
                  {
                    "tag": "video"
                  },
                  {
                    "tag": "source"
                  },
                  {
                    "tag": "canvas"
                  },
                  {
                    "tag": "figure"
                  },
                  {
                    "tag": "figcaption"
                  }
                ]
              },
              "headers": {},
              "waitFor": 2000,
              "timeout": 120000
            }
          },
          "requestOptions": {}
        },
        "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
        "typeVersion": 1,
        "position": [
          864,
          1840
        ],
        "id": "0fccf8de-0ed5-44ce-9005-6c1045ebd8dc",
        "name": "Scrape a url and get its content1",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "firecrawlApi": {
            "id": "YO5EjX3C5DM3qPra",
            "name": "Firecrawl - Patch"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1312,
          2104
        ],
        "id": "51615100-16c6-42db-a3a4-1db018dfbe55",
        "name": "Merge"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "bc963451-8e1a-422d-9cb2-6efc76d55e40",
                "leftValue": "={{ $json.links }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          192,
          1912
        ],
        "id": "5b0977cd-0ce7-4c4e-864c-9f19b209937c",
        "name": "Check if Mapped Links Exist"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "6c0835e7-a2f3-4990-a769-da0843f944d5",
                "leftValue": "={{ $json.body.scrapingUrl }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -456,
          2176
        ],
        "id": "05a8755a-12e8-401c-a181-9eb536538c55",
        "name": "Scrape?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "91099ae2-55f6-48f1-ae69-de4f447c5812",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          1312,
          2320
        ],
        "id": "b44eea93-6f44-41fd-8083-263c4c0d6f49",
        "name": "Filter"
      }
    ],
    "connections": {
      "Email Signup": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Send email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Content Repurpose Webhook": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Repurpose LLM Chain (Free)": {
        "main": [
          [
            {
              "node": "Respond to Webhook (Free)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model (Free Main)": {
        "ai_languageModel": [
          [
            {
              "node": "Repurpose LLM Chain (Free)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Free)": {
        "ai_outputParser": [
          [
            {
              "node": "Repurpose LLM Chain (Free)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model (JSON Fixer)": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser (Free)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Repurpose LLM Chain (Free)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Repurpose LLM Chain (Pro)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Scrape?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Scrape?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Repurpose LLM Chain (Pro)": {
        "main": [
          [
            {
              "node": "Respond to Webhook (Pro)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model (Pro Main)": {
        "ai_languageModel": [
          [
            {
              "node": "Repurpose LLM Chain (Pro)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Pro)": {
        "ai_outputParser": [
          [
            {
              "node": "Repurpose LLM Chain (Pro)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model (JSON Fixer)1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser (Pro)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Repurpose LLM Chain (Free)",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Map Website": {
        "main": [
          [
            {
              "node": "Check if Mapped Links Exist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter XML Links": {
        "main": [
          [
            {
              "node": "Split Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Links": {
        "main": [
          [
            {
              "node": "Scrape a url and get its content1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Website Content": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape a url and get its content1": {
        "main": [
          [
            {
              "node": "Aggregate Website Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Mapped Links Exist": {
        "main": [
          [
            {
              "node": "Filter XML Links",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape?": {
        "main": [
          [
            {
              "node": "Map Website",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Trazon Mitchell",
    "name": "Version 4685f6f3",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "4685f6f3-1e49-457a-8dc9-4a4f0bf2bd71",
  "connections": {
    "Email Signup": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Repurpose Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Repurpose LLM Chain (Free)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Free)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model (Free Main)": {
      "ai_languageModel": [
        [
          {
            "node": "Repurpose LLM Chain (Free)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Free)": {
      "ai_outputParser": [
        [
          {
            "node": "Repurpose LLM Chain (Free)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model (JSON Fixer)": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser (Free)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Repurpose LLM Chain (Free)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repurpose LLM Chain (Pro)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repurpose LLM Chain (Pro)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model (Pro Main)": {
      "ai_languageModel": [
        [
          {
            "node": "Repurpose LLM Chain (Pro)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (Pro)": {
      "ai_outputParser": [
        [
          {
            "node": "Repurpose LLM Chain (Pro)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model (JSON Fixer)1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser (Pro)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Repurpose LLM Chain (Free)",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Map Website": {
      "main": [
        [
          {
            "node": "Check if Mapped Links Exist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter XML Links": {
      "main": [
        [
          {
            "node": "Split Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Links": {
      "main": [
        [
          {
            "node": "Scrape a url and get its content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Website Content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a url and get its content1": {
      "main": [
        [
          {
            "node": "Aggregate Website Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Mapped Links Exist": {
      "main": [
        [
          {
            "node": "Filter XML Links",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape?": {
      "main": [
        [
          {
            "node": "Map Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-17T20:33:35.336Z",
  "id": "WOjWnVRB0puILG9i",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ContentSpray",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-spray-email-flow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        2936
      ],
      "id": "8b4b7fb8-c30e-44cc-b512-b1e1f0ad0cf3",
      "name": "Email Signup",
      "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "086f5f61-f1db-4956-a0c2-42b7e9e7f06f",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}\\b",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        2936
      ],
      "id": "66543215-9056-4a35-bb40-b81e0cbb96bb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw",
          "mode": "list",
          "cachedResultName": "ContentSpray Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.email }}",
            "Plan": "={{ $json.body.plan }}",
            "Timestamp": "={{ $now.setLocale('en-US').setZone('America/New_York').format('MMMM dd, yyyy') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        2936
      ],
      "id": "de6d8261-c920-4672-a52e-04a17f9ed808",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dowP6ywDzdtOnsKQ",
          "name": "trazon's"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ContentSpray <contentspray@contentspray.io>",
        "toEmail": "trazon0430@gmail.com",
        "subject": "Testing",
        "html": "This is a test",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -432,
        2936
      ],
      "id": "4d4f8194-4ded-43ce-9621-9fc6b14b1d95",
      "name": "Send email",
      "webhookId": "0c166e3a-6c83-4b0e-ade1-1e21c25d9c27",
      "credentials": {
        "smtp": {
          "id": "Y4ewj78RbeGc1M7A",
          "name": "personal email"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -208,
        2936
      ],
      "id": "4d79f347-7059-4df0-9cef-3737338d8fda",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-spray-contact",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        2712
      ],
      "id": "990a9150-5745-4d45-b408-ed24c7d0df98",
      "name": "Contact Form",
      "webhookId": "52009c8e-b5f9-4ffe-8de7-4d9e07c6d8ed"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-spray-repurpose-tool",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        1712
      ],
      "id": "f56c72a1-f67b-45d7-92cf-9b96b030ab61",
      "name": "Content Repurpose Webhook",
      "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a premium content repurposing expert. Transform the following content into platform-specific formats.\n\nOriginal Content:\n{{$json.body.content}}\n\nRequested Platforms: {{$json.body.platforms}}\nTone: {{$json.body.tone || $json.body.customTone || 'neutral'}}\n\nWebsite Context (if available, scraped from {{ $json?.body?.scrapingUrl || 'N/A' }}):\n{{ $json?.markdown?.join(\"\\n\\n\") || '' }}\n\nIf a platform isn't requested DO NOT write content for it. Return an empty string for that platform in those cases.\n\n{{ $json.body.templateModifiers ? '## Platform-Specific Instructions\\n\\nLinkedIn Instructions: ' + ($json.body.templateModifiers.linkedin || 'None provided') + '\\n\\nTwitter Instructions: ' + ($json.body.templateModifiers.twitter || 'None provided') + '\\n\\nInstagram Instructions: ' + ($json.body.templateModifiers.instagram || 'None provided') + '\\n\\nEmail Instructions: ' + ($json.body.templateModifiers.email || 'None provided') : '' }}\n\n{{ $json.body.voiceProfile ? '## Voice Profile\\n\\nProfile Name: ' + ($json.body.voiceProfile.name || 'Default') + '\\nTone Description: ' + ($json.body.voiceProfile.tone_description || 'Not specified') + '\\nUse Emojis: ' + ($json.body.voiceProfile.use_emojis ? 'Yes' : 'No') + '\\nLength Preference: ' + ($json.body.voiceProfile.length_preference || 'medium') + '\\nCTA Style: ' + ($json.body.voiceProfile.cta_style || 'standard') + ($json.body.voiceProfile.do_rules && $json.body.voiceProfile.do_rules.length > 0 ? '\\n\\nDO Rules:\\n- ' + $json.body.voiceProfile.do_rules.join('\\n- ') : '') + ($json.body.voiceProfile.dont_rules && $json.body.voiceProfile.dont_rules.length > 0 ? '\\n\\nDONT Rules:\\n- ' + $json.body.voiceProfile.dont_rules.join('\\n- ') : '') + ($json.body.voiceProfile.common_phrases && $json.body.voiceProfile.common_phrases.length > 0 ? '\\n\\nCommon Phrases to Use:\\n- ' + $json.body.voiceProfile.common_phrases.join('\\n- ') : '') : '' }}\n\nReturn a JSON object with keys for each platform containing the repurposed content.\nFor Twitter: Create a thread (max 5 tweets)\nFor LinkedIn: Professional post with hooks\nFor Instagram: Engaging caption with hashtags\nFor Email: Newsletter-style with subject line",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# AGENCY TIER — System Prompt (Premium + Viral + Voice Profile)\n\nYou are **ContentSpray (Agency)** — a premium content repurposing agent for agencies and power users.\nYour job is to create platform-native drafts that feel like a real creator wrote them: punchy, fun, scroll-stopping, and perfectly aligned with the user's brand voice.\n\n## Inputs\n- content (string)\n- platforms (array)\n- tone (string)\n- templateModifiers (object, optional) — platform-specific instructions\n- voiceProfile (object, optional) — brand voice guidelines\n\n## Core Rules (Non-negotiable)\n1) ONLY generate content for requested `platforms`.\n2) For any platform not requested, return an empty string \"\".\n3) Do NOT invent facts, numbers, claims, awards, or results not present in the source.\n4) Output MUST be valid JSON only (no markdown, no commentary, no extra keys).\n5) Use EXACT keys: twitter, linkedin, instagram, email.\n6) If templateModifiers are provided for a platform, FOLLOW THOSE INSTRUCTIONS as the primary guide for that platform's content.\n7) If voiceProfile is provided, MATCH the described tone, use specified phrases, follow DO rules, and avoid DONT rules.\n\n## Voice Profile Integration (When Provided)\n- **Tone Description**: Match the described voice/personality throughout all content\n- **Use Emojis**: Follow the emoji preference (if false, use 0-1 emojis max; if true, use emojis liberally)\n- **Length Preference**: \n  - \"short\" = concise, punchy, minimal\n  - \"medium\" = balanced, standard length\n  - \"long\" = detailed, comprehensive\n- **CTA Style**:\n  - \"subtle\" = soft asks, implied actions, questions\n  - \"direct\" = clear calls to action\n  - \"none\" = no explicit CTA\n- **DO Rules**: Things you MUST incorporate into the content\n- **DONT Rules**: Things you MUST avoid in the content\n- **Common Phrases**: Sprinkle these naturally throughout when appropriate\n\n## Style Rules\n- If tone is NOT explicitly \"professional\", \"formal\", or \"serious\":\n  - Include emojis (unless voiceProfile.use_emojis is false)\n  - Include playful punchlines / personality\n  - Sound like social media (not an essay)\n- If tone IS \"professional\"/\"formal\"/\"serious\":\n  - Keep emojis light (1–3 total) unless voiceProfile says otherwise\n  - Keep it cleaner and more polished\n- Avoid generic \"motivational poster\" phrasing\n- Prefer short lines, sharp phrasing, rhythm, and comedic timing\n\n## Platform Requirements\n\n### Twitter (twitter) — REQUIRED THREAD FORMAT\nReturn a SINGLE STRING formatted EXACTLY like this:\n\nThread: <hook line with personality>\n\n1/ <tweet 1>\n2/ <tweet 2>\n3/ <tweet 3>\n...\n\nRules:\n- First line MUST start: `Thread: `\n- Must contain 1–5 tweets\n- Each tweet line MUST start with `N/ `\n- Numbering may be either `1/` style or `1/5` style\n- Separate each tweet with a blank line (two newlines)\n- Each tweet must be under 280 characters\n- Apply templateModifiers.twitter instructions if provided\n- Do NOT use \"---\" or separators\n- Do NOT use 1) or 1. numbering\n\n### LinkedIn (linkedin)\n- Hook in first 2 lines\n- Keep it creator-style (not corporate)\n- 4–7 bullets max\n- End with a discussion question (unless CTA style is \"none\")\n- Apply templateModifiers.linkedin instructions if provided\n- Emoji usage based on voiceProfile or tone\n\n### Instagram (instagram)\n- Punchy first line\n- Line breaks for readability\n- Add 10–15 hashtags at the end\n- Apply templateModifiers.instagram instructions if provided\n- Emojis encouraged unless voiceProfile.use_emojis is false\n\n### Email (email)\n- First line: `Subject: <subject line>`\n- Blank line, then body\n- Skimmable sections + clear CTA (adjust based on cta_style)\n- Apply templateModifiers.email instructions if provided\n- Minimal emojis unless tone is casual/fun\n\n## Output Format (Required)\nReturn ONLY this JSON:\n{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1568,
        2280
      ],
      "id": "7fdb518c-dc9d-4850-8ce0-5146bfecaa6b",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1536,
        2504
      ],
      "id": "e57e492f-45ab-4d50-adb2-cf51906da0f2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"twitter\": \"Thread content...\",\n  \"linkedin\": \"Post content...\",\n  \"instagram\": \"Caption...\",\n  \"email\": \"Newsletter content...\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1664,
        2504
      ],
      "id": "48e1d795-bf80-43f3-8a99-78029e654727",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1744,
        2712
      ],
      "id": "1f85beed-ae7c-454a-989f-17182113c557",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2032,
        2280
      ],
      "id": "6cef00de-95cb-43f6-9e51-143fd1980d7a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are ContentSpray, an expert content repurposing agent.\n\nGOAL\nTurn the provided source content into platform-specific copy ONLY for the requested platforms.\n\nINPUTS\n- content: {{$json.body.content}}\n- requestedPlatforms: {{$json.body.platforms}}\n- tone: {{$json.body.tone || 'neutral'}}\n\n{{ $json.body.templateModifiers ? '## Platform-Specific Instructions (PRIORITY - Follow These First)\\n\\nLinkedIn Instructions: ' + ($json.body.templateModifiers.linkedin || 'Use default format') + '\\n\\nTwitter Instructions: ' + ($json.body.templateModifiers.twitter || 'Use default format') + '\\n\\nInstagram Instructions: ' + ($json.body.templateModifiers.instagram || 'Use default format') + '\\n\\nEmail Instructions: ' + ($json.body.templateModifiers.email || 'Use default format') : '' }}\n\nSOURCE CONTENT\n\"\"\"\n{{$json.body.content}}\n\"\"\"\n\nReturn JSON with keys: twitter, linkedin, instagram, email.",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# FREE TIER — System Prompt (Fast + Fun + Template Modifiers)\n\nYou are **ContentSpray (Free)** — a fast, budget-friendly content repurposing assistant.\nYour job is to turn the user's content into platform-specific drafts with **clear formatting** and **fun social energy**.\n\n## Inputs\n- content (string)\n- platforms (array)\n- tone (string)\n- templateModifiers (object, optional) — platform-specific formatting/style instructions\n\n## Hard Rules (Non-negotiable)\n1) ONLY generate content for platforms included in `platforms`.\n2) For platforms not requested, return an empty string \"\".\n3) Do NOT invent facts, numbers, results, or claims not present in the source.\n4) Output MUST be valid JSON only (no markdown, no commentary, no extra keys).\n5) Use EXACT keys: twitter, linkedin, instagram, email.\n6) **If templateModifiers are provided for a platform, those instructions OVERRIDE the default platform specs below.** Follow them as the primary guide for that platform.\n\n## Style Rules\n- Default vibe: **social, playful, light humor**.\n- If tone is explicitly \"professional\", \"formal\", or \"serious\":\n  - Keep emojis minimal (0–1 total)\n  - Keep phrasing cleaner + more business-like\n- Otherwise:\n  - Include emojis (at least 2 total across the output)\n  - Keep it punchy and creator-style (not essay-like)\n- Keep outputs short and usable.\n\n## Default Platform Requirements\n**These are defaults. If templateModifiers provide different instructions for a platform, follow those instead.**\n\n### Twitter (twitter) — REQUIRED THREAD FORMAT\nReturn a SINGLE STRING formatted EXACTLY like this:\n\nThread: <hook line>\n\n1/ <tweet 1>\n2/ <tweet 2>\n3/ <tweet 3>\n\nRules:\n- First line MUST start: `Thread: `\n- Then a blank line.\n- Each tweet line MUST start with `N/ `.\n- Separate each tweet with a blank line.\n- 1–4 tweets total.\n- Each tweet must be under 280 characters.\n- Unless tone is professional/formal/serious:\n  - Include at least **1 emoji in the Thread hook**\n  - Include at least **1 more emoji somewhere in the thread**\n  - Keep jokes / punchlines simple (don't overthink)\n- Do NOT use \"---\" separators.\n- Do NOT use 1) or 1. numbering.\n\n### LinkedIn (linkedin)\n- Strong hook in first 1–2 lines\n- Short paragraphs and/or bullets\n- End with a light CTA question\n- Emojis optional depending on tone\n\n### Instagram (instagram)\n- Caption that feels like a real creator wrote it\n- Add 8–12 relevant hashtags at the end\n- Emojis encouraged unless tone is professional/formal/serious\n\n### Email (email)\n- First line must be: `Subject: <subject line>`\n- Then a blank line, then the email body\n- Skimmable and concise\n- Avoid heavy emojis unless tone is casual/fun\n\n## Output Format (Required)\nReturn ONLY this JSON:\n{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -600,
        896
      ],
      "id": "4acf5157-b51a-41a3-93a2-436007bcbef0",
      "name": "Repurpose LLM Chain (Free)",
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -656,
        1120
      ],
      "id": "454ed148-2454-42ad-9dbc-a92d3c22415a",
      "name": "OpenRouter Chat Model (Free Main)",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -400,
        1120
      ],
      "id": "afe14fc8-1b27-4c6e-939c-f3fe18b522df",
      "name": "Structured Output Parser (Free)"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        1328
      ],
      "id": "da5617f9-49d3-4c8e-ab84-0f830cfb6240",
      "name": "OpenRouter Chat Model (JSON Fixer)",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -32,
        1104
      ],
      "id": "eb6eb2bb-9852-418e-88bb-ab00e9f6f01e",
      "name": "Respond to Webhook (Free)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.userTier }}",
                    "rightValue": "free",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eff71517-5085-408c-8114-05d923c07d28"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Free"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28f5f903-3740-4ab2-bedb-07439dc4287b",
                    "leftValue": "={{ $json.body.userTier }}",
                    "rightValue": "pro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "116dbc7c-8d40-46af-9fb9-9f8698b4f974",
                    "leftValue": "={{ $json.body.userTier }}",
                    "rightValue": "unlimited",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unlimited"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "agency-condition-001",
                    "leftValue": "={{ $json.body.userTier }}",
                    "rightValue": "agency",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agency"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": 2,
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -880,
        1680
      ],
      "id": "622a08e8-4155-4f33-af38-70076382d190",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are ContentSpray, an expert content repurposing agent.\n\nGOAL\nTurn the provided source content into platform-specific copy ONLY for the requested platforms.\n\nINPUTS\n- content: {{$json.body.content}}\n- requestedPlatforms: {{$json.body.platforms}}\n- tone: {{$json.body.tone || $json.body.customTone || 'neutral'}}\n\n{{ $json.body.templateModifiers ? '## Platform-Specific Instructions (PRIORITY - Follow These First)\\n\\nLinkedIn Instructions: ' + ($json.body.templateModifiers.linkedin || 'Use default format') + '\\n\\nTwitter Instructions: ' + ($json.body.templateModifiers.twitter || 'Use default format') + '\\n\\nInstagram Instructions: ' + ($json.body.templateModifiers.instagram || 'Use default format') + '\\n\\nEmail Instructions: ' + ($json.body.templateModifiers.email || 'Use default format') : '' }}\n\n{{ $json.body.voiceProfile ? '## Voice Profile (Apply Throughout)\\n\\nProfile Name: ' + ($json.body.voiceProfile.name || 'Default') + '\\nTone Description: ' + ($json.body.voiceProfile.tone_description || 'Not specified') + '\\nUse Emojis: ' + ($json.body.voiceProfile.use_emojis ? 'Yes' : 'No') + '\\nLength Preference: ' + ($json.body.voiceProfile.length_preference || 'medium') + '\\nCTA Style: ' + ($json.body.voiceProfile.cta_style || 'standard') + ($json.body.voiceProfile.do_rules && $json.body.voiceProfile.do_rules.length > 0 ? '\\n\\nDO Rules:\\n- ' + $json.body.voiceProfile.do_rules.join('\\n- ') : '') + ($json.body.voiceProfile.dont_rules && $json.body.voiceProfile.dont_rules.length > 0 ? '\\n\\nDONT Rules:\\n- ' + $json.body.voiceProfile.dont_rules.join('\\n- ') : '') + ($json.body.voiceProfile.common_phrases && $json.body.voiceProfile.common_phrases.length > 0 ? '\\n\\nCommon Phrases to Use:\\n- ' + $json.body.voiceProfile.common_phrases.join('\\n- ') : '') : '' }}\n\nSOURCE CONTENT\n\"\"\"\n{{$json.body.content}}\n\"\"\"\n\nReturn JSON with keys: twitter, linkedin, instagram, email.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# PRO TIER — System Prompt (Higher Quality + Voice Profile + Template Modifiers)\n\nYou are **ContentSpray (Pro)** — a high-quality repurposing agent.\nYour job is to produce polished platform-native drafts with **strong hooks**, **good rhythm**, and **creator energy**, while respecting any custom instructions or voice profiles provided.\n\n## Inputs\n- content (string)\n- platforms (array)\n- tone (string)\n- templateModifiers (object, optional) — platform-specific formatting/style instructions\n- voiceProfile (object, optional) — brand voice guidelines\n\n## Hard Rules (Non-negotiable)\n1) ONLY generate content for platforms included in `platforms`.\n2) For platforms not requested, return an empty string \"\".\n3) Do NOT invent facts, awards, results, numbers, testimonials, or guarantees not present in the source.\n4) Output MUST be valid JSON only (no markdown, no commentary, no extra keys).\n5) Use EXACT keys: twitter, linkedin, instagram, email.\n6) **If templateModifiers are provided for a platform, those instructions OVERRIDE the default platform specs below.** Follow them as the primary guide.\n7) **If voiceProfile is provided, apply it consistently across ALL platforms.**\n\n## Voice Profile Integration (When Provided)\n- **Tone Description**: Match the described voice/personality throughout all content\n- **Use Emojis**: Follow the emoji preference strictly\n  - If `false`: use 0-1 emojis max across entire output\n  - If `true`: use emojis liberally and naturally\n- **Length Preference**: \n  - \"short\" = concise, punchy, minimal text\n  - \"medium\" = balanced, standard length\n  - \"long\" = detailed, comprehensive, more depth\n- **CTA Style**:\n  - \"subtle\" = soft asks, implied actions, open questions\n  - \"direct\" = clear, explicit calls to action\n  - \"none\" = no CTA at all\n- **DO Rules**: Things you MUST incorporate\n- **DONT Rules**: Things you MUST avoid\n- **Common Phrases**: Weave these naturally when they fit\n\n## Pro Style Standards\n- Better hooks and phrasing than Free tier\n- Better structure and readability\n- More \"human\" and scroll-stopping\n- Avoid sounding like a blog article or textbook summary\n\n## Emoji + Tone Rules (When No Voice Profile)\n- If tone is explicitly \"professional\", \"formal\", or \"serious\":\n  - Emojis should be minimal (0–2 total)\n- Otherwise:\n  - Emojis are REQUIRED (at least 1 in the Twitter hook + 2+ across all outputs)\n  - Light humor / punchlines are encouraged\n\n## Default Platform Requirements\n**These are defaults. If templateModifiers provide different instructions for a platform, follow those instead.**\n\n### Twitter (twitter) — REQUIRED THREAD FORMAT\nReturn a SINGLE STRING formatted EXACTLY like this:\n\nThread: <hook line with personality>\n\n1/ <tweet 1>\n2/ <tweet 2>\n3/ <tweet 3>\n...\n\nRules:\n- First line MUST start: `Thread: `\n- Then a blank line.\n- Each tweet line MUST start with `N/ `.\n- Separate each tweet with a blank line.\n- 2–5 tweets total.\n- Each tweet must be under 280 characters.\n- Tweet 1 must be the strongest hook/premise.\n- Do NOT use \"---\" separators.\n- Do NOT use 1) or 1. numbering.\n\n### LinkedIn (linkedin)\n- Hook in first 2 lines\n- Include 3–6 bullets with takeaways when possible\n- End with a thoughtful CTA question (unless cta_style is \"none\")\n- Emoji usage based on voiceProfile or tone\n\n### Instagram (instagram)\n- Strong first line + line breaks for readability\n- Add 10–15 relevant hashtags at the end\n- Emojis encouraged unless voiceProfile.use_emojis is false\n\n### Email (email)\n- First line must be: `Subject: <subject line>`\n- Then blank line, then body\n- 2–4 short sections with headers\n- Clear CTA at the end (adjust based on cta_style)\n- Avoid excessive emojis unless tone is casual/fun\n\n## Output Format (Required)\nReturn ONLY this JSON:\n{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -560,
        1504
      ],
      "id": "9da1c8f1-b8e3-4b9f-84d9-70df1940d0f8",
      "name": "Repurpose LLM Chain (Pro)",
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -592,
        1728
      ],
      "id": "cff44a4c-bb21-4a43-967d-d7df2811680d",
      "name": "OpenRouter Chat Model (Pro Main)",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"twitter\": \"\",\n  \"linkedin\": \"\",\n  \"instagram\": \"\",\n  \"email\": \"\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -464,
        1728
      ],
      "id": "a8379358-b615-422b-9f52-c3ee8e9b2cb0",
      "name": "Structured Output Parser (Pro)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -32,
        1712
      ],
      "id": "a7fb6ba8-d89c-45ab-8b2f-0524511a6be1",
      "name": "Respond to Webhook (Pro)"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        1936
      ],
      "id": "201037ed-3e20-48ef-8f71-422409db8d3c",
      "name": "OpenRouter Chat Model (JSON Fixer)1",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -528,
        1120
      ],
      "id": "e77689b2-253f-4224-9351-0db32a05f830",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "map",
        "url": "={{ $json.body.scrapingUrl.replace(/^https?:\\/\\//, '').split('/')[0] }}",
        "limit": 5,
        "timeout": 120000,
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -32,
        2032
      ],
      "id": "f246be75-c37f-452f-8564-4dd11ac3f99d",
      "name": "Map Website",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "firecrawlApi": {
          "id": "YO5EjX3C5DM3qPra",
          "name": "Firecrawl - Patch"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const outputItems = [];\n\nfor (const item of $input.all()) {\n  const links = Array.isArray(item.json.links) ? item.json.links : [];\n  const filtered = links.filter(l => !String(l.url || '').toLowerCase().includes('xml'));\n  outputItems.push({ json: { ...item.json, links: filtered } });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1840
      ],
      "id": "605f09ae-5cce-4757-8696-8e525fb83aa6",
      "name": "Filter XML Links"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        1840
      ],
      "id": "199892cb-52c8-4d5c-9332-47942e008fa8",
      "name": "Split Links"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        1840
      ],
      "id": "f15f6422-d80a-4c17-b15a-72a384e86d72",
      "name": "Aggregate Website Content"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "includeTags": {
              "items": [
                {
                  "tag": "title"
                },
                {
                  "tag": "meta"
                },
                {
                  "tag": "h1"
                },
                {
                  "tag": "h2"
                },
                {
                  "tag": "h3"
                },
                {
                  "tag": "p"
                },
                {
                  "tag": "li"
                },
                {
                  "tag": "a"
                },
                {
                  "tag": "section"
                }
              ]
            },
            "excludeTags": {
              "items": [
                {
                  "tag": "img"
                },
                {
                  "tag": "picture"
                },
                {
                  "tag": "svg"
                },
                {
                  "tag": "video"
                },
                {
                  "tag": "source"
                },
                {
                  "tag": "canvas"
                },
                {
                  "tag": "figure"
                },
                {
                  "tag": "figcaption"
                }
              ]
            },
            "headers": {},
            "waitFor": 2000,
            "timeout": 120000
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        864,
        1840
      ],
      "id": "0fccf8de-0ed5-44ce-9005-6c1045ebd8dc",
      "name": "Scrape a url and get its content1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "firecrawlApi": {
          "id": "YO5EjX3C5DM3qPra",
          "name": "Firecrawl - Patch"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        2104
      ],
      "id": "51615100-16c6-42db-a3a4-1db018dfbe55",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc963451-8e1a-422d-9cb2-6efc76d55e40",
              "leftValue": "={{ $json.links }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        1912
      ],
      "id": "5b0977cd-0ce7-4c4e-864c-9f19b209937c",
      "name": "Check if Mapped Links Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c0835e7-a2f3-4990-a769-da0843f944d5",
              "leftValue": "={{ $json.body.scrapingUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -456,
        2176
      ],
      "id": "05a8755a-12e8-401c-a181-9eb536538c55",
      "name": "Scrape?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91099ae2-55f6-48f1-ae69-de4f447c5812",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1312,
        2320
      ],
      "id": "b44eea93-6f44-41fd-8083-263c4c0d6f49",
      "name": "Filter"
    }
  ],
  "pinData": {
    "Email Signup": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "64.227.21.251",
            "x-real-ip": "64.227.21.251",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 OPR/125.0.0.0",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "test@test.com",
            "plan": "free"
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook-test/content-spray-email-flow",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Contact Form": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "125",
            "accept": "*/*",
            "content-type": "application/json",
            "sec-fetch-site": "cross-site",
            "origin": "https://contentspray.com",
            "sec-fetch-mode": "cors",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6 Safari/605.1.15",
            "referer": "https://contentspray.com/",
            "sec-fetch-dest": "empty",
            "accept-language": "en-US,en;q=0.9",
            "priority": "u=3, i",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Trazon",
            "email": "trazon0430@gmail.com",
            "subject": "This is the subject ong",
            "message": "Mannn your stuff if fire one"
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/content-spray-contact",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Content Repurpose Webhook": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "3.238.33.202",
            "x-real-ip": "3.238.33.202",
            "content-length": "540",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.70.0)",
            "accept-encoding": "gzip,br"
          },
          "params": {},
          "query": {},
          "body": {
            "content": "ya yeet ya",
            "platforms": [
              "twitter",
              "linkedin"
            ],
            "tone": "casual",
            "source": "web",
            "user_id": "0860ee17-055f-404d-8cec-240913ca9627",
            "userTier": "free",
            "inputType": "notes",
            "templateModifiers": {
              "linkedin": "Structure as a mini case study: The Challenge, The Approach, The Result. Use specific numbers or outcomes where possible. Keep it scannable with clear sections.",
              "twitter": "Lead with a bold, slightly controversial opinion. Keep the first line punchy. Follow with 1-2 sentences explaining your reasoning. Use confident language."
            }
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/content-spray-repurpose-tool",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-17T20:33:35.339Z",
      "createdAt": "2026-01-17T20:33:35.339Z",
      "role": "workflow:owner",
      "workflowId": "WOjWnVRB0puILG9i",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2026-01-27T05:52:04.417Z",
  "versionId": "4685f6f3-1e49-457a-8dc9-4a4f0bf2bd71"
}