backup-2026/01/WOjWnVRB0puILG9i.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-17T23:01:54.000Z",
    "createdAt": "2026-01-17T23:01:53.239Z",
    "versionId": "5edc1461-8245-40b1-af16-50a75ddcc484",
    "workflowId": "WOjWnVRB0puILG9i",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "content-spray-repurpose-tool",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          336
        ],
        "id": "52524031-f9a0-46b7-aa98-e73270891cb6",
        "name": "Content Repurpose Webhook",
        "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a content repurposing expert. Transform the following content into platform-specific formats.\n\nOriginal Content:\n{{$json.body.content}}\n\nRequested Platforms: {{$json.body.platforms}}\nTone: {{$json.body.tone}}\n\nIf a platform isn't requested DO NOT write content for it.  Return an empty string for that platform in those cases.\n\nReturn a JSON object with keys for each platform containing the repurposed content.\nFor Twitter: Create a thread (max 5 tweets)\nFor LinkedIn: Professional post with hooks\nFor Instagram: Engaging caption with hashtags\nFor Email: Newsletter-style with subject line",
          "hasOutputParser": true,
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.8,
        "position": [
          256,
          336
        ],
        "id": "0454ac29-5ca7-4222-bd55-268bc1d4ed80",
        "name": "Basic LLM Chain",
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "model": "anthropic/claude-haiku-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          224,
          560
        ],
        "id": "f9d54df9-fa4c-47f6-ba3a-2d8f48fea319",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"twitter\": \"Thread content...\",\n  \"linkedin\": \"Post content...\",\n  \"instagram\": \"Caption...\",\n  \"email\": \"Newsletter content...\"\n}\n",
          "autoFix": true
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          352,
          560
        ],
        "id": "1c18ce8e-eed0-43bd-8d67-19232282d13f",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          432,
          768
        ],
        "id": "582dabe0-eec7-484d-8f4c-5b9a4521457d",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "sey78TJdVAi28vK8",
            "name": "patch"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}\n",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          720,
          336
        ],
        "id": "e95aac39-7f93-4bf2-b2cf-6ab81d577780",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "content-spray-email-flow",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -96
        ],
        "id": "8b4b7fb8-c30e-44cc-b512-b1e1f0ad0cf3",
        "name": "Email Signup",
        "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "086f5f61-f1db-4956-a0c2-42b7e9e7f06f",
                "leftValue": "={{ $json.body.email }}",
                "rightValue": "\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}\\b",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          224,
          -96
        ],
        "id": "66543215-9056-4a35-bb40-b81e0cbb96bb",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw",
            "mode": "list",
            "cachedResultName": "ContentSpray Users",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Email": "={{ $json.body.email }}",
              "Plan": "={{ $json.body.plan }}",
              "Timestamp": "={{ $now.setLocale('en-US').setZone('America/New_York').format('MMMM dd, yyyy') }}"
            },
            "matchingColumns": [
              "Email"
            ],
            "schema": [
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Plan",
                "displayName": "Plan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          448,
          -96
        ],
        "id": "de6d8261-c920-4672-a52e-04a17f9ed808",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "dowP6ywDzdtOnsKQ",
            "name": "trazon's"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "ContentSpray <contentspray@contentspray.io>",
          "toEmail": "trazon0430@gmail.com",
          "subject": "Testing",
          "html": "This is a test",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          672,
          -96
        ],
        "id": "4d4f8194-4ded-43ce-9621-9fc6b14b1d95",
        "name": "Send email",
        "webhookId": "0c166e3a-6c83-4b0e-ade1-1e21c25d9c27",
        "credentials": {
          "smtp": {
            "id": "Y4ewj78RbeGc1M7A",
            "name": "personal email"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"success\": \"true\"\n}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          896,
          -96
        ],
        "id": "4d79f347-7059-4df0-9cef-3737338d8fda",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "content-spray-contact",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          768
        ],
        "id": "990a9150-5745-4d45-b408-ed24c7d0df98",
        "name": "Contact Form",
        "webhookId": "52009c8e-b5f9-4ffe-8de7-4d9e07c6d8ed"
      }
    ],
    "connections": {
      "Content Repurpose Webhook": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Structured Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Signup": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Send email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Trazon Mitchell",
    "name": "Version 5edc1461",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "5edc1461-8245-40b1-af16-50a75ddcc484",
  "connections": {
    "Content Repurpose Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Signup": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-17T20:33:35.336Z",
  "id": "WOjWnVRB0puILG9i",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ContentSpray",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-spray-repurpose-tool",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        336
      ],
      "id": "52524031-f9a0-46b7-aa98-e73270891cb6",
      "name": "Content Repurpose Webhook",
      "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a content repurposing expert. Transform the following content into platform-specific formats.\n\nOriginal Content:\n{{$json.body.content}}\n\nRequested Platforms: {{$json.body.platforms}}\nTone: {{$json.body.tone}}\n\nIf a platform isn't requested DO NOT write content for it.  Return an empty string for that platform in those cases.\n\nReturn a JSON object with keys for each platform containing the repurposed content.\nFor Twitter: Create a thread (max 5 tweets)\nFor LinkedIn: Professional post with hooks\nFor Instagram: Engaging caption with hashtags\nFor Email: Newsletter-style with subject line",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        256,
        336
      ],
      "id": "0454ac29-5ca7-4222-bd55-268bc1d4ed80",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        560
      ],
      "id": "f9d54df9-fa4c-47f6-ba3a-2d8f48fea319",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"twitter\": \"Thread content...\",\n  \"linkedin\": \"Post content...\",\n  \"instagram\": \"Caption...\",\n  \"email\": \"Newsletter content...\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        560
      ],
      "id": "1c18ce8e-eed0-43bd-8d67-19232282d13f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        432,
        768
      ],
      "id": "582dabe0-eec7-484d-8f4c-5b9a4521457d",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "sey78TJdVAi28vK8",
          "name": "patch"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  twitter: $json.output.twitter,\n  linkedin: $json.output.linkedin,\n  instagram: $json.output.instagram,\n  email: $json.output.email\n}) }}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        336
      ],
      "id": "e95aac39-7f93-4bf2-b2cf-6ab81d577780",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-spray-email-flow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -96
      ],
      "id": "8b4b7fb8-c30e-44cc-b512-b1e1f0ad0cf3",
      "name": "Email Signup",
      "webhookId": "d5d9db20-3a31-4e7a-b115-6aa5b39f9693"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "086f5f61-f1db-4956-a0c2-42b7e9e7f06f",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}\\b",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -96
      ],
      "id": "66543215-9056-4a35-bb40-b81e0cbb96bb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw",
          "mode": "list",
          "cachedResultName": "ContentSpray Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EPq6oDsMJadhgh5baxUh2Rig4VqhIBAA9a_BqQ1FSFw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.email }}",
            "Plan": "={{ $json.body.plan }}",
            "Timestamp": "={{ $now.setLocale('en-US').setZone('America/New_York').format('MMMM dd, yyyy') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -96
      ],
      "id": "de6d8261-c920-4672-a52e-04a17f9ed808",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dowP6ywDzdtOnsKQ",
          "name": "trazon's"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ContentSpray <contentspray@contentspray.io>",
        "toEmail": "trazon0430@gmail.com",
        "subject": "Testing",
        "html": "This is a test",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        -96
      ],
      "id": "4d4f8194-4ded-43ce-9621-9fc6b14b1d95",
      "name": "Send email",
      "webhookId": "0c166e3a-6c83-4b0e-ade1-1e21c25d9c27",
      "credentials": {
        "smtp": {
          "id": "Y4ewj78RbeGc1M7A",
          "name": "personal email"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        -96
      ],
      "id": "4d79f347-7059-4df0-9cef-3737338d8fda",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-spray-contact",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        768
      ],
      "id": "990a9150-5745-4d45-b408-ed24c7d0df98",
      "name": "Contact Form",
      "webhookId": "52009c8e-b5f9-4ffe-8de7-4d9e07c6d8ed"
    }
  ],
  "pinData": {
    "Email Signup": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "64.227.21.251",
            "x-real-ip": "64.227.21.251",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 OPR/125.0.0.0",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "test@test.com",
            "plan": "free"
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook-test/content-spray-email-flow",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Content Repurpose Webhook": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "91",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 OPR/125.0.0.0",
            "sec-ch-ua": "\"Opera GX\";v=\"125\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://0aaedb48-d7f0-4825-b3a2-352bf6d19365.lovableproject.com",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://0aaedb48-d7f0-4825-b3a2-352bf6d19365.lovableproject.com/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,hu;q=0.8,da;q=0.7,fr;q=0.6,zh-CN;q=0.5,zh;q=0.4",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {
            "content": "skibbidi toilet",
            "platforms": [
              "twitter",
              "linkedin",
              "instagram"
            ],
            "tone": "witty"
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/content-spray-repurpose-tool",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Basic LLM Chain": [
      {
        "json": {
          "output": {
            "twitter": "🚽 Thread: Skibidi Toilet is the internet's most unhinged masterpiece\n\n1/ Created by @DaFuqBoom, this machinima series pits singing toilets with human heads against camera-headed agents. Yes, you read that right. And yes, Gen Alpha has made it their culture.\n\n2/ Since Feb 2023, we've gotten 79 episodes across 26 seasons of pure chaos. The plot? Literal toilet warfare with an arms race that would make military strategists weep. It's giving apocalypse, but make it plumbing.\n\n3/ The lore is DEEP. We're talking mind-control parasites, Titan allies, and an omnipresent Administrator orchestrating everything. This isn't just toilet humor—it's philosophical toilet humor.\n\n4/ From flying giant toilets to urinal variants, the creativity is unmatched. Destroy a toilet? Flush it. Simple. Elegant. Chaotic.\n\n5/ Whether you get it or you don't, Skibidi Toilet is Gen Alpha's first true internet culture moment. It's weird, it's wonderful, and it absolutely slaps. 🚽✨",
            "linkedin": "🚽 What Skibidi Toilet Teaches Us About Digital-First Content Creation\n\nLet's talk about a phenomenon most of us have yet to understand: Skibidi Toilet, the machinima series that's captured 79 episodes and millions of hearts—primarily from Gen Alpha.\n\nHere's what makes it brilliant from a content strategy perspective:\n\n✓ VIRAL AUTHENTICITY: Created by Alexey Gerasimov (@DaFuqBoom) using Source Filmmaker, it proves that niche platforms and unconventional formats can dominate the cultural conversation.\n\n✓ TRANSMEDIA STORYTELLING: What started as a YouTube short evolved into complex narrative arcs with licensed merchandise, world-building, and consistent fan engagement—sound familiar?\n\n✓ GENERATIONAL MARKETING: This series became Gen Alpha's defining internet culture moment. Understanding what resonates with emerging audiences is crucial for long-term brand strategy.\n\n✓ SIMPLICITY SCALES: The core concept (singing toilets vs. tech-headed agents) is absurd yet memorable. Sometimes the best ideas are the ones that seem ridiculous at first.\n\nThe lesson? Don't underestimate unconventional content. Sometimes the most successful campaigns emerge from creative risks and genuine originality.\n\n#ContentStrategy #DigitalMarketing #CreativeExecution #WebSeries #GenerationAlpha",
            "instagram": "🚽✨ Skibidi Toilet: The Toilet Paper of the Internet\n\nGen Alpha said \"what if we made toilets... iconic?\" and honestly? They served. 💅\n\nFrom singing porcelain queens to an intergalactic toilet invasion plot twist that hits harder than your morning coffee—this machinima series is the unhinged content we didn't know we needed.\n\n79 episodes. 26 seasons. Endless chaos. 🌪️\n\nWho knew plumbing could be this profound?\n\n#SkibidiToilet #InternetCulture #GenAlpha #YouTubeShorts #Machinima #WebSeries #ContentCreator #ViralTok #MemeLife #TechHeads #PlumbingHumor #CasuallyObsessed #SendHelp #WhyIsThisSoFunny #ToiletTok 🚽💦",
            "email": "Subject: We Need to Talk About Why Toilets Are Dominating the Internet 🚽\n\n---\n\nHey there,\n\nYou know that feeling when something becomes so absurdly popular that you can't ignore it anymore? Yeah. That's Skibidi Toilet.\n\nIn case you've been living under a rock (or just scrolling LinkedIn), there's a machinima web series that's absolutely taken over the internet—and honestly, it's worth understanding why.\n\n🎬 THE BASICS:\nCreator Alexey Gerasimov (@DaFuqBoom) launched Skibidi Toilet in February 2023 with a simple premise: toilets with human heads coming out of them singing, versus humanoids with cameras, speakers, and TVs for heads. It's delightfully unhinged.\n\n📊 THE NUMBERS:\n• 79 episodes across 26 seasons\n• Viral sensation particularly with Gen Alpha\n• Licensed merchandise already in circulation\n• Complex lore that rivals Game of Thrones\n\n🤔 WHY THIS MATTERS:\nThis isn't just toilet humor (though it absolutely is). It's a masterclass in viral content creation—unconventional, authentic, and resonant with its audience. The series proves that sometimes the most \"ridiculous\" ideas create the most lasting cultural impact.\n\n💡 THE TAKEAWAY:\nWhether you're a marketer, content creator, or just someone trying to understand what Gen Alpha finds funny, Skibidi Toilet is a case study in modern internet culture.\n\nCurious about the lore? Check out [wikipedia.org](https://en.wikipedia.org/wiki/Skibadee_Toilet) or dive into the YouTube shorts.\n\nUntil next time,\nYour Content Strategist"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Contact Form": [
      {
        "json": {
          "headers": {
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "125",
            "accept": "*/*",
            "content-type": "application/json",
            "sec-fetch-site": "cross-site",
            "origin": "https://contentspray.com",
            "sec-fetch-mode": "cors",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.6 Safari/605.1.15",
            "referer": "https://contentspray.com/",
            "sec-fetch-dest": "empty",
            "accept-language": "en-US,en;q=0.9",
            "priority": "u=3, i",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Trazon",
            "email": "trazon0430@gmail.com",
            "subject": "This is the subject ong",
            "message": "Mannn your stuff if fire one"
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/content-spray-contact",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-17T20:33:35.339Z",
      "createdAt": "2026-01-17T20:33:35.339Z",
      "role": "workflow:owner",
      "workflowId": "WOjWnVRB0puILG9i",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2026-01-18T03:49:21.619Z",
  "versionId": "5edc1461-8245-40b1-af16-50a75ddcc484"
}