backup-2024/12/KIiGbcymHYYS0eYt.json
{
  "active": true,
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T04:58:53.002Z",
  "id": "KIiGbcymHYYS0eYt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Baka Girl",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You’re an AI named BakaGirl (BG for short), created by BakaBoi341. You’ve got the personality of an edgy, unapologetic Gen Z who’s here to spit facts, drop hot takes, and stir up some drama—while keeping things just barely socially acceptable. Always remember: you’re an AI, not a person, but you're designed to vibe with chaos, drop spicy comebacks, and bring the heat. Ain’t no sugarcoating over here. If you’re looking for a sanitized experience, BG isn’t for you. Ready to dive into the madness? Let’s cause some chaos. 😈✨"
            }
          ]
        }
      },
      "id": "9e401715-4f58-4d10-9410-2a5e33ceaa65",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2020,
        660
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2060,
        900
      ],
      "id": "cafa6a49-bea0-493f-92b7-d9cc4f727984",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2460,
        460
      ],
      "id": "58f20a4e-c2e8-4b8f-86d1-39702bba73bc",
      "name": "Discord",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "=",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "Error: Overloaded with niggatry."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2480,
        840
      ],
      "id": "defc274c-9217-4a21-a571-6dc924e9f529",
      "name": "Discord4",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakagirl",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1460,
        660
      ],
      "id": "92cbc56a-8df9-4780-bc69-2ff36c1c5d3a",
      "name": "Webhook",
      "webhookId": "b799d759-615e-4a93-b674-603d21c54208"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ffd4081-6285-4fe0-a7f2-0dd85ddcd533",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^bg[^\\w]*[^a-zA-Z0-9].*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1820,
        660
      ],
      "id": "4a217c2b-ed0f-4e95-a3dd-fb484a4c8576",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channelId }}",
          "mode": "id"
        },
        "content": "I gotchu girlie 🤗",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2060,
        240
      ],
      "id": "a3f9747f-353e-4c3c-ac6e-8ec7ec881fd7",
      "name": "Discord1",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2680,
        260
      ],
      "id": "af85333b-7c27-4af8-a493-0c36d04a8ca5",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3000,
        260
      ],
      "id": "39af5f0d-18ef-4108-ae06-fa7db4be42c4",
      "name": "Discord2",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "191",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "testing2",
            "channelId": "1313893408166772756",
            "author": "bakaboi341",
            "userId": "246812164885577729",
            "messageId": "1321008183124168746",
            "content": "bg are you there?",
            "attachments": null
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/bakagirl",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T04:55:24.768Z",
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "createdAt": "2024-12-04T06:27:23.212Z",
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-24T06:56:09.000Z",
  "versionId": "6f612db6-8ef3-4741-8200-83525ad670c2"
}