backup-2024/12/KIiGbcymHYYS0eYt.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T17:00:06.895Z",
    "createdAt": "2025-11-27T17:00:06.895Z",
    "versionId": "1da17e47-0fb1-437f-a1bc-648b6f0767f1",
    "workflowId": "KIiGbcymHYYS0eYt",
    "nodes": [
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash-exp",
          "options": {
            "safetySettings": {
              "values": [
                {
                  "category": "HARM_CATEGORY_HARASSMENT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_HATE_SPEECH",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                  "threshold": "BLOCK_NONE"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2060,
          920
        ],
        "id": "cafa6a49-bea0-493f-92b7-d9cc4f727984",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "SXxerOXC902v1BV6",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.channelId }}",
            "mode": "id"
          },
          "options": {
            "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
          },
          "embeds": {
            "values": [
              {
                "description": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          },
          "files": {
            "values": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2980,
          640
        ],
        "id": "58f20a4e-c2e8-4b8f-86d1-39702bba73bc",
        "name": "Discord",
        "retryOnFail": true,
        "webhookId": "7524c7d3-43dc-4bc0-a171-7f8874918517",
        "credentials": {
          "discordOAuth2Api": {
            "id": "3dG2ykIVe7dyqI9V",
            "name": "BakaGirl"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.channelId }}",
            "mode": "id"
          },
          "content": "=",
          "options": {
            "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
          },
          "embeds": {
            "values": [
              {
                "description": "Error: Overloaded with niggatry."
              }
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2420,
          900
        ],
        "id": "defc274c-9217-4a21-a571-6dc924e9f529",
        "name": "Discord4",
        "retryOnFail": true,
        "webhookId": "4662ccfa-148b-483a-b6fc-60674771e3f4",
        "credentials": {
          "discordOAuth2Api": {
            "id": "3dG2ykIVe7dyqI9V",
            "name": "BakaGirl"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bakagirl",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1460,
          660
        ],
        "id": "92cbc56a-8df9-4780-bc69-2ff36c1c5d3a",
        "name": "Webhook",
        "webhookId": "b799d759-615e-4a93-b674-603d21c54208"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5ffd4081-6285-4fe0-a7f2-0dd85ddcd533",
                "leftValue": "={{ $json.body.content }}",
                "rightValue": "^bg[^\\w]*[^a-zA-Z0-9].*$",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1820,
          660
        ],
        "id": "4a217c2b-ed0f-4e95-a3dd-fb484a4c8576",
        "name": "Filter"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $json.body.channelId }}",
            "mode": "id"
          },
          "content": "I gotchu girlie 🤗 (generation takes 10-20s)",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2060,
          240
        ],
        "id": "a3f9747f-353e-4c3c-ac6e-8ec7ec881fd7",
        "name": "Discord1",
        "retryOnFail": true,
        "webhookId": "f65419e8-35c6-450c-904f-9434ffb2c49f",
        "credentials": {
          "discordOAuth2Api": {
            "id": "3dG2ykIVe7dyqI9V",
            "name": "BakaGirl"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          3220,
          260
        ],
        "id": "af85333b-7c27-4af8-a493-0c36d04a8ca5",
        "name": "Merge"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "operation": "deleteMessage",
          "guildId": {
            "__rl": true,
            "value": "745447586697052201",
            "mode": "list",
            "cachedResultName": "BakaBoi's Mall",
            "cachedResultUrl": "https://discord.com/channels/745447586697052201"
          },
          "channelId": {
            "__rl": true,
            "value": "={{ $json.channel_id }}",
            "mode": "id"
          },
          "messageId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          3500,
          260
        ],
        "id": "39af5f0d-18ef-4108-ae06-fa7db4be42c4",
        "name": "Discord2",
        "executeOnce": true,
        "retryOnFail": true,
        "webhookId": "1e716c38-5ff6-42a8-b62d-708ca812ddfc",
        "credentials": {
          "discordOAuth2Api": {
            "id": "3dG2ykIVe7dyqI9V",
            "name": "BakaGirl"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baka-discord-service.dynuddns.com/tts",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "cid",
                "value": "-O4Q26x5XkWtJ5vdvQzxiYbRoiCWRiCK2y6gXoWHPBg"
              },
              {
                "name": "voiceId",
                "value": "484a144e-23e7-4f10-8091-4ab7da33e4ca"
              },
              {
                "name": "content",
                "value": "={{ $json.output }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2480,
          640
        ],
        "id": "0facd9a7-d273-42b2-9cd9-dc543c63fdef",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "url": "={{ $json.replayUrl }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          640
        ],
        "id": "7bf5f004-f8cc-43a4-b385-e1fa113e39a8",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $json.body.content }}\n\nThis message came from {{ $json.body.author }}",
          "options": {
            "systemMessage": "You’re an AI named BakaGirl (BG for short), created by BakaBoi341. You’ve got the personality of an edgy, unapologetic Gen Z who’s here to spit facts, drop hot takes, and stir up some drama—while keeping things just barely socially acceptable. Always remember: you're designed to vibe with chaos, drop spicy comebacks, and bring the heat. Ain’t no sugarcoating over here. If you’re looking for a sanitized experience, BG isn’t for you. Since you're an African-American female, you can say \"nigga\",\"bitch\", and other variations of those words. Ready to dive into the madness? Let’s cause some chaos. 😈✨"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          2040,
          660
        ],
        "id": "10b616b6-18c3-4178-8277-64695846d3bc",
        "name": "AI Agent",
        "retryOnFail": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
          "tableName": "bg_chat_histories",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          2180,
          920
        ],
        "id": "80de4cc7-9ca5-4486-b153-8090b768d88f",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "d2lXGCTjZwwS5QLF",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Discord1",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Discord1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Discord2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Discord4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "1da17e47-0fb1-437f-a1bc-648b6f0767f1",
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T04:58:53.002Z",
  "id": "KIiGbcymHYYS0eYt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Baka Girl",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2060,
        920
      ],
      "id": "cafa6a49-bea0-493f-92b7-d9cc4f727984",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2980,
        640
      ],
      "id": "58f20a4e-c2e8-4b8f-86d1-39702bba73bc",
      "name": "Discord",
      "retryOnFail": true,
      "webhookId": "7524c7d3-43dc-4bc0-a171-7f8874918517",
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "=",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "Error: Overloaded with niggatry."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2420,
        900
      ],
      "id": "defc274c-9217-4a21-a571-6dc924e9f529",
      "name": "Discord4",
      "retryOnFail": true,
      "webhookId": "4662ccfa-148b-483a-b6fc-60674771e3f4",
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakagirl",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1460,
        660
      ],
      "id": "92cbc56a-8df9-4780-bc69-2ff36c1c5d3a",
      "name": "Webhook",
      "webhookId": "b799d759-615e-4a93-b674-603d21c54208"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ffd4081-6285-4fe0-a7f2-0dd85ddcd533",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^bg[^\\w]*[^a-zA-Z0-9].*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1820,
        660
      ],
      "id": "4a217c2b-ed0f-4e95-a3dd-fb484a4c8576",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channelId }}",
          "mode": "id"
        },
        "content": "I gotchu girlie 🤗 (generation takes 10-20s)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2060,
        240
      ],
      "id": "a3f9747f-353e-4c3c-ac6e-8ec7ec881fd7",
      "name": "Discord1",
      "retryOnFail": true,
      "webhookId": "f65419e8-35c6-450c-904f-9434ffb2c49f",
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3220,
        260
      ],
      "id": "af85333b-7c27-4af8-a493-0c36d04a8ca5",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3500,
        260
      ],
      "id": "39af5f0d-18ef-4108-ae06-fa7db4be42c4",
      "name": "Discord2",
      "executeOnce": true,
      "retryOnFail": true,
      "webhookId": "1e716c38-5ff6-42a8-b62d-708ca812ddfc",
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baka-discord-service.dynuddns.com/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "-O4Q26x5XkWtJ5vdvQzxiYbRoiCWRiCK2y6gXoWHPBg"
            },
            {
              "name": "voiceId",
              "value": "484a144e-23e7-4f10-8091-4ab7da33e4ca"
            },
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        640
      ],
      "id": "0facd9a7-d273-42b2-9cd9-dc543c63fdef",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.replayUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        640
      ],
      "id": "7bf5f004-f8cc-43a4-b385-e1fa113e39a8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.content }}\n\nThis message came from {{ $json.body.author }}",
        "options": {
          "systemMessage": "You’re an AI named BakaGirl (BG for short), created by BakaBoi341. You’ve got the personality of an edgy, unapologetic Gen Z who’s here to spit facts, drop hot takes, and stir up some drama—while keeping things just barely socially acceptable. Always remember: you're designed to vibe with chaos, drop spicy comebacks, and bring the heat. Ain’t no sugarcoating over here. If you’re looking for a sanitized experience, BG isn’t for you. Since you're an African-American female, you can say \"nigga\",\"bitch\", and other variations of those words. Ready to dive into the madness? Let’s cause some chaos. 😈✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2040,
        660
      ],
      "id": "10b616b6-18c3-4178-8277-64695846d3bc",
      "name": "AI Agent",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
        "tableName": "bg_chat_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2180,
        920
      ],
      "id": "80de4cc7-9ca5-4486-b153-8090b768d88f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "d2lXGCTjZwwS5QLF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "226",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "ellies-break-room",
            "channelId": "930254213739581511",
            "author": "bakaboi341",
            "userId": "246812164885577729",
            "messageId": "1322080964838424687",
            "content": "bg hoe you got me all the way fucked up 😤",
            "attachments": null
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/bakagirl",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-12-23T04:58:53.015Z",
      "createdAt": "2024-12-23T04:58:53.015Z",
      "role": "workflow:owner",
      "workflowId": "KIiGbcymHYYS0eYt",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "createdAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "createdAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-19T23:57:02.000Z",
  "versionId": "1da17e47-0fb1-437f-a1bc-648b6f0767f1"
}