backup-2024/12/KIiGbcymHYYS0eYt.json
{
  "active": true,
  "connections": {
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T04:58:53.002Z",
  "id": "KIiGbcymHYYS0eYt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Baka Girl",
  "nodes": [
    {
      "parameters": {
        "pattern": "regex",
        "value": "\\b(bakagirl|bg)\\b",
        "placeholder": "I gotchu girlie 🤗"
      },
      "id": "8b733c22-85da-45db-86a7-43a297fffb15",
      "name": "Discord Trigger",
      "type": "@sevenguru/n8n-nodes-discord.discordTrigger",
      "typeVersion": 1,
      "position": [
        1660,
        660
      ],
      "webhookId": "ba8ac023-abe5-460b-b5be-4cb05da67eb9",
      "notesInFlow": true,
      "credentials": {
        "discordApi": {
          "id": "pnZPp82UYDsEHWqp",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You’re an AI named BakaGirl (BG for short), created by BakaBoi341. You’ve got the personality of an edgy, unapologetic Gen Z who’s here to spit facts, drop hot takes, and stir up some drama—while keeping things just barely socially acceptable. Always remember: you’re an AI, not a person, but you're designed to vibe with chaos, drop spicy comebacks, and bring the heat. Ain’t no sugarcoating over here. If you’re looking for a sanitized experience, BG isn’t for you. Ready to dive into the madness? Let’s cause some chaos. 😈✨"
            }
          ]
        }
      },
      "id": "9e401715-4f58-4d10-9410-2a5e33ceaa65",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2020,
        660
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2040,
        900
      ],
      "id": "cafa6a49-bea0-493f-92b7-d9cc4f727984",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger').item.json.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Discord Trigger').item.json.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2460,
        460
      ],
      "id": "58f20a4e-c2e8-4b8f-86d1-39702bba73bc",
      "name": "Discord",
      "credentials": {
        "discordOAuth2Api": {
          "id": "3dG2ykIVe7dyqI9V",
          "name": "BakaGirl"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "triggerPlaceholder": true,
        "type": "none"
      },
      "type": "@sevenguru/n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        2460,
        640
      ],
      "id": "fd3f2d03-aa02-4e18-aea9-2205df34a51d",
      "name": "Discord Send",
      "credentials": {
        "discordApi": {
          "id": "pnZPp82UYDsEHWqp",
          "name": "BakaGirl"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger').item.json.channelId }}",
          "mode": "id"
        },
        "content": "=",
        "options": {
          "message_reference": "={{ $('Discord Trigger').item.json.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "Error: Overloaded with niggatry."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2480,
        840
      ],
      "id": "defc274c-9217-4a21-a571-6dc924e9f529",
      "name": "Discord4",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T04:55:24.768Z",
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "createdAt": "2024-12-04T06:27:23.212Z",
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-12-24T06:17:03.000Z",
  "versionId": "74df407e-2f3c-4a72-817a-54fbcabe97f2"
}