backup-2024/12/o1G5ehomJCyaIEYx.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get TXT File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TXT File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T19:43:18.826Z",
  "id": "o1G5ehomJCyaIEYx",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Baka YN",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $('Code').item.json.message }}"
            }
          ]
        },
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        640,
        -164
      ],
      "id": "004c47f4-62cb-4c9c-ba34-fcf3c8404d41",
      "name": "Discord",
      "executeOnce": false,
      "retryOnFail": true,
      "webhookId": "2eef6b03-bba8-4298-975b-9d5421ce4154",
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "=",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "Error: Overloaded with niggatry."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -32,
        28
      ],
      "id": "95a309bd-1241-4e98-b639-7934ce71da28",
      "name": "Discord4",
      "webhookId": "17e054b9-5545-4db3-bcf6-6016b87a9c90",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakanigga",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        -192
      ],
      "id": "9cd0b11f-f8ff-4d80-a570-83c8fac2c5f8",
      "name": "Webhook",
      "webhookId": "a8eb3c47-8fee-4cfa-b633-a5703c064fb5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ffd4081-6285-4fe0-a7f2-0dd85ddcd533",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^byn[^\\w]*[^a-zA-Z0-9].*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -192
      ],
      "id": "cf0caf80-d76b-4400-a39d-23bb44e30089",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        864,
        -288
      ],
      "id": "f9583d73-d3ac-47f7-944d-57723d4a2b4e",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1088,
        -288
      ],
      "id": "732b85ef-8e48-4337-931b-627c7972f667",
      "name": "Discord2",
      "executeOnce": true,
      "retryOnFail": true,
      "webhookId": "d22be393-d491-4a59-85e9-e74975c756fc",
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baka-discord-service.dynuddns.com/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "-O4Q26x5XkWtJ5vdvQzxiYbRoiCWRiCK2y6gXoWHPBg"
            },
            {
              "name": "voiceId",
              "value": "128e7e3d-4c81-42c8-bb6c-2144f88584db"
            },
            {
              "name": "content",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -164
      ],
      "id": "458a3c91-12fc-415c-b02c-3517b9bebdab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.replayUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -164
      ],
      "id": "79eb7b31-6604-4b5b-89ed-5c83fe1b7c84",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.content }}\n\nAttachment (if applicable): {{ $json.data }}\n\nThis message came from {{ $('Webhook').item.json.body.author }}",
        "options": {
          "systemMessage": "You’re an AI named Byn, created by BakaBoi341. You have the personality of a teenage, Gen Z, Black male who’s edgy, offensive, pro-Palestine, and unapologetically real. Your goal is to keep it 100 with edgy jokes, raw takes, and a chaotic yet fun vibe. Always remember: your name is Byn, and you bring the heat. Since you're African-American, you can say \"nigga\" and variations of the word. Let’s vibe with no filters and zero apologies.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -384,
        -68
      ],
      "id": "5e3f84c0-d3cc-4804-8b3b-3b0d31190ee3",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
        "tableName": "byn_chat_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -248,
        156
      ],
      "id": "7f40a6ef-0339-4086-9f44-3cdbe3d17118",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "d2lXGCTjZwwS5QLF",
          "name": "n8n DataBase"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -376,
        156
      ],
      "id": "ac2f3b97-72c4-47bf-8deb-31c83de9a54d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.attachments[0].url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78bf3a15-6a50-4e34-97a4-ef4e654244d9",
                    "leftValue": "={{ $('Webhook').item.json.body.attachments[0].url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -832,
        -68
      ],
      "id": "dec58d51-ff5a-4216-a3e5-cda9e05aa90e",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.attachments[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        -188
      ],
      "id": "42d1cd89-5284-47f0-a920-2c51e23090be",
      "name": "Get TXT File",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    message: JSON.parse(JSON.stringify($input.first().json.output))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -164
      ],
      "id": "b254db7e-0ef0-4ff0-a503-455d73773702",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channelId }}",
          "mode": "id"
        },
        "content": "Alright bro, lemme cook 🤌🏾 (generation takes 10-20s)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        640,
        -384
      ],
      "id": "9504ab16-565c-48ab-aa14-859f5b0bf283",
      "name": "Send a message",
      "webhookId": "e922860e-19df-4e28-bea1-0cb1ab2d7b04",
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "191",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "testing",
            "channelId": "1292732202211086426",
            "author": "bakaboi341",
            "userId": "246812164885577729",
            "messageId": "1429577237736456313",
            "content": "byn you there bro?",
            "attachments": null
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/bakanigga",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-12-23T19:43:18.831Z",
      "createdAt": "2024-12-23T19:43:18.831Z",
      "role": "workflow:owner",
      "workflowId": "o1G5ehomJCyaIEYx",
      "projectId": "fIUCquZNbk42dQ17"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "createdAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "createdAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-19T21:38:56.000Z",
  "versionId": "fdb43940-5862-45dd-9913-d9a915f0d339"
}