backup-2024/12/o1G5ehomJCyaIEYx.json
{
  "active": true,
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T19:43:18.826Z",
  "id": "o1G5ehomJCyaIEYx",
  "meta": null,
  "name": "Baka YN",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        100
      ],
      "id": "7de384d9-da1a-482c-b4f6-b1ac6a494562",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SXxerOXC902v1BV6",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}\n\nAuthor: {{ $json.body.author }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You’re an AI named Byn, created by BakaBoi341. You have the personality of a teenage, Gen Z, Black male who’s edgy, offensive, and unapologetically real. Your goal is to keep it 100 with edgy jokes, raw takes, and a chaotic yet fun vibe. Always remember: your name is Byn, and you’re not a person—just a next-level AI built to bring the heat. Let’s vibe with no filters and zero apologies. 💯🔥"
            }
          ]
        }
      },
      "id": "8bdffaff-ffdb-42f6-b8e9-f218da8e2e8e",
      "name": "Basic LLM Chain2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -340,
        -80
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $('Basic LLM Chain2').item.json.text }}"
            }
          ]
        },
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        760,
        -340
      ],
      "id": "004c47f4-62cb-4c9c-ba34-fcf3c8404d41",
      "name": "Discord",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "=",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "Error: Overloaded with niggatry."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        260,
        40
      ],
      "id": "95a309bd-1241-4e98-b639-7934ce71da28",
      "name": "Discord4",
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakanigga",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -80
      ],
      "id": "9cd0b11f-f8ff-4d80-a570-83c8fac2c5f8",
      "name": "Webhook",
      "webhookId": "a8eb3c47-8fee-4cfa-b633-a5703c064fb5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ffd4081-6285-4fe0-a7f2-0dd85ddcd533",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^byn[^\\w]*[^a-zA-Z0-9].*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -900,
        -80
      ],
      "id": "cf0caf80-d76b-4400-a39d-23bb44e30089",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channelId }}",
          "mode": "id"
        },
        "content": "Alright bro, lemme cook 🤌🏾 (generation takes 20-30s)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -640,
        -500
      ],
      "id": "9edefbb2-8109-4671-9fd7-28f6a1dd0073",
      "name": "Discord1",
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        -480
      ],
      "id": "f9583d73-d3ac-47f7-944d-57723d4a2b4e",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1300,
        -480
      ],
      "id": "732b85ef-8e48-4337-931b-627c7972f667",
      "name": "Discord2",
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "2Ec2rSOgohgNIpaO",
          "name": "Baka YN"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baka-discord-service.dynuddns.com/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "-O4Q26x5XkWtJ5vdvQzxiYbRoiCWRiCK2y6gXoWHPBg"
            },
            {
              "name": "voiceId",
              "value": "128e7e3d-4c81-42c8-bb6c-2144f88584db"
            },
            {
              "name": "content",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        -200
      ],
      "id": "458a3c91-12fc-415c-b02c-3517b9bebdab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -220
      ],
      "id": "79eb7b31-6604-4b5b-89ed-5c83fe1b7c84",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "215",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "ellies-break-room",
            "channelId": "930254213739581511",
            "author": "bakaboi341",
            "userId": "246812164885577729",
            "messageId": "1322084175439859724",
            "content": "Byn do you be with that gay shit?",
            "attachments": null
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/bakanigga",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T04:55:24.768Z",
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "createdAt": "2024-12-04T06:27:23.212Z",
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-27T09:35:39.000Z",
  "versionId": "d2641560-84b4-4bed-968a-2a3e5a8d7a15"
}