backup-2024/12/PXi7WZyivwt8ABtG.json
{
  "active": true,
  "connections": {
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-05T08:04:15.222Z",
  "id": "PXi7WZyivwt8ABtG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BakaPix",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"] }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        1360
      ],
      "id": "abf24f3c-efda-455c-9d8e-79dbc4d4b366",
      "name": "HTTP Request2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.body.content;\n\n// Remove the first word from the string\nconst modifiedContent = content.split(' ').slice(1).join(' ');\n\n// Wrap the escaped string in an object and return it in an array\nreturn [\n    { json: { content: modifiedContent } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1720
      ],
      "id": "1603670d-7270-42a6-8870-7687efaee223",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "="
            }
          ]
        },
        "files": {
          "values": [
            {},
            {
              "inputFieldName": "data_1"
            },
            {
              "inputFieldName": "data_2"
            },
            {
              "inputFieldName": "data_3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3940,
        1020
      ],
      "id": "39d63600-f96e-4d8d-8f24-983e5c753a04",
      "name": "Discord",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "vOJNgebaMgJjkLsk",
          "name": "BakaBoi (n8n)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=python -c \"from meta_ai_api import MetaAI; ai = MetaAI(fb_email='trazon0430@gmail.com', fb_password='Scientist#1'); resp = ai.prompt(message=\\\"imagine {{ $json.content }}\\\"); result = resp.get('media', []); [print(item['url']) for item in result if 'url' in item] or print(resp['message'])\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        1720
      ],
      "id": "bc1d4b80-6ef2-4e76-8925-0fc735495ee0",
      "name": "Execute Command",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function isValidURL(string) {\n    const regex = /^(https?:\\/\\/[^\\s$.?#].[^\\s]*)$/i; // A relaxed URL regex\n    return string.split(\"\\n\").map(url => {\n        if (regex.test(url)) {\n            return { json: { isValid: true, url: url } };\n        } else {\n            return { json: { isValid: false, input: url } };\n        }\n    });\n}\n\n\n// Example usage\nreturn isValidURL($input.first().json.stdout);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        1700
      ],
      "id": "6f6b3b3d-76bc-4e4c-8d3e-11e1f3500ea8",
      "name": "Code1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid URL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "474f78f3-4610-4a86-b437-c91589358f4e",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid URL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3000,
        1680
      ],
      "id": "5b180a80-3c4b-4780-ba20-5734d316123d",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "=There's some niggatry afoot. {{ $('Execute Command').item.json.stdout }}",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3360,
        1700
      ],
      "id": "9c63a90b-ba88-44e0-82d3-f7167aae6ff0",
      "name": "Discord1",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "vOJNgebaMgJjkLsk",
          "name": "BakaBoi (n8n)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3360,
        1340
      ],
      "id": "f4eb18fb-92c4-4ee1-aadf-67aafff87b7f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3620,
        1020
      ],
      "id": "6a116c1e-e3db-4e98-bde6-dc56718172c0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "There was an error bitch ass nigga <@246812164885577729>",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2420,
        1980
      ],
      "id": "2985b021-9ae8-40f0-b76a-72246f1907e5",
      "name": "Discord2",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-image",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1440,
        1720
      ],
      "id": "68df2aeb-9fdd-4ffb-96cb-a36a0b67fdc2",
      "name": "Webhook",
      "webhookId": "72433db7-d700-4473-8507-e261d4a0a2a8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ffd4081-6285-4fe0-a7f2-0dd85ddcd533",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^bbg[^\\w]*[^a-zA-Z0-9].*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1660,
        1720
      ],
      "id": "e1ac25f3-b6d7-4f26-b3a5-9c454f42886f",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.channelId }}",
          "mode": "id"
        },
        "content": "There was an error bitch ass nigga <@246812164885577729>",
        "options": {
          "message_reference": "={{ $('Webhook').item.json.body.messageId }}"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2800,
        1980
      ],
      "id": "5f907c25-a9e7-44ae-ac55-b75d69b4c73c",
      "name": "Discord3",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.body.channelId }}",
          "mode": "id"
        },
        "content": "alright nigga i'm on it (20-40s)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1920,
        1480
      ],
      "id": "f7cfb900-46fd-4ce6-bb13-8dc7d0151a94",
      "name": "Discord4",
      "retryOnFail": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4220,
        640
      ],
      "id": "2a6b385c-690e-4cc0-a903-a31cbb3ec8a8",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel_id }}",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        4440,
        640
      ],
      "id": "627bbedc-b620-4172-847e-86e137c2312c",
      "name": "Discord5",
      "executeOnce": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "UEztFF3QWknIwrx9",
          "name": "BakaBot"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "bakaflow.gleeze.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "75.177.85.65",
            "x-real-ip": "75.177.85.65",
            "content-length": "187",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "testing2",
            "channelId": "1313893408166772756",
            "author": "bakaboi341",
            "userId": "246812164885577729",
            "messageId": "1321017386295361576",
            "content": "bbg a unicorn",
            "attachments": null
          },
          "webhookUrl": "https://bakaflow.gleeze.com/webhook/generate-image",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T04:55:24.768Z",
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "createdAt": "2024-12-04T06:27:23.212Z",
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-24T07:43:11.000Z",
  "versionId": "8e89bd33-1d31-457c-9532-41f4ba6193b6"
}