backup-2024/12/PXi7WZyivwt8ABtG.json
{
  "active": true,
  "connections": {
    "Image Generation": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Send1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Send3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Send": {
      "main": [
        []
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Discord Send2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-05T08:04:15.222Z",
  "id": "PXi7WZyivwt8ABtG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BakaPix",
  "nodes": [
    {
      "parameters": {
        "pattern": "regex",
        "value": "\\b(bbg)\\b ",
        "placeholder": "alright nigga i'm on it (20-40s)"
      },
      "id": "c89accdb-3d5d-4d0b-be35-ecfc26ea53d6",
      "name": "Image Generation",
      "type": "@sevenguru/n8n-nodes-discord.discordTrigger",
      "typeVersion": 1,
      "position": [
        1340,
        1720
      ],
      "webhookId": "0d4b38c1-6a00-4391-b8e1-d94c9259112b",
      "notesInFlow": true,
      "credentials": {
        "discordApi": {
          "id": "dVLKY4fx8y4UbNxL",
          "name": "BakaBoi's Discord"
        }
      }
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"url\"] }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        1360
      ],
      "id": "abf24f3c-efda-455c-9d8e-79dbc4d4b366",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.content;\n\n// Remove the first word from the string\nconst modifiedContent = content.split(' ').slice(1).join(' ');\n\n// Wrap the escaped string in an object and return it in an array\nreturn [\n    { json: { content: modifiedContent } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        1720
      ],
      "id": "1603670d-7270-42a6-8870-7687efaee223",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Image Generation').item.json.channelId }}",
          "mode": "id"
        },
        "options": {
          "message_reference": "={{ $('Image Generation').item.json.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "="
            }
          ]
        },
        "files": {
          "values": [
            {},
            {
              "inputFieldName": "data_1"
            },
            {
              "inputFieldName": "data_2"
            },
            {
              "inputFieldName": "data_3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3940,
        1020
      ],
      "id": "39d63600-f96e-4d8d-8f24-983e5c753a04",
      "name": "Discord",
      "credentials": {
        "discordOAuth2Api": {
          "id": "vOJNgebaMgJjkLsk",
          "name": "BakaBoi (n8n)"
        }
      }
    },
    {
      "parameters": {
        "command": "=python -c \"from meta_ai_api import MetaAI; ai = MetaAI(fb_email='trazon0430@gmail.com', fb_password='Scientist#1'); resp = ai.prompt(message=\\\"imagine {{ $json.content }}\\\"); result = resp.get('media', []); [print(item['url']) for item in result if 'url' in item] or print(resp['message'])\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        1720
      ],
      "id": "bc1d4b80-6ef2-4e76-8925-0fc735495ee0",
      "name": "Execute Command",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function isValidURL(string) {\n    const regex = /^(https?:\\/\\/[^\\s$.?#].[^\\s]*)$/i; // A relaxed URL regex\n    return string.split(\"\\n\").map(url => {\n        if (regex.test(url)) {\n            return { json: { isValid: true, url: url } };\n        } else {\n            return { json: { isValid: false, input: url } };\n        }\n    });\n}\n\n\n// Example usage\nreturn isValidURL($input.first().json.stdout);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        1700
      ],
      "id": "6f6b3b3d-76bc-4e4c-8d3e-11e1f3500ea8",
      "name": "Code1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid URL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "474f78f3-4610-4a86-b437-c91589358f4e",
                    "leftValue": "={{ $json.isValid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid URL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3000,
        1680
      ],
      "id": "5b180a80-3c4b-4780-ba20-5734d316123d",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "745447586697052201",
          "mode": "list",
          "cachedResultName": "BakaBoi's Mall",
          "cachedResultUrl": "https://discord.com/channels/745447586697052201"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Image Generation').item.json.channelId }}",
          "mode": "id"
        },
        "content": "=There's some niggatry afoot. {{ $('Execute Command').item.json.stdout }}",
        "options": {
          "message_reference": "={{ $('Image Generation').item.json.messageId }}"
        },
        "embeds": {
          "values": [
            {
              "description": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3360,
        1700
      ],
      "id": "9c63a90b-ba88-44e0-82d3-f7167aae6ff0",
      "name": "Discord1",
      "credentials": {
        "discordOAuth2Api": {
          "id": "vOJNgebaMgJjkLsk",
          "name": "BakaBoi (n8n)"
        }
      }
    },
    {
      "parameters": {
        "triggerPlaceholder": true,
        "content": "There was an error bitch ass nigga",
        "mentionRoles": [
          "896572931109453855"
        ]
      },
      "id": "3e240e2b-e1bd-49da-a7c9-8181f07fdeec",
      "name": "Discord Send1",
      "type": "@sevenguru/n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        2440,
        1980
      ],
      "alwaysOutputData": false,
      "credentials": {
        "discordApi": {
          "id": "dVLKY4fx8y4UbNxL",
          "name": "BakaBoi's Discord"
        }
      }
    },
    {
      "parameters": {
        "triggerPlaceholder": true,
        "type": "none"
      },
      "type": "@sevenguru/n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        3940,
        1180
      ],
      "id": "dd9fc12d-1017-49a4-b15a-5a7ea43d626a",
      "name": "Discord Send",
      "credentials": {
        "discordApi": {
          "id": "dVLKY4fx8y4UbNxL",
          "name": "BakaBoi's Discord"
        }
      }
    },
    {
      "parameters": {
        "triggerPlaceholder": true,
        "type": "none"
      },
      "type": "@sevenguru/n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        3620,
        1700
      ],
      "id": "9941922f-1422-4ca1-93bd-6d67cee85cf5",
      "name": "Discord Send2",
      "credentials": {
        "discordApi": {
          "id": "dVLKY4fx8y4UbNxL",
          "name": "BakaBoi's Discord"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3360,
        1340
      ],
      "id": "f4eb18fb-92c4-4ee1-aadf-67aafff87b7f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3620,
        1020
      ],
      "id": "6a116c1e-e3db-4e98-bde6-dc56718172c0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "triggerPlaceholder": true,
        "content": "There was an error bitch ass nigga",
        "mentionRoles": [
          "896572931109453855"
        ]
      },
      "id": "84c1515d-167e-4710-92e1-e4b67dee2941",
      "name": "Discord Send3",
      "type": "@sevenguru/n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        2880,
        1960
      ],
      "alwaysOutputData": false,
      "credentials": {
        "discordApi": {
          "id": "dVLKY4fx8y4UbNxL",
          "name": "BakaBoi's Discord"
        }
      }
    }
  ],
  "pinData": {
    "Image Generation": [
      {
        "json": {
          "content": "bbg a unicorn",
          "guild": {
            "id": "745447586697052201",
            "name": "BakaBoi's Mall",
            "icon": "b12438c2847c84537ed6457bb0af0d37",
            "features": [
              "SOUNDBOARD",
              "CHANNEL_ICON_EMOJIS_GENERATED",
              "AUTO_MODERATION"
            ],
            "commands": [],
            "members": [
              "830530156048285716",
              "246812164885577729",
              "256153524444856320",
              "305117734553911297",
              "349614235313111041",
              "399252178260197377",
              "420384309258747905",
              "503720029456695306",
              "544689462601449472",
              "547905866255433758",
              "573852598881222666",
              "646937666251915264",
              "692045914436796436",
              "709271563110973451",
              "735682332337635329",
              "770820729485918240",
              "782272697262276618",
              "787789079227006976",
              "903664916815294505",
              "940615401128210512",
              "941398038612676728",
              "974678337152778323",
              "1279221421616140440",
              "1306443523553366090",
              "1309914844413300736",
              "1313732843385655326",
              "1314767794012819540"
            ],
            "channels": [
              "745447587536044183",
              "745447587536044186",
              "895907550183186452",
              "895913416026386472",
              "896036666387599422",
              "896036746310086688",
              "896577413838934106",
              "896596131566473266",
              "896608508559106118",
              "930253950840623194",
              "930254213739581511",
              "930254481885655100",
              "938987853310984242",
              "1277511551837802526",
              "1277830946913128458",
              "1277832318806917153",
              "1279874646400827483",
              "1280344577433272330",
              "1292732202211086426",
              "1312104951547433022",
              "1313893408166772756"
            ],
            "bans": [],
            "roles": [
              "745447586697052201",
              "895903813926551573",
              "896532965876699186",
              "896572931109453855",
              "896578045450809385",
              "896581571493117954",
              "896591019376787496",
              "1040455955017650251",
              "1064768977609433161",
              "1141234209613160568",
              "1280347031444918315",
              "1281461626398310480",
              "1281634028037865549",
              "1292730070909321270",
              "1306452076175298621",
              "1313739544146874451"
            ],
            "stageInstances": [],
            "invites": [],
            "scheduledEvents": [],
            "autoModerationRules": [],
            "shardId": 0,
            "splash": null,
            "banner": null,
            "description": null,
            "verificationLevel": 2,
            "vanityURLCode": null,
            "nsfwLevel": 0,
            "premiumSubscriptionCount": 0,
            "discoverySplash": null,
            "memberCount": 27,
            "large": false,
            "premiumProgressBarEnabled": false,
            "applicationId": null,
            "afkTimeout": 300,
            "afkChannelId": null,
            "systemChannelId": "1280344577433272330",
            "premiumTier": 0,
            "widgetEnabled": null,
            "widgetChannelId": null,
            "explicitContentFilter": 0,
            "mfaLevel": 0,
            "joinedTimestamp": 1731552847703,
            "defaultMessageNotifications": 0,
            "systemChannelFlags": 0,
            "maximumMembers": 250000,
            "maximumPresences": null,
            "maxVideoChannelUsers": 25,
            "maxStageVideoChannelUsers": 50,
            "approximateMemberCount": null,
            "approximatePresenceCount": null,
            "vanityURLUses": null,
            "rulesChannelId": null,
            "publicUpdatesChannelId": null,
            "preferredLocale": "en-US",
            "safetyAlertsChannelId": null,
            "ownerId": "246812164885577729",
            "emojis": [
              "1203112622300332072",
              "1203112727476965419"
            ],
            "stickers": [],
            "createdTimestamp": 1597798954415,
            "nameAcronym": "BM",
            "iconURL": "https://cdn.discordapp.com/icons/745447586697052201/b12438c2847c84537ed6457bb0af0d37.webp",
            "splashURL": null,
            "discoverySplashURL": null,
            "bannerURL": null
          },
          "channelId": "1313893408166772756",
          "userId": "246812164885577729",
          "userName": "bakaboi341",
          "userTag": "bakaboi341",
          "messageId": "1319892247499767888"
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "trazonm",
  "repo_path": "backup-",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T04:55:24.768Z",
      "updatedAt": "2024-11-15T04:55:24.768Z",
      "id": "fbNR3j10OPFaIddI",
      "name": "discord"
    },
    {
      "createdAt": "2024-12-04T06:27:23.212Z",
      "updatedAt": "2024-12-04T06:27:23.212Z",
      "id": "kckGg4PTeUpEwe5c",
      "name": "ai"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-12-21T05:19:56.000Z",
  "versionId": "afb5db47-a0b3-4b94-893e-9733ea6c520f"
}